{# {% set assetDimensions = {
    "kw-logo-bw": 130, 
    "bell-gully": 374,
    "wisp_mono": 260,
    "catalyst_mono": 400,

    "matatuhi-mono": 400,
    "creative-nz-bw": 398,
    "otago-uni-logo": 246,
    "sky-logo-mono": 186,
    "stuff": 260,
    "uoa_h_black": 260,

    "vodafone-logo": 260,
    "vic-mono": 260,
    "kb_logo_black": 130,
    "spark-logo-bw": 320,


} %} #}


{% set assetDimensions = {

} %}


{% set assets = _Media.getAssetCollections() %}

{% set collectionId = null %}

{% for asset in assets %} 
    {% if asset['name'] | lower == "sponsor logos" | lower %} 
        {% set collectionId = asset['id'] %}
    {% endif %}
{% endfor %}


{% set logoArray = {} %}

{% if collectionId != null %}
    {% set sponsorLogos = _Media.get({'collections': collectionId}) %}
{% endif %}

{% for logo in sponsorLogos %}
    {% set image = {
        id: logo.cloudinary_public_id,
        cloudName: logo.cloudinary_cloud_name,
        path: logo.cdn_path,    
    } %}


    {% set width = assetDimensions[logo.title | lower] %}

    {% if width == null %}
        {% set width = 150 %}
    {% endif %}
    {% set url = _Media.getMediaUrl(image, width, 0, {'crop': 'fill', 'gravity': 'auto', "effect":'sharpen', 'quality': 100} ) %}
    {% set logo = logo | merge({"url": url}) %}
    {% set logoArray = logoArray | merge({(logo.title | lower): logo}) %}

{% endfor %}






<div class="container d-print-none u-mobile-margin-top-60 u-tablet-margin-top-60">
 <p class="foundingpartners">With thanks to our partners</p>
 <section class="sponsor-logos2 j-sponsorlogos-exp">
     <div class="d-none d-md-block">
        <div class="logos">
            <a href="https://www.hyundai.co.nz" class="sponsor-hyundai" target="_blank" rel="noopener">
                <img src="{{logoArray['hyundai'].url}}" alt="Hyundai - EVs, Hybrids, and SUV's for New Zealand" />
            </a>
            <a href="https://www.bnz.co.nz/" class="sponsor-bnz" target="_blank" rel="noopener">
                <img src="{{logoArray['bnz'].url}}" alt="bnz logo" />
            </a>
            {# <a href="https://www.spark.co.nz" class="sponsor-spark" target="_blank" rel="noopener">
                <img src="{{logoArray['spark'].url}}" alt="spark logo" />
            </a> #}
            <a href="https://www.beca.co.nz/" class="sponsor-beca" target="_blank" rel="noopener">
                <img src="{{logoArray['beca'].url}}" alt="beca logo" />
            </a>
            <a href="http://www.bellgully.com" class="sponsor-bellgully" target="_blank" rel="noopener">
                <img src="{{logoArray['bell-gully'].url}}" alt="bell logo" />
            </a>
        </div>
        <div class="logos d-none">
            
            <a href="https://www.catalyst.net.nz" class="sponsor-catalyst d-none" target="_blank" rel="noopener">
                <img src="{{logoArray['catalyst_mono'].url}}" alt="catalyst logo" />
            </a>
        </div>
        <div class="logos">
            <a href="https://www.sky.co.nz/sport" class="sponsor-sky" target="_blank" rel="noopener">
                <img src="{{logoArray['sky-logo-mono'].url}}" alt="sky logo" />
            </a>
            <a href="http://www.victoria.ac.nz/capital-thinking" class="sponsor-wellington" target="_blank" rel="noopener">
                <img src="{{logoArray['vic-mono'].url}}" alt="wellington logo" />
            </a>
            <a href="https://www.auckland.ac.nz/en/about-us/about-the-university/our-ranking-and-reputation/New-Zealands-world-ranked-University.html" class="sponsor-auckland" target="_blank" rel="noopener">
                <img src="{{logoArray['auckland'].url}}" alt="auckland logo" />
            </a>
            <a href="https://www.otago.ac.nz" class="sponsor-otago" target="_blank" rel="noopener">
                <img src="{{logoArray['otago-uni-logo'].url}}" alt="otago logo" />
            </a>
            <a href="https://www.creative.govt.nz" class="sponsor-creative" target="_blank" rel="noopener">
                <img src="{{logoArray['creative'].url}}" alt="creative logo" />
            </a>
        </div>
        <div class="logos d-none">
            <a href="https://womeninsport.org.nz" class="sponsor-women d-none" target="_blank" rel="noopener">
                <img src="{{logoArray['women'].url}}" alt="women logo" />
            </a>
            
        </div>
         
         
     </div>












     <div class="container d-block d-md-none">
        {#<div class="logos">
            <a href="https://www.kiwibank.co.nz/personal-banking/credit-cards/low-interest-cards/low-rate-visa/?utm_source=newsroom&utm_display&utm_content=creditcards&utm_campaign=newsroom-partnership-2020" class="sponsor-kiwibank" target="_blank" rel="noopener">
                <img src="{{logoArray['kb_logo_black'].url}}" alt="kiwibank logo" />
            </a>
        </div>#}
        <div class="logos">
            <a href="https://www.hyundai.co.nz" class="sponsor-hyundai" target="_blank" rel="noopener">
                <img src="{{logoArray['hyundai'].url}}" alt="Hyundai - EVs, Hybrids, and SUV's for New Zealand" />
            </a>
        </div>

        <div class="logos u-margin-top-20">    
            <a href="https://www.bnz.co.nz/" class="sponsor-bnz" target="_blank" rel="noopener">
                <img src="{{logoArray['bnz'].url}}" alt="bnz logo" />
            </a>        
        </div>

        {# <div class="logos u-margin-top-20">
            <a href="https://www.kiwiwealth.co.nz/home" class="sponsor-kiwiwealth" target="_blank" rel="noopener">
                <img src="{{logoArray['kw-logo-bw'].url}}" alt="kiwiwealth logo" />
            </a>
        </div> #}
        {# <div class="logos u-margin-top-20">
            <a href="https://www.spark.co.nz" class="sponsor-spark" target="_blank" rel="noopener">
                <img src="{{logoArray['spark'].url}}" alt="spark logo" />
            </a>
        </div> #}

        <div class="logos u-margin-top-20">
            <a href="https://www.beca.co.nz/" class="sponsor-beca" target="_blank" rel="noopener">
                <img src="{{logoArray['beca'].url}}" alt="Beca logo" />
            </a>
        </div>


        <div class="logos u-margin-top-20 d-none">
            <a href="https://www.catalyst.net.nz" class="sponsor-catalyst" target="_blank" rel="noopener">
                <img src="{{logoArray['catalyst_mono'].url}}" alt="catalyst logo" />
            </a>
        </div>

        


        
        <div class="logos u-margin-top-20">
            <a href="http://www.bellgully.com" class="sponsor-bellgully" target="_blank" rel="noopener">
                <img src="{{logoArray['bell-gully'].url}}" alt="bellgully logo" />
            </a>
        </div>
       
        <div class="logos">
            <a href="https://www.sky.co.nz/sport" class="sponsor-sky" target="_blank" rel="noopener">
                <img src="{{logoArray['sky-logo-mono'].url}}" alt="sky logo" />
            </a>
        </div>


        <div class="logos u-margin-top-20">
            <a href="http://www.victoria.ac.nz/capital-thinking" class="sponsor-vic-uni-wellington" target="_blank" rel="noopener">
                <img src="{{logoArray['vic-mono'].url}}" alt="vic uni wellington logo" />

            </a>
        </div>
        <div class="logos">        
            <a href="https://www.auckland.ac.nz/en/about-us/about-the-university/our-ranking-and-reputation/New-Zealands-world-ranked-University.html" class="sponsor-uni-auckland" target="_blank" rel="noopener">
                <img src="{{logoArray['auckland'].url}}" alt="University of Auckland logo" />

            </a>
        </div>
        <div class="logos u-margin-top-20">
            <a href="https://www.otago.ac.nz" class="sponsor-uni-otago" target="_blank" rel="noopener">
                <img src="{{logoArray['otago-uni-logo'].url}}" alt="uni otago logo" />

            </a>
        </div>



        {# <div class="logos u-margin-top-40">
            <a href="https://womeninsport.org.nz" class="sponsor-wispa" target="_blank" rel="noopener">
                <img src="{{logoArray.women.url}}" alt="Kiwi bank logo" />
            </a>
        </div> #}
        {# <div class="logos">
            <a href="https://www.matatuhifoundation.co.nz" class="sponsor-matatuhi" target="_blank" rel="noopener">
                <img src="{{logoArray['matatuhi-mono'].url}}" alt="matatuhi logo" />
            </a>
        </div> #}
        <div class="logos">
            <a href="https://www.creative.govt.nz" class="sponsor-creative-nz" target="_blank" rel="noopener">
                <img src="{{logoArray['creative'].url}}" alt="creative-nz logo" />
            </a>
        </div>
     </div>
 </section>  
</div>