<div class="col-sm-12">
    <section class="future-learning">
        <header>

            <a href="{{ sections['futurelearning'].link }}">
                <img src="{{networkData.templatePath}}/static/images/futurelearning-logo.svg" alt="Future learning" class="img-fluid">
            </a>

            <div class="future-learning-sponsors">
                <p>Sponsored by</p>
                <a href="http://www.victoria.ac.nz/capital-thinking" target="_blank"><img src="{{networkData.templatePath}}/static/images/VIC-LOGO-Landscape-Green.svg?ver=1" alt="vicuni"></a>
                <a href="https://www.auckland.ac.nz/en/about-us/about-the-university/our-ranking-and-reputation/New-Zealands-world-ranked-University.html" target="_blank"><img src="{{networkData.templatePath}}/static/images/logos/UOA-H-Blue.svg" alt="UOA" style="margin-left:5px"></a>
            </div><!-- .sponsors-->

        </header>
        <div class="row">
            {% for i in 0..2 %}
                {% if sections['futurelearning'].feed.articles[i] %}        
                    {{this.render('_single-article.twig', {
                    article: sections['futurelearning'].feed.articles[i], 
                    position: (articleCount+1), 
                    containerClass: 'col-sm-4 furturelearning', 
                    swap: 'false', 
                    imageSize: {width:92, height:100}
                }) | raw}}
                {% endif %}
            {% endfor %}

        </div><!-- .row-->


    </section><!-- .top-stories-->

</div><!-- .col-sm-12-->
