    
{% set articleFeed = sections['ideasroom'].feed.articles %}

{# rotate every n hours #}
{% set rotation  = 2 %}
{# rotate n amount of cards #}
{% set cardCount  = 3 %} 


{% set hour =  _AppHelper.getDefaultTimezoneDateTime(_AppHelper.getCurrentTimestampBasedOnTimezone(),'g') %}
{% set start = ( ( hour - (hour % rotation) ) / rotation ) % cardCount %}

{% set articles = [] %}
{% for i in 0 .. cardCount - 1 %}
    {% if start == cardCount %}
        {% set start = 0 %}
    {% endif %}
    {% set articles = articles | merge([articleFeed[start]]) %}
    {% set start = start + 1 %}
{% endfor %}

{% set assets = _Media.getAssetCollections() %}

{% set collectionId = null %}

{% for asset in assets %} 
    {% if asset['name'] | lower == "ideasroom logos" | lower %} 
        {% set collectionId = asset['id'] %}
    {% endif %}
{% endfor %}


{% set logoArray = {} %}

{% if collectionId != null %}
    {% set sponsorLogos = _Media.get({'collections': collectionId}) %}
{% endif %}

{% for logo in sponsorLogos %}
    {% set image = {
        id: logo.cloudinary_public_id,
        cloudName: logo.cloudinary_cloud_name,
        path: logo.cdn_path,    
    } %}

    {% set url = _Media.getMediaUrl(image, 200, 0, {'crop': 'fill', 'gravity': 'auto', "effect":'sharpen', 'quality': 100} ) %}
    {% set logo = logo | merge({"url": url}) %}
    {% set logoArray = logoArray | merge({(logo.title | lower): logo}) %}
{% endfor %}

 
 
 <section class="room-ideas">
     <header class="row">
         <a href="{{ sections['ideasroom'].link }}" class="col-sm-6 col-xs-12">
             <img src="{{networkData.templatePath}}/static/images/ideasroom-logo.svg?v=569" alt="ideas room" class="img-responsive ideas-logo">
         </a>
            <div class="future-learning-sponsors col-sm-6 col-xs-12">
                <a class="hidden-xs" href="https://www.otago.ac.nz/postgraduate/?utm_source=newsroom&utm_medium=banner&utm_campaign=postgraduate" target="_blank"><img src="{{logoArray['otago-uni-logo'].url}}" alt="otagouni" style="margin-left:5px"></a>
                <a class="hidden-xs" href="https://www.auckland.ac.nz/en/about-us/about-the-university/our-ranking-and-reputation/New-Zealands-world-ranked-University.html" target="_blank"><img src="{{logoArray['uoa-h-blue'].url}}" alt="UOA" style="margin-left:5px"></a>
                <a class="hidden-xs" href="http://www.victoria.ac.nz/capital-thinking" target="_blank"><img src="{{logoArray['vic-colour'].url}}" alt="vicuni"></a>
                <p>Sponsored by</p>
                <a class="visible-xs-block" href="http://www.victoria.ac.nz/capital-thinking" target="_blank"><img src="{{logoArray['vic-colour'].url}}" alt="vicuni"></a>
                <a class="visible-xs-block" href="https://www.auckland.ac.nz/en/about-us/about-the-university/our-ranking-and-reputation/New-Zealands-world-ranked-University.html" target="_blank"><img src="{{logoArray['uoa-h-blue'].url}}" alt="UOA" style="margin-left:5px"></a>
                <a class="visible-xs-block" href="https://www.otago.ac.nz/postgraduate/?utm_source=newsroom&utm_medium=banner&utm_campaign=postgraduate" target="_blank"><img src="{{logoArray['otago-uni-logo'].url}}" alt="otagouni" style="margin-left:5px"></a>
            </div><!-- .sponsors-->
     </header>

    {{this.render('_single-article.twig', {
        article: articles[0], 
        position: 1, 
        containerClass: 'featured ideas', 
        imageSize: {width:1140, height:430},
        swap: 'false'
    }) | raw}}

     <div class="articles">
         
         <div class="row">
             
             {% for i in 1..2 %}
                 {% if articles[i] %}        
                    {{this.render('_single-article.twig', {
                        article: articles[i], 
                        position: i+1, 
                        containerClass: 'col-sm-12 col-md-6', 
                        imageSize: {width:203, height:129},
                        swap: 'false'
                    }) | raw}}
                 {% endif %}
             {% endfor %}

         </div><!-- .row-->
     </div>
 </section><!--room-sports-->
