 <section class="room-ideas">
     <header class="row">
         <a href="{{ sections['ideasroom'].link }}" class="col-sm-6 col-xs-12">
             <img src="{{networkData.templatePath}}/static/images/ideasroom-logo.svg" alt="ideas room" class="img-responsive ideas-logo">
         </a>
            <div class="future-learning-sponsors col-sm-6 col-xs-12">
                <a href="https://www.auckland.ac.nz/en/about-us/about-the-university/our-ranking-and-reputation/New-Zealands-world-ranked-University.html" target="_blank"><img src="{{networkData.templatePath}}/static/images/UOA-H-Blue.svg" alt="UOA" style="margin-left:5px"></a>
                <a href="http://www.victoria.ac.nz/capital-thinking" target="_blank"><img src="{{networkData.templatePath}}/static/images/VIC-LOGO-Landscape-Green.svg?ver=1" alt="vicuni"></a>
                <p>Sponsored by</p>
            </div><!-- .sponsors-->
     </header>

    {{this.render('_single-article.twig', {
        article: sections['ideasroom'].feed.articles[0], 
        position: 1, 
        containerClass: 'featured ideas', 
        imageSize: {width:1140, height:430},
        swap: 'false'
    }) | raw}}

     <div class="articles">
         
         <div class="row">
             
             {% for i in 1..2 %}
                 {% if sections['ideasroom'].feed.articles[i] %}        
                    {{this.render('_single-article.twig', {
                        article: sections['ideasroom'].feed.articles[i], 
                        position: i+1, 
                        containerClass: 'col-sm-12 col-md-6', 
                        imageSize: {width:203, height:129},
                        swap: 'false'
                    }) | raw}}
                 {% endif %}
             {% endfor %}

         </div><!-- .row-->
     </div>
 </section><!--room-sports-->
