<div class="subscribe-pro-banner subscribe-pro-banner@sm u-margin-bottom-20">
    <div class="container">
        <div class="subscribe-pro-banner__headshot-container subscribe-pro-banner__headshot-container@md u-float-left">
            <img  class="subscribe-pro-banner__headshot" src="{{networkData.templatePath}}/static/images/newsroom_pro_headshot.jpg" alt="">
        </div>


        <div class="subscribe-pro-banner__logo-container subscribe-pro-banner__logo-container@md u-float-left">
            <a href="{{networkData.defaultBlogUrl}}/about-pro"><img  class="subscribe-pro-banner__logo" src="{{networkData.templatePath}}/static/images/newsroom_pro_logo.svg?v=2" alt="newsroom pro"></a>
        </div>

        <p class="subscribe-pro-banner__p subscribe-pro-banner__p@md u-float-left">Our subscription service <br class="visible-xs-block" /> for corporate clients</p>

        <div class="subscribe-pro-banner__link u-float-left">
            <a class="subscribe-pro-banner__a" href="{{networkData.defaultBlogUrl}}/about-pro">
                <img  class="subscribe-pro-banner__arrow" src="{{networkData.templatePath}}/static/images/newsroom_pro_arrow.svg" alt="get newsroom pro">
                <span class="subscribe-pro-banner__link-text">Get Pro</span>
            </a>
        </div>
    </div>

</div>
