<section class="pro-partial">
    <header class="pro-partial__header d-none d-md-flex">

        <a href="{{ sections['newsroom pro'].link }}" class="pro-partial__header__logo">
            <img src="{{networkData.templatePath}}/static/images/newsroom pro-logo.svg?v=572" alt="Newsroom Pro" class="img-fluid">
        </a>
        <p class=" pro-partial__header__text d-none d-lg-block">Our subscription service for in-depth political and business analysis – $6.70 a week for two users</p>
        <p class=" pro-partial__header__text d-block d-lg-none" style="margin-top: 5px;">In-depth political and business analysis <br />$6.70 a week for two users</p>
     </header>

    <header class="pro-partial__headermobile d-block d-md-none">
        <a href="{{ sections['newsroom pro'].link }}" class="pro-partial__header__logo">
            <img src="{{networkData.templatePath}}/static/images/newsroom pro-logo.svg?v=572" alt="Newsroom Pro">
            
        </a>
        <p class=" pro-partial__header__text">Our subscription service for business news</p>
    </header>

    {{this.render('_single-article.twig', {
        article         : sections['newsroom pro'].feed.articles[0],
        position        : 1, 
        containerClass  : 'featured pro', 
        imageSize       : {width:627, height:415},
        swap            : 'false'
    }) | raw}}

    <div class="articles">
        
        <div class="row">
            
            {% for i in 1..2 %}
                {% if sections['newsroom pro'].feed.articles[i] %}        
                    {{this.render('_single-article.twig', {
                        article         : sections['newsroom pro'].feed.articles[i], 
                        position        : i+1, 
                        containerClass  : 'col-md-12 col-lg-6', 
                        imageSize       : {width:203, height:129},
                        swap            : 'false'

                    }) | raw}}
                {% endif %}
            {% endfor %}

        </div><!-- .articles-->
    </div><!-- .row-->
</section><!--room-board-->

{# <section class="pro-partial">
    <header class="pro-partial__header d-none d-sm-block">

        <a href="{{ sections['newsroom pro'].link }}" class="pro-partial__header__logo">
            <img src="{{networkData.templatePath}}/static/images/newsroom pro-logo.svg?v=572" alt="Newsroom Pro" class="img-fluid">
            
        </a>
        <p class=" pro-partial__header__text">Our subscription service for business news</p>
     </header>
    <header class="pro-partial__headermobile visible-xs-block">
        <a href="{{ sections['newsroom pro'].link }}" class="pro-partial__header__logo">
            <img src="{{networkData.templatePath}}/static/images/newsroom pro-logo.svg?v=572" alt="Newsroom Pro">
            
        </a>
        <p class=" pro-partial__header__text">Our subscription service for business news</p>
    </header>
    
    <div class="pro-partial__row">
        {% for i in 0..1 if sections['newsroom pro'].feed.articles[i] %}
                 {{this.render('_single-article.twig', {
                     article: sections['newsroom pro'].feed.articles[i], 
                     position: i+1, 
                     containerClass: 'col-sm-6 card-pro-partial card-pro-partial-tablet card-pro-partial-mobile', 
                    imageSize: {width:170, height:129},
                     swap: 'false'
                 }) | raw}}
         {% endfor %}

    </div><!-- .row-->


</section><!-- .top-stories--> #}