{% import "partials/quotes.twig" as quotes %}


{{ set(this, 'title', article.title) }}
{% set networkData   = _Network.getNetworkData() %}
{% set blogData      = _Blog.getBlog() %}
{% set blogName      = blogData.title %}
{% set recentLabel    = 'Newsroom' %}


{{this.registerLinkTag({rel:'amphtml', href:_AppHelper.getServerUrl(false)~'?amp=1'})}}

{# {{this.registerJs("ArticleController.view();")}} #}
{{this.registerJs("HomeController.blog();")}}

{% set status = 'follow' %}
{% set text = 'Follow +' %}
{% set authorId = article.createdBy['id'] %}
{% set authorGUID = article.createdBy['guid'] %}

{% if not _User.isGuset() and _User.isUserFollowing('user', authorId)%}
    {% set status = 'unfollow' %}
    {% set text = 'Following -' %}
{% endif %}
{% set placeholder = 'https://placeholdit.imgix.net/~text?txtsize=33&txt=Loading&w=1160&h=538' %}
{% set imgWidth = 1140 %}
{% set imgHeight = 493 %}

{% set articleImg = false %}
{% if article.media|length > 0 %}
    {% set articleImg = true %}
{% endif %}

{% set profileImg = _Media.getMediaUrl(article.createdBy['media'], 100, 100, {radius: 'max', gravity: 'face', 'crop': 'thumb', type: 'user'}) %}

{% set publishDate = _AppHelper.getDefaultTimezoneDateTime(article.publishedDateTime,'F j, Y') %}
{% set updateDate = _AppHelper.getDefaultTimezoneDateTime(article.updatedDateTime,'F j, Y') %}

{% set updated = false %}

{% if article.publishedDateTime != article.updatedDateTime %}
    {% set updatedAgo = _AppHelper.getSecondsSincePublished(article.updatedDateTime) %}
    {% if updatedAgo < 86400 %}
        {% set updateDate = _AppHelper.getRelativeTime(article.updatedDateTime) ~ " ago" %}
    {% endif %}

    {% set updated = true %}

{% endif %}

{% set articleBlog = (article.blog.title) %}

{#  Get most recent articles for sports section if article published on Sportsroom
    For the rest get most recent network wide. #}
{% set recentParams = {'limit': 3, excludeArticleIds : article.id } %}
{% if articleBlog | lower == 'sportsroom' %}
    {% set recentLabel = blogName %}
    {% set recentParams = recentParams | merge({
        'blogId': blogData['id'],
    }) %}
{% endif %}
{% set recentArticles = _Article.getRecentArticles(recentParams) %}



    <main id="main" class="site-main" role="main">
       <article class="article-main">
            <div class="container">
               

                {% if articleImg %} 
                    {% set owl = ''%}
                    {% set owlClass = ''%}

                    {% if (article.media | length > 1) %}
                        {% set owl = 'owl-thumbnails'%}
                        {% set owlClass = 'owl-carousel owl-shep-theme owl-carousel__base'%}
                    {% endif %}

                    
                    <div id="{{owl}}" class="{{owlClass}}" data-slider-id="1">
                        {% for image in article.media %}
                            {% set articleImg = _Media.getMediaUrl(image,1094, 515, {'crop': 'fill', 'gravity': 'auto'} ) %}

                            <figure class="featured" data-hash="{{loop.index}}">
                                <img src="{{articleImg}}" class="img-responsive">
                                {% if image.type == 'video' %} 
                                    {% set mediaUrl = "" %}
                                    {% if image.media.isSystemVideo == 'TRUE'%}
                                        {% set mediaUrl = _Media.getMediaVideoUrl(image, 0, 0,{resource_type: 'video', format: 'mp4'})  %}
                                    {% endif %}

                                    <a  href="javascript:void(0)" 
                                        itemprop="video" 
                                        class="video-overlay video-player" 
                                        data-source="{{image.source}}" 
                                        data-video-id="{{image.videoId}}" 
                                        data-url="{{mediaUrl}}" 
                                        data-poster="{{image.path}}" 
                                        data-caption="{{article.title | raw}}">
                                        
                                        <div class="icons">
                                           <div class="icon"><i class="fa fa-play"></i></div>
                                        </div>
                                    </a>
                                {% endif %}
                                <figcaption>
                                    <p>{{image.caption}}</p>
                                </figcaption>
                            </figure>
                        {% endfor %}
                    </div>
                 {% endif %}

                <div id="owl-thumbs" class="owl-thumbs" data-slider-id="1" style="display:none">
                    {% for image in article.media %}
                        {% set articleImg = _Media.getMediaUrl(image,152, 95, {'crop': 'fill', 'gravity': 'auto'} ) %}
                        <img id="owl-{{loop.index}}" src="{{articleImg}}" class="owl-thumb-item">
                    {% endfor %}
                </div>





                <div class="page-content">
                    <div class="row">
                        <div class="col-md-8">
                            
                            <div class="content-wrapper">
                                <div class="content-block-top hidden-print">
                                    <a href="https://www.facebook.com/sharer/sharer.php?u={{article.url}}&title={{ article.title|url_encode }}" class="btn btn-post icon-facebook"></a
                                    ><a href="https://twitter.com/share?text={{ article.title|url_encode }}&url={{article.url}}" class="btn btn-tweet icon-twitter"></a
                                    ><a href="https://www.linkedin.com/shareArticle?mini=true&url={{article.url}}&title={{article.title|url_encode}}" class="btn btn-linkedin icon-linkedin"></a
                                    ><a href="mailto:?subject=Check%20out%20this%20article&body={{article.url}}" class="btn btn-email icon-mail"></a>
                                    
                                    {% if not _User.isGuest() %}
                                        <a href="{{article.editUrl}}" target="_blank" class="" style="margin-left:20px;padding-top:5px">Edit article</a>
                                    {% endif %}

                                    <div class="articleTimes">
                                        <time>{{ publishDate | upper }}</time>
                                        {% if updated %}
                                            <time class="updated">Updated {{ updateDate | upper }}</time>
                                        {% endif %}
                                    </div>
                                </div><!--content-block-top-->


                                <div class="content-author">
                                    <img src="{{ profileImg }}" alt="">
                                    <a href="{{_AppHelper.getUserProfileUrl(article.createdBy['username'])}}/posts">
                                        <h3>{{ article.createdBy['displayName'] }}</h3>
                                    </a>



                                    <p class="bio">{{ article.createdBy['bio'] }}</p>
                                    {% if article.createdBy['bio'] != "" %}
                                        <a class="bio-show-more showmore visible-xs-block hidden-print">Show more <span class="arrow down"></span></a>
                                    {% endif %}

                                </div><!-- .content-author-->

                                {% if article['createdBy']['coauthors'] %}
                                    {% for author in article['createdBy']['coauthors'] %}

                                        <div class="content-author">
                                            <img src="{{ _Media.getMediaUrl(author['media'], 100, 100, {radius: 'max', gravity: 'face', 'crop': 'thumb', type: 'user'}) }}" alt="">
                                            

                                            <a href="{{_AppHelper.getUserProfileUrl(author['username'])}}/posts">
                                                <h3>{{ author['displayName'] }}</h3>
                                            </a>

                                            <p class="bio">{{ author['bio'] }}</p>
                                            {% if author['bio'] != "" %}
                                                <a  class="bio-show-more showmore visible-xs-block hidden-print">Show more <span class="arrow down"></span></a>
                                            {% endif %}
                                        </div><!-- .content-author-->
                                    {% endfor %}
                                {% endif %}

                                {# <div class="content-author show-print" style="display:none;">
                                        <h3>{{ article.createdBy['displayName'] }}</h3>
                                        <h3>{{ author['displayName'] }}</h3>
                                </div> #}

                                <div class="article_content">
                                    <p class="article_content__section">{{article.label}}</p>
                                    <h1>{{ quotes.smarten(article.title) }}</h1>
                                    <p>{{ article.content   | preg_replace('/^<p>/', '<p class="lead">')
                                                            | _resizeImages({"width":750}) 
                                                            | replace({'https://pres.cloudinary.com': 'https://res.cloudinary.com'})
                                                            | raw }}</p>
                                    
                                </div><!-- .content-->
                            </div><!-- .content-->
                            

                            <div class="article-supoort">
                                <p class="article-supoort__text">Newsroom exists because of readers like you. Come and join our community of supporters today.</p>
                                <div id="pp-donate-button" class="hidden-print article-supoort__button"></div>
                            </div>
                     
                            <div class="comments hidden-print">
                                <h3>Comments</h3>
                                <p>
                                    Newsroom does not allow comments directly on this website. 
                                    We invite all readers who wish to discuss a story or leave 
                                    a comment to visit us on <a href="https://twitter.com/NewsroomNZ">Twitter</a> 
                                    or <a href="https://www.facebook.com/newsroomnz">Facebook</a>. We also welcome 
                                    your news tips and feedback via email: <a href="mailto:contact@newsroom.co.nz">contact@newsroom.co.nz</a>.
                                    Thank you.
                                </p>
                            </div><!-- .col-sm-8-->


                        </div><!-- .col-md-8-->


                        <div class="col-md-4">
                            <aside>

                                <section class="add sidebar-add ">

                                    <div id="newAdHalf"></div>
                                    
                                    <span class="add-text hidden-print" style="display:block;width:300px;margin:0 auto;padding-left:17px;">Advertisement</span>
                                </section>

                                <section class="sidebar-news" style="width:300px;margin:auto;">
                                    <header>
                                        <h3><span>Latest</span> on {{recentLabel}}</h3>
                                    </header>

                                    {% if recentArticles|length > 0 %}

                                        {% for i in 0..6 %}
                                            {% if recentArticles[i] %}
                                                {{this.render('partials/_single-article_recent.twig', {article: recentArticles[i], position: i+1, containerClass: '', swap: 'false'}) | raw}}
                                            {% endif %}
                                        {% endfor %}

                                    {% endif %}
                                </section><!-- .sidebar-news -->

                            
                            </aside>
                        </div><!-- .col-md-4-->
                    </div><!-- .row-->



                </div><!-- .page-content-->



            </div><!--container-->
            <script>loadTwoAds('{{articleBlog | lower}}')</script>
        </article>
        {{ this.render('partials/_sponsor_logos.twig') | raw }}
        
    </main><!--site-main-->

