{% import "partials/quotes.twig" as quotes %}


{{ set(this, 'title', article.title) }}

{% set networkData = getCache("networkData") %}
{% if (networkData is empty) %}
    {% set networkData = _Network.getNetworkData() %} 
    {% set cache = setCache("networkData", networkData, 500) %} 
{% endif %}




{% set blogData         = _Blog.getBlog() %}
{% set blogName         = blogData.title %}
{% set recentLabel      = 'Newsroom' %}
{% set proBlogId        = '' %}
{% set config           = _Network.getThemeConfig() %}
{% set adminUser        = _User.isAdminUser() %}
{% set guestUser        = _User.isGuest() %}


{% set content                  = article.content %}
{% set paywall_content_style    = "" %}
{% set newsroom_pro_style       = "" %}
{% set articleBlog              = article.blog.title | lower %}


{% set showPaywall = article.showPaywall is defined and not adminUser ? article.showPaywall : false %}

{# The below checks which message to show a user blocked by the paywall #}
{% set paywallType = "subscribe" %}
{% if showPaywall and not guestUser %}
    {% set pwstats = _User.getPaywallStats(false) %}
    {% set paywallType = "upgrade" %}
    
    {% if pwstats['type'] == 'article' %}
        {% set paywallType = "topup" %}
    {% elseif pwstats['type'] == 'time' %}
        {% set paywallType = "renew" %}
    {% elseif pwstats['type'] == 'signup' %}
        {% set paywallType = "signup" %}
    {% endif %}
{% endif %}

{% set paywallTestParam = (showPaywall == true) ? "paywall" : "article" %}

{% if showPaywall %}
    {% set newsroom_pro_style = "pro" %}

    {% for blog in networkData.networkBlogs %}
        {% if blog.title | lower == 'newsroom pro' %}
            {% set proBlogId = blog.id %}
        {% endif %}
    {% endfor %}

{% endif %}


{% set ppsrc = '//dashboard.presspatron.com/dev/banner?b=AbkE2e7ZwQgwLPFzVowC2cKm' %}
{% if articleBlog == 'lockerroom' %}
    {% set ppsrc = '//dashboard.presspatron.com/dev/banner?b=9Ac35CVe5uEb9P8vFFb5YjFu' %}
{% endif %}

    <script>
        (function(d) {
        var el, fjs = d.getElementsByTagName('script')[0];
            el = d.createElement('script');
            el.id = "js-pp-banner";
            el.src = "{{ppsrc}}";
            fjs.parentNode.insertBefore(el, fjs);
        }(document));
    </script>


{% if showPaywall %}
    {% set storySplit = article.content | split('</p>')  %}
    {% set para2      = storySplit[1] | slice(0, 190) ~ '</p>'  %}
    {% set content    = [storySplit[0], para2] | join('</p>') %}
    {% set paywall_content_style = "content-paywalled" %}
{% endif %}



{{this.registerLinkTag({rel:'amphtml', href:_AppHelper.getServerUrl(false)~'?amp=1'})}}



{% set articleImg = false %}
{% if article.media|length > 0 %}
    {% set articleImg = true %}
{% endif %}



{% set profileImg = _Media.getMediaUrl(article.createdBy['media'], 100, 100, {radius: 'max', gravity: 'face', 'crop': 'thumb', type: 'user'}) %}
{% set publishDate = _AppHelper.getDefaultTimezoneDateTime(article.publishedDateTime,'F j, Y') %}
{% set updateDate = _AppHelper.getDefaultTimezoneDateTime(article.updatedDateTime,'F j, Y') %}

{% set updated = false %}

{% if article.publishedDateTime != article.updatedDateTime %}
    {% set updatedAgo = _AppHelper.getSecondsSincePublished(article.updatedDateTime) %}
    {% if updatedAgo < 86400 %}
        {% set updateDate = _AppHelper.getRelativeTime(article.updatedDateTime) ~ " ago" %}
    {% endif %}

    {% set updated = true %}

{% endif %}



{#  Get most recent articles for sports section if article published on Sportsroom
    For the rest get most recent network wide. #}
{# {% set recentParams = {'limit': 3, excludeArticleIds : article.id } %}

{% if blogName | lower == 'sportsroom' or blogName | lower == 'lockerroom' %}
    {% set recentLabel = blogName %}
    {% set recentParams = recentParams | merge({
        'blogId': blogData['id'],
    }) %}


{% else %}
    {% set recentParams = recentParams | merge({
        'scope': 'network',
    }) %}
{% endif %} #}

{# {% set recentArticles = _Article.getRecentArticles(recentParams) %} #}
{# {% set cacheKey = "articleRecent" ~ recentLabel %}
{% set recentArticles = getCache(cacheKey) %}
{% if (recentArticles is empty) %}
    {% set recentArticles = _Article.getRecentArticles(recentParams) %}
    {% set cache = setCache(cacheKey, recentArticles, 500) %} 
{% endif %}  #}


{% set relatedArticles = _Article.getRelatedArticlesByArticleId(article.id) %}


{% set cacheKey = "articlePopular_articlePage" %}
{% set popular = getCache(cacheKey) %}
{% if (popular is empty) %}
    {% set popular = _Article.getPopularArticles({
            limit: 4, 
            scope: 'network', 
            interval: 24 
    }) %}
    {% set cache = setCache(cacheKey, popular, 500) %} 
{% endif %} 




{% set totalstring = "" %}
{% set totals = (article.total is defined) ? article.total : false %}
{% if totals and _User.isAdminUser() %}
    {% set totalstring = "Viewed " ~ totals.view ~ " times" %}
{% endif %}





<main id="main" class="site-main u-margin-top-40" role="main" data-ver="3" data-cacheKey="{{cacheKey}}" data-test="{{paywallTestParam}}">
    <article itemscope itemtype="http://schema.org/NewsArticle" class="article-main">
        <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
            <meta itemprop="name" content="Newsroom">
            <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                <meta itemprop="url" content="{{networkData.templatePath}}/static/images/nr-pro-icon.png">
            </div>
        </div>
        <div itemscope itemtype="https://schema.org/mainEntityOfPage">
            <meta itemprop="url" content="{{article.url}}">
        </div>

    {% if showPaywall %}
        <div class="article-pro__image-container">
    {% endif %}


        <div class="container">
            
            {% if articleImg %} 

                <div class="gallery-container relative">

                    {% if article.media|length > 0 %}
                        {% set imageFeature = featured == 'image' ? true : false %}
                        {{this.render('partials/gallery.twig', {
                            media: article.media,
                            default: imageFeature
                        }) | raw}}
                    {% endif %}

                </div> 

            {% endif %}



        {% if showPaywall %}
            </div>
            </div>
            <div class="container">
        {% endif %}




            <div class="page-content {% if showPaywall %}u-mobile-margin-top-15{% endif %}" >
                <div class="row">
                    <div class="col-lg-8">
                        
                        <div class="content-wrapper">
                            

                            <div class="content-block-top d-print-none">
                                <a href="https://www.facebook.com/sharer/sharer.php?u={{article.url}}&title={{ article.title|url_encode }}" class="btn btn-post icon-facebook"></a
                                ><a href="https://twitter.com/share?text={{ article.title|url_encode }}&url={{article.url}}" class="btn btn-tweet icon-twitter"></a
                                ><a href="https://www.linkedin.com/shareArticle?mini=true&url={{article.url}}&title={{article.title|url_encode}}" class="btn btn-linkedin icon-linkedin"></a
                                ><a href="mailto:?subject=Check%20out%20this%20article&body={{article.url}}" class="btn btn-email icon-mail"></a>
                                
                                {% if _User.isAdminUser() %}
                                    <a href="{{article.editUrl}}" target="_blank" class="" style="margin-left:20px;padding-top:5px">Edit article</a>
                                {% endif %}

                                <div class="articleTimes">

                                    {% set publishDateTime = article.publishedDateTime | replace(" ", "T") %}
                                    <time itemprop="datePublished" datetime="{{publishDateTime}}">{{ publishDate | upper }}</time>
                                    {% if updated %}
                                        {% set updateDateTime = article.updatedDateTime | replace(" ", "T") %}
                                        <time itemprop="dateModified" datetime="{{updateDateTime}}" class="updated">Updated {{ updateDate | capitalize }}</time>
                                    {% endif %}
                                </div>
                            </div>
                            {% if _User.isAdminUser() %}
                                <p class="article__totals u-margin-bottom-20">{{totalstring}}</p>
                            {% endif %}


                            <div itemprop="author" itemscope itemtype="http://schema.org/Person" class="content-author">
                                <img itemprop="image" src="{{ profileImg }}" alt="{{ article.createdBy['displayName'] }}">
                                <a href="{{_AppHelper.getUserProfileUrl(article.createdBy['username'])}}/posts">
                                    <h3 itemprop="name">{{ article.createdBy['displayName'] }}</h3>
                                </a>


                                <p itemprop="description" class="bio">{{ article.createdBy['bio'] }}</p>
                                {% if article.createdBy['bio'] != "" %}
                                    <a class="bio-show-more showmore d-block d-sm-none d-print-none">Show more <span class="arrow down"></span></a>
                                {% endif %}

                            </div><!-- .content-author-->

                            {% if article['createdBy']['coauthors'] %}
                                {% for author in article['createdBy']['coauthors'] %}

                                    <div class="content-author">
                                        <img src="{{ _Media.getMediaUrl(author['media'], 100, 100, {radius: 'max', gravity: 'face', 'crop': 'thumb', type: 'user'}) }}" alt="">
                                        

                                        <a href="{{_AppHelper.getUserProfileUrl(author['username'])}}/posts">
                                            <h3>{{ author['displayName'] }}</h3>
                                        </a>

                                        <p class="bio">{{ author['bio'] }}</p>
                                        {% if author['bio'] != "" %}
                                            <a  class="bio-show-more showmore d-block d-sm-none d-print-none">Show more <span class="arrow down"></span></a>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            {% endif %}

                            {% if 'investigations' in article.label | lower %}
                                <div class="article-investigations__tag"></div>
                            {% endif %}

                            <div itemprop="articleBody" class="article_content {{paywall_content_style}} {{newsroom_pro_style}}">
                                <p itemprop="articleSection" class="article_content__section {% if articleBlog == "newsroom pro" %}article_content__red{% endif %}">{{article.label}}</p>
                                
                                {% if articleBlog == 'new auckland' %}
                                    <div class="beca-section beca-section__article d-block d-lg-none">
                                        <img class="beca-section__artlogo" src="{{networkData.templatePath}}/static/images/logos/BECA_bw.png?v=0">
                                        <p class="beca-section__arttext">In association with</p>
                                    </div>
                                {% elseif articleBlog == 'technology' or blogName|lower == 'technology' or 'technology' in article.label | lower %}
                                    <div class="catalyst-section catalyst-section__article d-block d-lg-none">
                                        <img class="catalyst-section__artlogo" src="{{networkData.templatePath}}/static/images/logos/catalyst_bw.png?v=1">
                                        <p class="catalyst-section__arttext">In association with</p>
                                    </div>
                                {% endif %}
                                
                                <h1 itemprop="headline name" class="article__headline">{{ quotes.smarten(article.title) }}</h1>

                                {{ content  | _resizeImages({"width":750}) 
                                            | replace({'https://pres.cloudinary.com': 'https://res.cloudinary.com'})
                                            | raw }}
                                
                            </div>
                        </div>
                        

                        {% if showPaywall %}
                            <div class="article-subscribe">
                                <h2 class="article-subscribe__header">TO READ THE FULL STORY ON NEWSROOM PRO</h2>
                                <a href="/prosubscribe" class="_btn _btn--red u-margin-right-25">SUBSCRIBE TO PRO</a>
                                <button id="articleSigninBtn" class="_btn _btn--gray u-mobile-margin-top-15">SIGN IN TO PRO</button>
                                <p class="article-subscribe__p">Subscribe now to start a free trial of <br class="d-none d-sm-block" />Newsroom Pro for 28 days.</p>
                                <a href="{{networkData.defaultBlogUrl}}/prosubscribe" class="article-subscribe__link">View our subscription options</a>
                            </div>
                        {% endif %}




                        {% if not showPaywall %}
                            
                            {% if articleBlog == 'lockerroom' %}
                                <div class="article-supoort">
                                    <div class="article-supoort__text">
                                        <p class="article-supoort__content">LockerRoom is made possible by contributions from readers like you. Become a supporter to expand our in-depth coverage of women's sport in NZ.</p>
                                    </div>
                                    <a href="https://dashboard.presspatron.com/donations/new?frame=1&t=9Ac35CVe5uEb9P8vFFb5YjFu" data-pp-page="pwyw" data-pp-metadata="custom-button-v1" target="_blank"> 
                                        <div class="d-print-none article-supoort__button">Become a Supporter</div>
                                    </a>
                                </div>
                                

                            {% else %}







                                <div class="article-supoort">
                                    <div class="row justify-content-center">
                                        <div class="col-12">
                                            <p class="article-supoort__head">Help us create a sustainable future for independent local journalism</p>
                                            <div class="article-supoort__text">
                                                <p class="article-supoort__content">As New Zealand moves from crisis to recovery mode the need to support local industry has been brought into sharp relief.</p>
                                                <p class="article-supoort__content">As our journalists work to ask the hard questions about our recovery, we also look to you, our readers for support. Reader donations are critical to what we do. If you can help us, please click the button to ensure we can continue to provide quality independent journalism you can trust.</p>
                                            </div>
                                        </div>
                                        <div class="col-8 col-md-4">
                                            {# <a href="https://dashboard.presspatron.com/donations/new?frame=1&t=AbkE2e7ZwQgwLPFzVowC2cKm" 
                                                data-pp-page="pwyw" 
                                                data-pp-frequency="monthly" 
                                                data-pp-amount="15" 
                                                data-pp-metadata="membership-pwyw"
                                                ><div class="d-print-none article-supoort__button article-supoort__button--three u-margin-top-20">Become a Supporter</div></a> #}
                                                <a href="{{networkData.defaultBlogUrl}}/donations">
                                                    <div class="d-print-none article-supoort__button article-supoort__button--three u-margin-top-20">Become a Supporter</div>
                                                </a>
                                        </div>
                                        {# <div class="col-12 col-md offset-md-1">
                                            <a href="https://dashboard.presspatron.com/donations/new?frame=1&t=AbkE2e7ZwQgwLPFzVowC2cKm" 
                                               data-pp-page="checkout" 
                                                data-pp-frequency="annual" 
                                               data-pp-amount="10" 
                                                data-pp-metadata="membership-$10-per-year"
                                                ><div class="d-print-none article-supoort__button article-supoort__button--three u-margin-top-20">Annual $10</div></a>
                                        </div>
                                        <div class="col-12 col-md offset-md-1">
                                            <a href="https://dashboard.presspatron.com/donations/new?frame=1&t=AbkE2e7ZwQgwLPFzVowC2cKm" data-pp-page="pwyw" data-pp-metadata="custom-button-v1" target="_blank"> 
                                                <div class="d-print-none article-supoort__button article-supoort__button--three article-supoort__button--black u-margin-top-20">Pay what you want</div>
                                            </a>
                                         </div> #}

                                    </div>
                                </div>
                            {% endif %}



                            {% if popular|length > 0 %}
                                <div class="u-margin-top-70 u-desktop-margin-bottom-minus-60">
                                    <h3 class="u-text-center u-uppercase u-margin-bottom-30 u-font-size-24">Most popular on newsroom</h3>
                                        
                                    {% set count = 0 %}
                                    <div class="row">
                                        {% for pop in popular  %}
                                            {% if pop.guid != article.guid and count < 3 %}
                                                {{ this.render('partials/_single-article.twig', {
                                                    article: pop, 
                                                    containerClass: 'col-12 col-md-4 card-sm card-sm-tablet card-sm-mobile', 
                                                    swap: 'false', 
                                                }) | raw }}
                                                {% set count = count + 1 %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}


                        {% endif %}
                    








                        {% if config['inventory']['adSpace']['mrec'][0] is defined %}
                            <div class="j-adslot d-md-none u-mobile-margin-top-30" id="{{config['inventory']['adSpace']['mrec'][0]}}" data-adshape="mrec"></div>
                        {% endif %} 


                        <div class="comments d-print-none u-margin-top-60">
                            <h3>Comments</h3>
                            <p>
                                Newsroom does not allow comments directly on this website. 
                                We invite all readers who wish to discuss a story or leave 
                                a comment to visit us on <a href="https://twitter.com/NewsroomNZ">Twitter</a> 
                                or <a href="https://www.facebook.com/newsroomnz">Facebook</a>. We also welcome 
                                your news tips and feedback via email: <a href="mailto:contact@newsroom.co.nz">contact@newsroom.co.nz</a>.
                                Thank you.
                            </p>
                        </div>

                    </div>


                    <div class="col-lg-4">
                        <aside>

                            {% if not showPaywall %}

                               
                                {% if articleBlog == 'technology' or blogName|lower == 'technology' or 'technology' in article.label | lower %}
                                    <div class="catalyst-section catalyst-section__article d-none d-lg-block">
                                        <img class="catalyst-section__artlogo" src="{{networkData.templatePath}}/static/images/logos/catalyst_bw.png?v=1">
                                        <p class="catalyst-section__arttext">In association with</p>
                                    </div>
                                
                                {% endif %}
                                {# {% if articleBlog != 'ideasroom' and config['inventory']['adSpace']['mrec'][1] is defined %}
                                    <section class="ad sidebar-ad u-desktop-no-margin-top">
                                        <div class="j-adslot" id="{{config['inventory']['adSpace']['mrec'][1]}}" data-adshape="mrec" data-responsive="1"></div>
                                    </section>
                                {% endif %} #}
                                {% if config['inventory']['adSpace']['hpage'][0] is defined %}
                                    <section class="ad sidebar-ad {% if articleBlog == 'ideasroom' %}u-desktop-no-margin-top{% else %}u-desktop-margin-top-40{% endif %}">
                                        <div class="j-adslot" id="{{config['inventory']['adSpace']['hpage'][0]}}" data-adshape="hpage" data-responsive="1"></div>
                                    </section>
                                {% endif %}



                                {% if recentArticles|length > 0 %}
                                    <section class="sidebar-news recent-articles" style="width:300px;margin:auto;">
                                        <h3 class="recent-articles__header">
                                            <span class="recent-articles__header-bold">Latest</span> on {{recentLabel}}
                                        </h3>

                                        {% for i in 0..6 %}
                                            {% if recentArticles[i] %}
                                                {{
                                                    this.render('partials/_single-article_recent.twig', {
                                                        article: recentArticles[i], 
                                                        containerClass: '', 
                                                        swap: 'false', 
                                                        isArticle: 'true'}) | raw
                                                }}
                                            {% endif %}
                                        {% endfor %}

                                    </section>
                                {% endif %}

                            {% else %}


                                {#  *********************************************
                                                  PRO ARTICLE PAGE 
                                    ********************************************* #}
                                <section class="col-sm-12 sidebar-news recent-articles d-none d-sm-block" data-proid="{{proBlogId}}">
                                    <h3 class="most-viewed__header">MOST VIEWED</h3>
                                    {% set popularArticles = _Article.getPopularArticles({ 
                                            limit: 5, 
                                            blogId: proBlogId, 
                                            interval: 168 
                                    }) %}
                                    
                                    {% for i in 0..4 if popularArticles[i] %}
                                        {{this.render('/partials/_single-article.twig', {
                                            article         : popularArticles[i], 
                                            swap            : false,
                                            containerClass  : 'card-pro-popular'
                                        }) | raw}}
                                    {% endfor %}
                                </section>
                            
                            {% endif %}



                            <div class="article-chimp-subscribe u-desktop-margin-top-40">
                                <div class="article-chimp-subscribe__top">
                                    <img class="article-chimp-subscribe__logo" src="{{networkData.templatePath}}/static/images/nr-logo-reverse.svg" alt="Newsroom logo">
                                    <h3 class="article-chimp-subscribe__heading">Get your free daily briefing</h3>
                                </div>

                                <!-- Begin MailChimp Signup Form -->
                                <div id="mc_embed_signup" class="article-chimp-subscribe__container" >
                                    
                                    <form   action="//newsroom.us14.list-manage.com/subscribe/post?u=e0ae259e8f9472b9c54037c25&amp;id=71de5c4b35" 
                                            method="post" id="mc-embedded-subscribe-form" 
                                            name="mc-embedded-subscribe-form" 
                                            class="validate" 
                                            target="_blank" 
                                            novalidate 
                                            style="background-color:white">

                                        <div id="mc_embed_signup_scroll" style="display:flex">
                                    
                                            <div class="mc-field-group" style="width:100%">
                                                <input type="email" value="" name="EMAIL" class="article-chimp-subscribe__email required " id="mce-EMAIL" placeholder="Enter your email" style="color:black; border:none">
                                                <input type="hidden" class="u-hide" value="1" name="group[3][1]" id="mce-group[3]-3-0">
                                            </div >

                                            <div id="mce-responses" class="clear">
                                                <div class="response" id="mce-error-response" style="display:none"></div>
                                                <div class="response" id="mce-success-response" style="display:none"></div>
                                            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                            
                                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e0ae259e8f9472b9c54037c25_71de5c4b35" tabindex="-1" value=""></div>
                                            
                                            <button type="submit" value=" " name="subscribe" id="mc-embedded-subscribe" class="article-chimp-subscribe__submit tag-register-button"></button>
                                        </div>
                                    </form>

                                    <p class="article-chimp-subscribe__tagline">Start your day with our best stories in your inbox</p>
                                </div>

                            </div>

                            {% if relatedArticles | length > 0 %}
                            <section class="col-sm-12 recent-articles" data-proid="{{proBlogId}}">
                                
                                <h3 class="u-font-size-20 u-font-uppercase u-color-red u-font-weight-thin u-margin-bottom-10 u-margin-top-80">Recommended reads</h3>
                                
                                <div class="row">
                                {% for related in relatedArticles %}

                                    <div class="col-lg-12 col-md-6">
                                    {{this.render('/partials/_single-article.twig', {
                                        article         : related, 
                                        swap            : false,
                                        isArticle       : 'true',
                                        lazyload        : false,
                                        containerClass  : 'card-recommend card-recommend-tablet card-recommend-mobile'
                                    }) | raw}}
                                    </div>
                                {% endfor %}
                                </div>
                            </section>
                            {% endif %} 




                        </aside>
                    </div>
                </div>



            </div>
        </div>



    </article>


    {{ this.render('partials/_sponsor_logos2.twig') | raw }}
    {% set theKeywords = '' %}
    {% if article.keywords is defined and article.keywords != '' %}
        {% set theKeywords = article.keywords %}
    {% elseif blogData.keywords is defined and blogData.keywords != '' %}
        {% set theKeywords = blogData.keywords %}
    {% endif %}
    <div class="j-keyword-cont" data-keywords="{{theKeywords}}" data-pageName="{{articleBlog}}" data-pageType="article" data-pageTags=""{% if articleBlog == 'ideasroom' %} data-adsection="futurelearning"{% endif %}></div>
</main>

