{% import "partials/quotes.twig" as quotes %}


{{ set(this, 'title', article.title) }}
{% set networkData      = _Network.getNetworkData() %}
{% set blogData         = _Blog.getBlog() %}
{% set blogName         = blogData.title %}
{% set recentLabel      = 'Newsroom' %}
{% set articleBlogData  = _Blog.getBlog({'guid' : article['blog']['guid']}) %}
{% set proBlogId        = '' %}


{% set showPaywall              = false %}
{% set content                  = article.content %}
{% set paywall_content_style    = "" %}
{% set newsroom_pro_style       = "" %}

{% if articleBlogData['additionalInfo'] is defined            and 
      articleBlogData['additionalInfo']['paywall'] is defined and 
      articleBlogData['additionalInfo']['paywall'] == 'on' %}
    
    {% set paywallSection = true %}

{% endif %}


{% set articleBlog = article.blog.title | lower %}

{% if   not _User.isAdminUser()     and
        paywallSection == true      and
        articleBlogData['showPaywall'] == true  %}
    
    {% set showPaywall = true %}
{% endif %}


{% if paywallSection == true %}
    {% set newsroom_pro_style = "pro" %}

    {% for blog in networkData.networkBlogs %}
        {% if blog.title | lower == 'newsroom pro' %}
            {% set proBlogId = blog.id %}
        {% endif %}
    {% endfor %}

{% endif %}



{% if showPaywall == true %}
    {% set storySplit = article.content | split('<p>')  %}
    {% set para2 = storySplit[2] | replace({'</p>': ''}) | slice(0, 190) ~ '</p>'  %}
    {% set content = '<p>' ~ [storySplit[1], para2] | join('<p>') %}
    {% set paywall_content_style = "content-paywalled" %}
{% endif %}



{{this.registerLinkTag({rel:'amphtml', href:_AppHelper.getServerUrl(false)~'?amp=1'})}}



{% set articleImg = false %}
{% if article.media|length > 0 %}
    {% set articleImg = true %}
{% endif %}



{% set profileImg = _Media.getMediaUrl(article.createdBy['media'], 100, 100, {radius: 'max', gravity: 'face', 'crop': 'thumb', type: 'user'}) %}
{% set publishDate = _AppHelper.getDefaultTimezoneDateTime(article.publishedDateTime,'F j, Y') %}
{% set updateDate = _AppHelper.getDefaultTimezoneDateTime(article.updatedDateTime,'F j, Y') %}

{% set updated = false %}

{% if article.publishedDateTime != article.updatedDateTime %}
    {% set updatedAgo = _AppHelper.getSecondsSincePublished(article.updatedDateTime) %}
    {% if updatedAgo < 86400 %}
        {% set updateDate = _AppHelper.getRelativeTime(article.updatedDateTime) ~ " ago" %}
    {% endif %}

    {% set updated = true %}

{% endif %}



{#  Get most recent articles for sports section if article published on Sportsroom
    For the rest get most recent network wide. #}
{% set recentParams = {'limit': 3, excludeArticleIds : article.id } %}


{% if blogName | lower == 'sportsroom' or blogName | lower == 'lockerroom' %}
    {% set recentLabel = blogName %}
    {% set recentParams = recentParams | merge({
        'blogId': blogData['id'],
    }) %}


{% else %}
    {% set recentParams = recentParams | merge({
        'scope': 'network',
    }) %}
{% endif %}


{% set recentArticles = _Article.getRecentArticles(recentParams) %}


    <main id="main" class="site-main u-margin-top-40" role="main" data-ver="3">
        <article class="article-main">


        {% if paywallSection %}
            <div class="article-pro__image-container">
        {% endif %}


            <div class="container">
               
                {% if articleImg %} 

                    <div class="gallery-container relative">

                        {% if article.media|length > 0 %}
                            {% set imageFeature = featured == 'image' ? true : false %}
                            {{this.render('partials/gallery.twig', {
                                media: article.media,
                                default: imageFeature
                            }) | raw}}
                        {% endif %}

                    </div> 

                {% endif %}



            {% if paywallSection %}
                </div>
                </div>
                <div class="container">
            {% endif %}




                <div class="page-content {% if paywallSection %}u-mobile-margin-top-15{% endif %}" >
                    <div class="row">
                        <div class="col-md-8">
                            
                            <div class="content-wrapper">
                                <div class="content-block-top hidden-print">
                                    <a href="https://www.facebook.com/sharer/sharer.php?u={{article.url}}&title={{ article.title|url_encode }}" class="btn btn-post icon-facebook"></a
                                    ><a href="https://twitter.com/share?text={{ article.title|url_encode }}&url={{article.url}}" class="btn btn-tweet icon-twitter"></a
                                    ><a href="https://www.linkedin.com/shareArticle?mini=true&url={{article.url}}&title={{article.title|url_encode}}" class="btn btn-linkedin icon-linkedin"></a
                                    ><a href="mailto:?subject=Check%20out%20this%20article&body={{article.url}}" class="btn btn-email icon-mail"></a>
                                    
                                    {% if _User.isAdminUser() %}
                                        <a href="{{article.editUrl}}" target="_blank" class="" style="margin-left:20px;padding-top:5px">Edit article</a>
                                    {% endif %}

                                    <div class="articleTimes">
                                        <time>{{ publishDate | upper }}</time>
                                        {% if updated %}
                                            <time class="updated">Updated {{ updateDate | capitalize }}</time>
                                        {% endif %}
                                    </div>
                                </div>


                                <div class="content-author">
                                    <img src="{{ profileImg }}" alt="">
                                    <a href="{{_AppHelper.getUserProfileUrl(article.createdBy['username'])}}/posts">
                                        <h3>{{ article.createdBy['displayName'] }}</h3>
                                    </a>



                                    <p class="bio">{{ article.createdBy['bio'] }}</p>
                                    {% if article.createdBy['bio'] != "" %}
                                        <a class="bio-show-more showmore visible-xs-block hidden-print">Show more <span class="arrow down"></span></a>
                                    {% endif %}

                                </div><!-- .content-author-->

                                {% if article['createdBy']['coauthors'] %}
                                    {% for author in article['createdBy']['coauthors'] %}

                                        <div class="content-author">
                                            <img src="{{ _Media.getMediaUrl(author['media'], 100, 100, {radius: 'max', gravity: 'face', 'crop': 'thumb', type: 'user'}) }}" alt="">
                                            

                                            <a href="{{_AppHelper.getUserProfileUrl(author['username'])}}/posts">
                                                <h3>{{ author['displayName'] }}</h3>
                                            </a>

                                            <p class="bio">{{ author['bio'] }}</p>
                                            {% if author['bio'] != "" %}
                                                <a  class="bio-show-more showmore visible-xs-block hidden-print">Show more <span class="arrow down"></span></a>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                {% endif %}



                               <div class="article_content {{paywall_content_style}} {{newsroom_pro_style}}">
                                    <p class="article_content__section {% if articleBlog == "newsroom pro" %}article_content__red{% endif %}">{{article.label}}</p>
                                    <h1>{{ quotes.smarten(article.title) }}</h1>

                                    {{ content  | _resizeImages({"width":750}) 
                                                | replace({'https://pres.cloudinary.com': 'https://res.cloudinary.com'})
                                                | raw }}
                                    
                                </div>
                            </div>
                            

                            {% if showPaywall == true %}
                                <div class="article-subscribe">
                                    <h2 class="article-subscribe__header">TO READ THE FULL STORY ON NEWSROOM PRO</h2>
                                    <a href="/@pro" class="_btn _btn--red u-margin-right-25">SUBSCRIBE TO PRO</a>
                                    <button id="articleSigninBtn" class="_btn _btn--gray u-mobile-margin-top-15">SIGN IN TO PRO</button>
                                    <p class="article-subscribe__p">Subscribe now to start a free trial of <br class="hidden-xs" />Newsroom Pro for 28 days.</p>
                                    <a href="{{networkData.defaultBlogUrl}}/@pro" class="article-subscribe__link">View our subscription options</a>
                                </div>
                            {% endif %}




                            {% if not paywallSection %}
                                {% if articleBlog == 'lockerroom' %}
                                    <div class="article-supoort">
                                        <p class="article-supoort__text">LockerRoom is made possible by contributions from readers like you. Become a supporter to expand our in-depth coverage of women's sport in NZ.</p>
                                        <div id="pp-donate-button" class="hidden-print article-supoort__button"></div>
                                    </div>
                                    {# <div class="article-supoort">
                                        <p class="article-supoort__text">Newsroom is powered by the generosity of readers like you, who support our mission to produce fearless, independent and provocative journalism.</p>
                                        <div id="pp-donate-button" class="hidden-print article-supoort__button"></div>
                                    </div> #}

                                {% else %}
                                    <div class="article-supoort">
                                        <p class="article-supoort__text">We recently launched a crowdfunding campaign to sustain and expand LockerRoom, our section dedicated to covering New Zealand women in sport. We created LockerRoom to fill a gap in sports journalism, sharing inspirational, compelling and important stories that would otherwise go untold. To join our team as a supporter, simply click the red button.</p>
                                        <div id="pp-donate-button" class="hidden-print article-supoort__button"></div>
                                    </div>
                                {% endif %}
                            {% endif %}
                     



                            <div class="comments hidden-print">
                                <h3>Comments</h3>
                                <p>
                                    Newsroom does not allow comments directly on this website. 
                                    We invite all readers who wish to discuss a story or leave 
                                    a comment to visit us on <a href="https://twitter.com/NewsroomNZ">Twitter</a> 
                                    or <a href="https://www.facebook.com/newsroomnz">Facebook</a>. We also welcome 
                                    your news tips and feedback via email: <a href="mailto:contact@newsroom.co.nz">contact@newsroom.co.nz</a>.
                                    Thank you.
                                </p>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <aside>

                                {% if not paywallSection %}

                                    {% if articleBlog == 'lockerroom' %}
                                            <section class="" style="width:300px;margin:auto;">
                                                <a href="https://dashboard.presspatron.com/donations/new?frame=1&t=9Ac35CVe5uEb9P8vFFb5YjFu"><img src="{{networkData.templatePath}}/static/images/LockerRoomBanner.gif"></a>
                                            </section>
                                    {% endif %}

                                    <section class="add sidebar-add ">
                                        <div id="newAdHalf"></div>
                                        <span class="add-text hidden-print" style="display:block;width:300px;margin:0 auto;padding-left:17px;">Advertisement</span>
                                    </section>

                                    <section class="sidebar-news recent-articles" style="width:300px;margin:auto;">
                                        <h3 class="recent-articles__header">
                                            <span class="recent-articles__header-bold">Latest</span> on {{recentLabel}}
                                        </h3>

                                        {% if recentArticles|length > 0 %}
                                            {% for i in 0..6 %}
                                                {% if recentArticles[i] %}
                                                    {{
                                                        this.render('partials/_single-article_recent.twig', {
                                                            article: recentArticles[i], 
                                                            containerClass: '', 
                                                            swap: 'false', 
                                                            isArticle: 'true'}) | raw
                                                    }}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}

                                    </section>
                                {% else %}



                                    <section class="col-sm-12 sidebar-news recent-articles hidden-xs" data-proid="{{proBlogId}}">
                                        <h3 class="most-viewed__header">MOST VIEWED</h3>
                                        {% set popularArticles = _Article.getPopularArticles({ 
                                                limit: 5, 
                                                blogId: proBlogId, 
                                                interval: 168 
                                        }) %}
                                        
                                        {% for i in 0..4 if popularArticles[i] %}
                                            {{this.render('/partials/_single-article.twig', {
                                                article         : popularArticles[i], 
                                                swap            : false,
                                                containerClass  : 'card-pro-popular'
                                            }) | raw}}
                                        {% endfor %} 
                                    </section>
                                
                                {% endif %}
                            </aside>
                        </div>
                    </div>



                </div>
            </div>

            {% if not paywallSection %}
                <script>loadTwoAds('{{articleBlog}}');</script>
            {% endif %}

        </article>
        {{ this.render('partials/_sponsor_logos.twig') | raw }}
        
    </main>

