{{ set(this, 'title', blogData.title) }}
{% set networkData  = _Network.getNetworkData() %}
{% set blogData     = _Blog.getBlog() %}

{{this.registerJs("Acme.cards = CardController();")}}

{% set limit = 14 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}
{% set firstCount = articles | length %}

                                                     {# renders the card    fetch-limit      fetch-offset    infinite scroll #}
                                                     {#            ↑             ↑                 ↑            ↑            #}
{{this.registerJs("Acme.searchFeed = new Acme.View.articleFeed(Acme.cards, " ~ limit ~ ", " ~ firstCount ~ ", false);")}}



{% set paywallSection = false %}
{% if blogData['additionalInfo'] is defined             and 
      blogData['additionalInfo']['paywall'] is defined  and 
      blogData['additionalInfo']['paywall'] == 'on' %}
    {% set paywallSection = true %}
{% endif %}





<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}
    

        <section class="featured-slider channel container-fluid u-margin-top-40">
            <div class="container">

                {% if 'futurelearning' != blogData.title | lower %}
                    <h1 class="sectionpage">{{blogData.title}}</h1>
                {% endif %}


                <div class="swiper-container">
                    <div class="swiper-wrapper">

                        {% if articles[0] %}                                                                
                            {{this.render('partials/_single-article.twig', {
                                article: articles[0], 
                                position: 1, 
                                containerClass: 'swiper-slide s660x440',
                                imageSize: {width:660, height:440}
                            }) | raw}}
                            {% set articleCount = articleCount + 1 %}
                        {% endif %}
                    </div>

                </div>
            </div>
        </section>
    
        <section class="home-page-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-8">
                        {% if articles[articleCount] %}                                                                
                        <div class="card-group">
                                {{this.render('partials/_single-article.twig', {
                                    article: articles[articleCount], 
                                    position: (articleCount+1), 
                                    containerClass: 'card-rec card-rec-tablet inverted',
                                    imageSize: {width:330, height:236}
                                }) | raw}}
                                {% set articleCount = articleCount + 1 %}

                        </div>
                        {% endif %}


                        {% if articles[articleCount] %}                                                                
                        <div class="row">
                            <div class="card-group">
                            {% for i in 0..2 %}
                                {% if articles[articleCount] %}                                                                
                                    {{this.render('partials/_single-article.twig', {
                                        article: articles[articleCount], 
                                        position: (articleCount+1), 
                                        containerClass: 'col-sm-4 card-sm card-sm-tablet s230x206',
                                        imageSize: {width:230, height:206}
                                    }) | raw}}
                                    {% set articleCount = articleCount + 1 %}
                                {% endif %}
                            {% endfor %}
                            </div>
                        </div>
                        {% endif %}

                    </div>
                    <div class="col-sm-12 col-md-4 sidebar">
                    
                    {% if paywallSection == false %}
                        <section class="add channel-ad" >
                            <div id="newAdHalf"></div>
                            <span class="add-text">Advertisement</span>
                        </section>
                    {% endif %}
                    </div>
                </div>


                {% if articles[articleCount] %}                                                                

                <div class="row">
                    <div class="col-sm-12 col-md-8">

                        
                        {% if articles[articleCount] %}
                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                position: (articleCount+1), 
                                containerClass: 'card-lg',
                                imageSize: {width:750, height:518}
                            }) | raw}}
                            {% set articleCount = articleCount + 1 %}
                        {% endif %}


                        {% for i in 0..1 %}
                            {% if articles[articleCount] %}  

                                {{this.render('partials/_single-article.twig', {
                                    article: articles[articleCount], 
                                    position: (articleCount+1), 
                                    containerClass: 'card-rec card-rec-tablet',
                                    imageSize: {width:330, height:236}
                                }) | raw}}

                                {% set articleCount = articleCount + 1 %}
                            {% endif %}
                        {% endfor %}

                    </div>


                    <div class="col-sm-12 col-md-4">
                        
                        {% if articles[articleCount] %}                                                                
                        <section class="section-sidepanel-news">
                            <div class="row">
                                <div class="card-group">
                                {% set rowCards = ['', ' inverted'] %}                                                                
                                {% for i in 0..1 %}
                                    {% if articles[articleCount] %}   

                                        {{this.render('partials/_single-article.twig', {
                                            article: articles[articleCount], 
                                            position: (articleCount+1), 
                                            containerClass: 'col-xs-12 col-sm-6 col-md-12 card-sm card-sm-tablet' ~ rowCards[i],
                                            imageSize: {width:370, height:270}
                                        }) | raw}}

                                        {% set articleCount = articleCount + 1 %}
                                    {% endif %}
                                {% endfor %}

                                </div>
                            </div>
                        {% endif %}

                    </div>



                    <div class="col-sm-12">
                        {% if articles[articleCount] %}                                                                
                            <div class="row">
                                <div class="card-group">
                                   
                                {% for i in 0..3 %}
                                    {% if articles[articleCount] %}      

                                        {{this.render('partials/_single-article.twig', {
                                            article: articles[articleCount], 
                                            position: (articleCount+1), 
                                            containerClass: 'col-sm-6 col-md-3 card-sm card-sm-tablet',
                                            imageSize: {width:263, height:209}
                                        }) | raw}}

                                        {% set articleCount = articleCount + 1 %}
                                    {% endif %}
                                {% endfor %}

                                </div>
                            </div>
                        {% endif %}




                        {% if articles|length >= limit %}
                            {{ this.render('partials/ajaxarticles_new.twig', {
                                name            : "section-load",
                                limit           : limit,
                                offset          : limit,
                                label           : "Load more",
                                imgwidth        : "262",
                                imgheight       : "208",
                                container       : "mainAjaxArticles",
                                non_pinned      : articlesArr.existingNonPinnedCount, 
                                card_class      : "col-sm-3 card-sm",
                                buttonClass     : "loadMoreArticles"
                            }) | raw }}
                        {% endif %}


                    </div>
                </div>
                {% endif %}
    



            <script>loadTwoAds('');</script>
            </div>
        </section>
