{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set plans = networkData['paywallPlans'] %}
{% set config = _Network.getThemeConfig() %}

{% set signupurl = '/subscribeform' %}
{% set specialPlans = [] %}
{% for plan in plans %}
    {% if "!*!" in plan.description %}
        {% set description = plan.description | split("!*!") %}
        {% set data = _AppHelper.jsonDecode( description[0] ) %}
        {% if data['donatepage'] is defined and data['donatepage'] == true %}
            {% set save = data['save'] is defined ? data['save'] : false %}
            {% set plan = plan | merge({"saving" : save}) %}
            {% set specialPlans = specialPlans | merge ([plan]) %}
        {% endif %}

    {% endif %} 
{% endfor %}




{% set donations = "pp" %}
{% if config.donations is defined %}
    {% if  config.donations == "nr" %}
        {% set donations = config.donations %}
    {% endif %}
    {% if config.donations.provider is defined %} 
        {% set donations = config.donations.provider %}
    {% endif %}
{% endif %}


{% set donations_img = "" %}
{% if config.donations_page is defined and config.donations_page.main_image is defined and config.donations_page.main_image  %}
    {% set donations_img = config.donations_page.main_image %}
{% endif %}


{% set guestUser = _User.isGuest() %}
{% set url = _AppHelper.getParsedUrl %}
{% set params = url['query'] %}

{#remove all images if url param set#}

{# {% set log = _AppHelper.log(params) %} #}
{% set session_id = false %}
{% for k, p in params %}
    {% if k == 'session_id' %}
        {% set session_id = p %}
    {% endif %}
{% endfor %}

{% set pwstats = _User.getPaywallStats(true) %}

{% if session_id %}
    {# {% set log = _AppHelper.log("calling sdk") %}

    {% set session = _Paywall.getStripeSession(session_id) %}
    {% set log = _AppHelper.log(session) %} #}
{% endif %}



<main id="main" class="" role="main">

    <div class="donations__header  u-margin-top-30">
        <a class="donations__nr-logo" href="{{networkData.defaultBlogUrl}}" rel="Home" tabindex="-1" title="Home">
            <img src="{{networkData.templatePath}}/static/images/nr-logo.svg" alt="logo" class="mobile-logo">
        </a>
        <a class="donations__close" href="{{networkData.defaultBlogUrl}}" rel="Home" tabindex="-1" title="Home">
            <div class="o-close donations__close-icon"></div>
        </a>
    </div>
    
    <div class="container u-margin-top-60 u-mobile-margin-top-25">

        <div class="row donations">
            <div class="col-lg-5">
                <h1 class="donations__title d-lg-none"><span class="donations__title--red">Support</span> Newsroom's journalism</h1>
                {% if donations_img %}
                    <img src="{{donations_img}}" class="donations__main-image d-none d-lg-block" alt="donation">
                {% endif %}

            </div>

            <div class="col-12 d-md-none justify-content-center">

                {% if donations != "nr" %}
                    <a href="https://dashboard.presspatron.com/donations/new?frame=1&t=AbkE2e7ZwQgwLPFzVowC2cKm" data-pp-page="checkout" data-pp-frequency="monthly" data-pp-amount="15" data-pp-metadata="membership-$15-per-month" target="_blank" class="supporter__button" rel="noopener">Monthly $15</a>
                    <a href="https://dashboard.presspatron.com/donations/new?frame=1&t=AbkE2e7ZwQgwLPFzVowC2cKm" data-pp-page="checkout" data-pp-frequency="annual" data-pp-amount="100" data-pp-metadata="membership-$100-per-year" target="_blank" class="supporter__button supporter__button--space" rel="noopener">Annual $100</a>
                    <a href="https://dashboard.presspatron.com/donations/new?frame=1&t=AbkE2e7ZwQgwLPFzVowC2cKm" data-pp-page="pwyw" data-pp-metadata="membership-pwyw" target="_blank" class="supporter__button supporter__button--black" rel="noopener">Pay what you want</a>
                {% endif %}

            </div>

            <div class="col-lg-7">
                <h1 class="donations__title u-margin-bottom-40 d-none d-lg-block"><span class="donations__title--red">Support</span> Newsroom's journalism</h1>
                <p class="donations__text u-font-weight-bold u-mobile-margin-bottom-10">New Zealand’s response to the climate crisis has been mostly talk and not much action. Now, we need more than words.</p>
                <p class="donations__text u-mobile-margin-bottom-10">This October, Newsroom wants your help to push the country into making real change. Your donation, big or small, will get our journalists on the ground to report on the science and solutions - from Glasgow’s COP26 summit to the retreating glaciers of the South Island.</p>
                <p class="donations__text u-mobile-margin-bottom-25">Help us reach our goal by November 12 by clicking on one of the buttons below.</p>
                {# <div class="flex_row u-align-center">
                    <img src="{{networkData.templatePath}}/static/headshots/tim-mark-bw@2x.jpg" class="donations__byline-img">
                    <p class="donations__byline">– Tim, Mark and the team at Newsroom</p>
                </div> #}
            </div>
        </div>
    </div>



    {% if donations == "nr" or _User.isAdminUser() %}
 
        <div class="newDonation-section">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-11 offset-md-1">
                        <div class="newDonation-section__tab">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="donate-tab" data-toggle="tab" href="#donate" role="tab" aria-controls="donate" aria-selected="true">DONATE</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="subscribe-tab" data-toggle="tab" href="#subscribe" role="tab" aria-controls="subscribe" aria-selected="false">SUBSCRIBE <span>to pro</span></a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane active" id="donate-pane" role="tabpanel" aria-labelledby="donate-tab">
                                    <div class="buttons-wrapper">
                                        <button data-interval="one_time" data-amount="2500"  class="buttons-wrapper--item j-donation">$25</a>
                                        <button data-interval="one_time"  data-amount="5000" class="buttons-wrapper--item active j-donation">$50</a>
                                        <button data-interval="one_time"  data-amount="7500" class="buttons-wrapper--item j-donation">$75</a>
                                        <button class="buttons-wrapper--item j-donation">Pay what you want</a>
                                    </div>
                                    <div class="links-wrapper">
                                        <a href="mailto: vanita.prasad@newsroom.co.nz" subject="Enquiry about donating as an organisation" class="links-wrapper--item">Donate as an organisation</a>
                                        <a href="mailto: vanita.prasad@newsroom.co.nz" subject="I would like to make a large donation" class="links-wrapper--item">Make a large donation</a>
                                        <a href="mailto: vanita.prasad@newsroom.co.nz" subject="I would like to donate via bank transfer" class="links-wrapper--item">Donate via bank transfer</a>
                                    </div>
                                </div>

                                <div class="tab-pane subscribe " id="subscribe-pane" role="tabpanel" aria-labelledby="subscribe-tab">
                                    <div class="row">
                                    {% for plan in specialPlans %}
                                        {% set val = plan.plan_value / 100 %}
                                        <div class="col-12 col-md-6">
                                            <div class="paywall-plan-card">
                                                <p class="paywall-plan-card__period">{{plan.plan_name}}</p>
                                                <p class="paywall-plan-card__price">${{val}}</p>
                                                {% if plan.saving %}
                                                    <p class="paywall-plan-card__weekly">Save ${{plan.saving}}</p>
                                                {% endif %}
                                                <p class="paywall-plan-card__users">{{plan.user_count + 1}} users</p>
                                                <a class="paywall-plan-card__subscribe-button" href="{{networkData.defaultBlogUrl}}/subscribeform?plan={{plan.guid}}">SUBSCRIBE</a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    </div>
                                    <div class="links-wrapper">
                                        <a href="mailto: vanita.prasad@newsroom.co.nz" subject="Enquiry about donating as an organisation" class="links-wrapper--item">Donate as an organisation</a>
                                        <a href="mailto: vanita.prasad@newsroom.co.nz" subject="I would like to make a large donation" class="links-wrapper--item">Make a large donation</a>
                                        <a href="mailto: vanita.prasad@newsroom.co.nz" subject="I would like to donate via bank transfer" class="links-wrapper--item">Donate via bank transfer</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="newDonation-section__head">
                            {# <h2 class="newDonation-section__heading">Make a difference today</h2> #}
                            <p class="newDonation-section__description">Whether you choose to make a donation or subscribe to Newsroom Pro, all funds from 
                            this campaign will be directed into Newsroom’s climate change reporting. Newsroom Pro subscriptions give two users exclusive features and advanced access to reporting.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if donations != "nr" %}
        <div class="row supporter u-margin-top-80 d-none d-md-block">
            <div class="col-12 u-text-center">
                <h1 class="supporter__title">Become a supporter</h1>
            </div>
            <div class="offset-lg-1 col-lg-10 justify-content-center" style="display:flex">
                <a href="https://dashboard.presspatron.com/donations/new?frame=1&t=AbkE2e7ZwQgwLPFzVowC2cKm" data-pp-page="checkout" data-pp-frequency="monthly" data-pp-amount="15" data-pp-metadata="membership-$15-per-month" target="_blank" class="supporter__button" rel="noopener">Monthly $15</a>
                <a href="https://dashboard.presspatron.com/donations/new?frame=1&t=AbkE2e7ZwQgwLPFzVowC2cKm" data-pp-page="checkout" data-pp-frequency="annual" data-pp-amount="100" data-pp-metadata="membership-$100-per-year" target="_blank" class="supporter__button supporter__button--space" rel="noopener">Annual $100</a>
                <a href="https://dashboard.presspatron.com/donations/new?frame=1&t=AbkE2e7ZwQgwLPFzVowC2cKm" data-pp-page="pwyw" data-pp-metadata="membership-pwyw" target="_blank" class="supporter__button supporter__button--grey">Pay what you want</a>
            </div>

        </div>

    {% endif %}












    <div class="container">
        <div class="row supporter u-margin-top-80 d-none">
            <div class="col-12 u-text-center">
                <h1 class="supporter__title">Become a supporter</h1>
            </div>
            <div class="offset-lg-1 col-lg-10 justify-content-center">

                {% if donations == "nr" %}
                    <button data-interval="month" data-amount="1500"  class="supporter__button j-donation">Monthly $15</a>
                    <button data-interval="year"  data-amount="2000" class="supporter__button supporter__button--space j-donation">Annual $100</a>
                    <button class="supporter__button supporter__button--black j-donation">Pay what you want</a>
                {% else %}
                    <a href="https://dashboard.presspatron.com/donations/new?frame=1&t=AbkE2e7ZwQgwLPFzVowC2cKm" data-pp-page="checkout" data-pp-frequency="monthly" data-pp-amount="15" data-pp-metadata="membership-$15-per-month" target="_blank" class="supporter__button" rel="noopener">Monthly $15</a>
                    <a href="https://dashboard.presspatron.com/donations/new?frame=1&t=AbkE2e7ZwQgwLPFzVowC2cKm" data-pp-page="checkout" data-pp-frequency="annual" data-pp-amount="100" data-pp-metadata="membership-$100-per-year" target="_blank" class="supporter__button supporter__button--space" rel="noopener">Annual $100</a>
                    <a href="https://dashboard.presspatron.com/donations/new?frame=1&t=AbkE2e7ZwQgwLPFzVowC2cKm" data-pp-page="pwyw" data-pp-metadata="membership-pwyw" target="_blank" class="supporter__button supporter__button--grey">Pay what you want</a>
                {% endif %}



            </div>

        </div>


        {# Visbile #}
        <div class="row writers u-margin-top-60">
            <div class="col-12">
                <h1 class="writers__title">Meet our editorial team</h1>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/reid@2x.jpg" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Melanie Reid</h1>
                        <p class="writers__jobtitle">INVESTIGATIONS EDITOR</p>
                        {# <a class="writers__about">About </a> #}
                    </div>
                </div>

                {# <div class="d-flex writers-bio u-hide">
                    <img src="{{networkData.templatePath}}/static/headshots/reid@2x.jpg" class="writers__img">
                    <div class="writers-bio__text">
                        <h1 class="writers-bio__name">Melanie Reid</h1>
                        <p class="writers-bio__jobtitle">XXXXXXXX XXXXXXXX XXXXXXXX XXXXXXXX XXXXXXXX</p>
                        <p class="writers-bio__text">Name Name is the managing editor of Newsroom Pro. 
                        She writes about economics and politics. In hac habitasse platea dictumst. 
                        Vivamus dipsero scing fermentum quam volutpat aliqua Integer eawt elit leget.</p>
                    </div>
                </div> #}


            </div>

            <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/milne.jpg" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Jonathan Milne</h1>
                        <p class="writers__jobtitle">NEWSROOM PRO EDITOR</p>
                        {# <a class="writers__about">About </a> #}
                    </div>
                </div>
            </div>


            



            <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/oram@2x.jpg" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Rod Oram</h1>
                        <p class="writers__jobtitle">Columinst</p>
                        {# <a class="writers__about">About </a> #}
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/murphy@2x.jpg" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Tim Murphy</h1>
                        <p class="writers__jobtitle">co-founder and co-editor</p>
                        {# <a class="writers__about">About </a> #}
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/mandow@2x.jpg" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Nikki Mandow</h1>
                        <p class="writers__jobtitle">BUSINESS EDITOR</p>
                        {# <a class="writers__about">About </a> #}
                    </div>
                </div>
            </div>




            <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/jennings@2x.jpg" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Mark Jennings</h1>
                        <p class="writers__jobtitle">co-founder and co-editor</p>
                        {# <a class="writers__about">About </a> #}
                    </div>
                </div>
            </div>








            <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/mcfadden@2x.jpg" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Suzanne McFadden</h1>
                        <p class="writers__jobtitle">LOCKERROOM EDITOR</p>
                        {# <a class="writers__about">About </a> #}
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/sachdeva@2x.jpg" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Sam Sachdeva</h1>
                        <p class="writers__jobtitle">NATIONAL AFFAIRS EDITOR</p>
                        {# <a class="writers__about">About </a> #}
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/daalder@2x.jpg" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Marc Daalder</h1>
                        <p class="writers__jobtitle">POLITICAL REPORTER</p>
                        {# <a class="writers__about">About </a> #}
                    </div>
                </div>
            </div>

        </div>







        {# Hidden #}
        <div id="hidden-writers" class="row writers u-hide">
            <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/braunias@2x.jpg" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Steve Braunias</h1>
                        <p class="writers__jobtitle">READINGROOM EDITOR</p>
                        {# <a class="writers__about">About </a> #}
                    </div>
                </div>
            </div>



            <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/brett-kelly@2x.jpg" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Sharon BrettKelly</h1>
                        <p class="writers__jobtitle">the detail co-host</p>
                        {# <a class="writers__about">About </a> #}
                    </div>
                </div>
            </div>


            


            <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/russell@2x.jpg" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Alexia Russell</h1>
                        <p class="writers__jobtitle">PRODUCER, THE DETAIL</p>
                        {# <a class="writers__about">About </a> #}
                    </div>
                </div>
            </div>



            <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/williams@2x.jpg" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">David Williams</h1>
                        <p class="writers__jobtitle">SOUTH ISLAND CORRESPONDENT</p>
                        {# <a class="writers__about">About </a> #}
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/stanley@2x.jpg" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Ashley Stanley</h1>
                        <p class="writers__jobtitle">SPORTS REPORTER</p>
                        {# <a class="writers__about">About </a> #}
                    </div>
                </div>
            </div>



            <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/donovan@2x.jpg" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Emile Donovan</h1>
                        <p class="writers__jobtitle">the detail co-host</p>
                        {# <a class="writers__about">About </a> #}
                    </div>
                </div>
            </div>




            <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/mason@2x.jpg" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Cassandra Mason</h1>
                        <p class="writers__jobtitle">NEWS DIRECTOR</p>
                        {# <a class="writers__about">About </a> #}
                    </div>
                </div>
            </div>



            



            <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/elliott@2x.jpg" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">James Elliot</h1>
                        <p class="writers__jobtitle">LEGAL COUNSEL &amp; CONTRIBUTING WRITER</p>
                        {# <a class="writers__about">About </a> #}
                    </div>
                </div>
            </div>



            



            <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/chiang@2x.jpg" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Jessie Chiang</h1>
                        <p class="writers__jobtitle">Associate producer, The Detail</p>
                        {# <a class="writers__about">About </a> #}
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/enticott@2x.jpg" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Paul Enticott</h1>
                        <p class="writers__jobtitle">VIDEO PRODUCER</p>
                        {# <a class="writers__about">About </a> #}
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/duggan@2x.jpg" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Karen Duggan</h1>
                        <p class="writers__jobtitle">CONTENT PARTNERSHIPS MANAGER</p>
                        {# <a class="writers__about">About </a> #}
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/prasad@2x.jpg" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Vanita Prasad</h1>
                        <p class="writers__jobtitle">READER REVENUE AND ENGAGEMENT MANAGER</p>
                        {# <a class="writers__about">About </a> #}
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/moir.png" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Jo Moir</h1>
                        <p class="writers__jobtitle">POLITICAL EDITOR</p>
                        {# <a class="writers__about">About </a> #}
                    </div>
                </div>
            </div>



            <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/nadkarni.jpeg" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Anuja Nadkarni</h1>
                        <p class="writers__jobtitle">BUSINESS REPORTER</p>
                        {# <a class="writers__about">About </a> #}
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/scott.png" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Matthew Scott</h1>
                        <p class="writers__jobtitle">REPORTER</p>
                        {# <a class="writers__about">About </a> #}
                    </div>
                </div>
            </div>




            <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/rawhiti-connell.png" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Anna Rawhiti-Connell</h1>
                        <p class="writers__jobtitle">COLUMNIST</p>
                        {# <a class="writers__about">About </a> #}
                    </div>
                </div>
            </div>






            <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/kino.jpeg" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Shilo Kino</h1>
                        <p class="writers__jobtitle">COLUMNIST</p>
                        {# <a class="writers__about">About </a> #}
                    </div>
                </div>
            </div>




        </div>

        <div class="row">
            <div class="col-12">
                <p id="viewall" class="col-12 u-margin-bottom-20 writers__view-all">View all </p>
            </div>
        </div>





    </div>



    <div class="support-breakout u-margin-top-60">
        <div class="container">

            <div class="row donations">
                <h1 class="col-12 support-breakout__title">Start supporting Newsroom today</h1>
                <div class="offset-lg-1 col-lg-10 justify-content-center">



                {% if donations == "nr" %}
                    <button data-interval="one_time" data-amount="5000"  class="supporter__button supporter__button--purple j-donation">Donate $50</a>
                    <button data-interval="one_time"  data-amount="7500" class="supporter__button supporter__button--purple supporter__button--space j-donation">Donate $75</a>
                    <button class="supporter__button supporter__button--purple j-donation">Pay what you want</a>
                {% else %}
                    <a href="https://dashboard.presspatron.com/donations/new?frame=1&t=AbkE2e7ZwQgwLPFzVowC2cKm" data-pp-page="checkout" data-pp-frequency="monthly" data-pp-amount="15" data-pp-metadata="membership-$15-per-month" target="_blank" class="supporter__button">Monthly $15</a>
                    <a href="https://dashboard.presspatron.com/donations/new?frame=1&t=AbkE2e7ZwQgwLPFzVowC2cKm" data-pp-page="checkout" data-pp-frequency="annual" data-pp-amount="100" data-pp-metadata="membership-$100-per-year" target="_blank" class="supporter__button supporter__button--space">Annual $100</a>
                    <a href="https://dashboard.presspatron.com/donations/new?frame=1&t=AbkE2e7ZwQgwLPFzVowC2cKm" data-pp-page="pwyw" data-pp-metadata="membership-pwyw" target="_blank" class="supporter__button supporter__button--grey">Pay what you want</a>
                {% endif %}


                {# {% if _User.isAdminUser %}
                    <button class="supporter__button supporter__button--black j-donation">Pay what you want</a>
                {% endif %} #}

                
                </div>

            </div>
        </div>
    </div>





 

 


    <div class="container">
        <div class="row faq u-margin-top-60">
            <h1 class="col-12 faq__title">FAQs</h1>

            <div class="col-12">
                <div class="faq__question-box d-flex flex-row">
                    <div class="faq__container">
                        <p class="faq__question u-font-bold">What is the difference between making a donation and subscribing to Newsroom Pro?</p>
                        <div class="faq__answer-container u-hide">
                            <p class="faq__answer">Great question, because both support Newsroom’s journalism. Donations can be any amount or frequency and all donations help Newsroom keep its journalism free for everyone to read. Newsroom Pro is our subscription service curated by Jonathan Milne, which you can find out more about <a href="{{networkData.defaultBlogUrl}}/prosubscribe">here</a>.</p>
                        </div>
                    </div>
                    <div class="faq__button"><div class="faq__arrow-container "><div class="o-arrow"></div></div> </div>
                </div>


                <div class="faq__question-box d-flex flex-row">
                    <div class="faq__container">
                        <p class="faq__question u-font-bold">What’s the best way to keep Newsroom sustainable?</p>
                        <div class="faq__answer-container u-hide">
                            <p class="faq__answer">Donations of any kind are gratefully accepted but monthly donations go a long way towards ensuring we can continue our work into the future – and you can cancel your monthly payment any time.</p>
                        </div>
                    </div>
                    <div class="faq__button"><div class="faq__arrow-container "><div class="o-arrow"></div></div> </div>
                </div>


                <div class="faq__question-box d-flex flex-row">
                    <div class="faq__container">
                        <p class="faq__question u-font-bold">Why does Newsroom need donations anyway? Don’t you have sponsors?</p>
                        <div class="faq__answer-container u-hide">
                            <p class="faq__answer">Yes, we do have some wonderful sponsors and corporate partners who make a huge difference in keeping Newsroom running but unfortunately it’s not enough to keep us operating. Reader donations are absolutely critical to supporting our journalists as they work to uncover the stories that matter.</p>
                        </div>
                    </div>
                    <div class="faq__button"><div class="faq__arrow-container "><div class="o-arrow"></div></div> </div>
                </div>


            </div>
        </div>


    </div>



    <div class="awards u-margin-top-60">
        <div class="container">
            <div class="row">
    
    
                <h1 class="col-12 faq__title">Awards</h1>

                <div class="col-md-6 col-lg-3">

                    <div class="awards__container">
                        <h2 class="awards__award">Voyager Media Awards 2020</h2>
                        <p class="awards__winners-title">Best news website – runner up</p>

                        <p class="awards__winners-title">Best single news story</p>
                        <p class="awards__winners-names">Melanie Reid</p>

                        <p class="awards__winners-title">Best editorial campaign or project</p>
                        <p class="awards__winners-names">Melanie Reid – Oranga Tamariki uplifts</p>

                        <p class="awards__winners-title">Opinion Writer of the Year</p>
                        <p class="awards__winners-names">Emma Espiner</p>

                        <p class="awards__winners-title">Science Journalism Award</p>
                        <p class="awards__winners-names">Eloise Gibson</p>

                        <p class="awards__winners-title">Feature writing – general</p>
                        <p class="awards__winners-names">Steve Braunias</p>

                        <p class="awards__winners-title">Best first-person essay or feature</p>
                        <p class="awards__winners-names">Tayi Tibble – &lsquo;Ihumātao: Everyone was there, e hoa&rsquo;</p>
                    </div>
                    <div class="awards__container">
                        <h2 class="awards__award">NZ Shareholders’ Association Business Journalism awards 2020</h2>
                        <p class="awards__winners-title">Business Journalist of the Year</p>
                        <p class="awards__winners-names">Nikki Mandow – &lsquo;Bad Things Happen&rsquo;</p>

                        <p class="awards__winners-title">Best features</p>
                        <p class="awards__winners-names">Nikki Mandow</p>
                        
                        <p class="awards__winners-title">Best commentary</p>
                        <p class="awards__winners-names">Rod Oram</p>
                        
                    </div>

                    <div class="awards__container">
                        <h2 class="awards__award">NZ Guild of Agricultural Journalists and Communicators awards 2020</h2>

                        <p class="awards__winners-title">Ko Tātou This Is Us Biosecurity Journalism Award</p>
                        <p class="awards__winners-names">Nikki Mandow</p>
                        
                        <p class="awards__winners-title">Zespri Export Journalism Award</p>
                        <p class="awards__winners-names">Nikki Mandow</p>
                        
                        <p class="awards__winners-title">Agricultural Journalism Encouragement Award</p>
                        <p class="awards__winners-names">Nikki Mandow</p>
                    </div>


                    



                    

                </div>


                <div class="col-md-6 offset-lg-1 col-lg-3">

                    <div class="awards__container">
                        <h2 class="awards__award">2020 Citi Journalism Awards for Excellence</h2>
                        <p class="awards__winners-title">New Zealand Journalist of the Year Award</p>
                        <p class="awards__winners-names">Nikki Mandow – &lsquo;Bad Things Happen&rsquo;</p>
                    </div>
                    


                    <div class="awards__container">
                        <h2 class="awards__award">Marketing Magazine Media Hot List 2019</h2>
                        <p class="awards__winners-title">Hottest Publisher</p>
                        <p class="awards__winners-title">Hottest Editors</p>
                        <p class="awards__winners-title">(People’s Choice),</p>
                        <p class="awards__winners-names">Mark Jennings & Tim Murphy</p>
                    </div>
                    <div class="awards__container">
                        <h2 class="awards__award">2019 Citi Journalism Awards for Excellence</h2>
                        {# <p class="awards__winners-title">Hottest Publisher</p>
                        <p class="awards__winners-names">How Fonterra hit the wall in China, Rod Oram<p> #}
                        <p class="awards__winners-title">Young Business Journalist of the Year</p>
                        <p class="awards__winners-names">Thomas Coughlan - &lsquo;The massive conflict of interest in vehicle imports into New Zealand&rsquo;</p>
                        <p class="awards__winners-title">New Zealand Journalist of the Year Award</p>
                        <p class="awards__winners-names">Rod Oram - &lsquo;How Fonterra hit the wall in China&rsquo;</p>
                        </p>

                    </div>

                    
                    <div class="awards__container">
                        <h2 class="awards__award">Huawei Mate30 Pro NZ TV Awards 2019</h2>
                        <p class="awards__winners-title">Best Current Affairs Programme </p>
                        <p class="awards__winners-names">Newsroom Investigates</p>
                    </div>
                    


                </div>


                <div class="col-md-6 offset-lg-1 col-lg-3">

                    <div class="awards__container">
                        <h2 class="awards__award">Voyager Media Awards 2019</h2>
                        <p class="awards__winners-title">Reporting (general) winner</p>
                        <p class="awards__winners-names">Melanie Reid</p>

                        <p class="awards__winners-title">Science and Technology Award</p>
                        <p class="awards__winners-names">Eloise Gibson</p>

                        <p class="awards__winners-title">Features - Crime writing and/or social issues</p>
                        <p class="awards__winners-names">Teuila Fuatai</p>

                            
                    </div>

                    <div class="awards__container">
                        <h2 class="awards__award">Voyager Media Awards 2018</h2>
                        <p class="awards__winners-title">Website of the Year</p>
                        <p class="awards__winners-names">(joint) winner</p>
                        <p class="awards__winners-title">Melanie Reid</p>
                        <p class="awards__winners-names">Eloise Gibson</p>
                        <p class="awards__winners-title">Best (single) news story</p>
                        <p class="awards__winners-names">Melanie Reid - &lsquo;Police and the payout&rsquo;</p>
                        <p class="awards__winners-title">Reporting (general) winner</p>
                        <p class="awards__winners-names">Melanie Reid</p>
                    </div>
                    
                    <div class="awards__container">
                        <h2 class="awards__award">Huawei Mate30 Pro NZ TV Awards 2017</h2>
                        <p class="awards__winners-title">Best Current Affairs Programme</p>
                        <p class="awards__winners-names">&lsquo;The Politician, The Police and The Payout&rsquo;</p>
                    </div>

                </div>

                
            </div>
        </div>

    </div>





</main>


<script>
    // main script is defered so event listener makes sure
    // defered script is loaded before this runs
    document.addEventListener("DOMContentLoaded", function(event) {
        var hiddenWriters = $('#hidden-writers');

        $('#viewall').on('click', function(e) {
            $this = $(this);
            if ($this.text().trim() === "View all") {
                $this.text("View less");
            } else {
                $this.text("View all");
            }
            hiddenWriters.toggleClass('u-hide');
        });


        $('.faq__button').on('click', function(e) {

            close = true;
            var box = $(e.target).closest('div.faq__question-box');
            if (box.hasClass('faq__question-box--open')) {
                close = false;
            }


            var boxes = $('div.faq__question-box');
            boxes.removeClass('faq__question-box--open');

            var questions = $('.faq__question');
            questions.removeClass('faq__question--open');

            var answers = $('.faq__answer-container');
            answers.addClass('u-hide').removeClass('faq__answer-container--open');
            
            var arrows = $('.faq__arrow-container');
            arrows.removeClass('faq__arrow-container--up');

            var question = box.find('.faq__question');
            var clickedArrow = box.find('.faq__arrow-container');
            var clickedAnswer = box.find('.faq__answer-container');

            if (close) {
                box.addClass('faq__question-box--open');
                question.addClass('faq__question--open');
                clickedAnswer.removeClass('u-hide').addClass('faq__answer-container--open');
                clickedArrow.addClass('faq__arrow-container--up');
            }

        });

  


        const DonateTabs = function() {
            this.tab = 'donate';
            this.donateButton = document.getElementById("donate-tab");
            this.subscribeButton = document.getElementById("subscribe-tab");
            this.donatePane = document.getElementById("donate-pane");
            this.subscribePane = document.getElementById("subscribe-pane");
            this.events();
        };
        DonateTabs.prototype.events = function() {
            var self = this;
            this.donateButton.addEventListener('click', function(e) {
                e.preventDefault();
                if (self.tab === 'donate') return;
                self.tab = 'donate';
                this.classList.add('active');
                self.subscribeButton.classList.remove('active');
                self.donatePane.classList.add('active');
                self.subscribePane.classList.remove('active');
            });
            this.subscribeButton.addEventListener('click', function(e) {
                e.preventDefault();
                if (self.tab === 'subscribe') return;
                self.tab = 'subscribe';
                this.classList.add('active');
                self.donateButton.classList.remove('active');
                self.subscribePane.classList.add('active');
                self.donatePane.classList.remove('active');
            });
        };

        const tabber = new DonateTabs();





    });
</script>

            {# html += '<button class="btn u-margin-right-10" data-product_id="'+ productId + '" data-price_id="'+ r.data[j].id+'">$'+ (r.data[j].unit_amount / 100 )+' </button>'; #} #}

            {# console.log("price", r.data[j]);
    {# stripe.redirectToCheckout({
                            sessionId: r.sessionId
                            })
                            .then(handleResult);
                        }); #}



        {# console.log('creating session');
        Acme.server.create('/api/paywall/checkout-session', {}).done( function(r) {
            console.log(r);
        });
 #}
