{{ set(this, 'title', 'Signup Successful') }}
{% set networkData = _Network.getNetworkData() %}


<main id="main" class="site-main" role="main">

    {# <div class="container-fluid">
        <section class="row">
            <div class="col-sm-12 market-header u-margin-top-40">
                <img class="market-header__logo" src="{{networkData.templatePath}}/static/images/newsroom-pro-logo-dark.svg">
            </div>
        </section>
    </div> #}

    <section class="donate-thanks donate-thanks--thanks u-margin-top-20">
        <div class="donate-thanks__content donate-thanks__content--thanks container-fluid">
            <div class="row u-height-100">
                <div class="col-lg-5 donate-thanks__left">
                    <h1 class="donate-thanks__headline">Thanks for <br />your donation!</h1>
                    
                    {% if _User.isGuest() %}
                        <p class="donate-thanks__tagline">We have emailed you a link to create a Newsroom password to access your donor page.</p>
                        <p class="donate-thanks__tagline">You can then sign in to Newsroom, visit <a href="{{networkData.defaultBlogUrl ~ '/user/edit-profile'}} ">My Account</a> and click on ‘Manage my donations’.</p> 
                    {% else %}
                        <p class="donate-thanks__tagline donate-thanks__tagline--bold">A receipt has been emailed to you.</p>
                        <p class="donate-thanks__tagline">To manage your donor account, visit <a href="{{networkData.defaultBlogUrl ~ '/user/edit-profile'}} ">My Account</a> and click on ‘Manage my donations’.</p> 
                    {% endif %}


                
                
                </div>
                <div class="col-lg-7 donate-thanks__right">
                    <div class="donate-thanks__img-container">
                        <img src="{{networkData.templatePath}}/static/images/donate-thanks.jpg" class="donate-thanks__picture"/>
                    </div>
                </div>

            </div>



            <div class="row">
                <div class="briefing-strap col-12">
                    <div class="briefing-strap__container">
                        <img src="{{networkData.templatePath}}/static/images/daily-briefing-cta.svg" class="briefing-strap__logo"/>
                        <p class="briefing-strap__text">Start your day with a curation of our top stories in your inbox</p>
                        <button class="briefing-strap__sign-up">Sign up for free</button>
                        <a class="briefing-strap__newsletter" href="{{config['mailchimp']['ctalink']}}" target="_blank">Read today’s newsletter</a>
                    </div>

                </div>

            </div>
        </div>
    </section>
</main>
