{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set plans = _Paywall.getActiveNetworkPaywallPlans() %}
{% set config = _Network.getThemeConfig() %}

{% set signupurl = '/subscribeform' %}
{% set specialPlans = [] %}
{% for plan in plans %}
    {% if "!*!" in plan.description %}
        {% set description = plan.description | split("!*!") %}
        {% set data = _AppHelper.jsonDecode( description[0] ) %}
        {% if data['donatepage'] is defined and data['donatepage'] == true %}
            {% set save = data['save'] is defined ? data['save'] : false %}
            {% set plan = plan | merge({"saving" : save}) %}
            {% set specialPlans = specialPlans | merge ([plan]) %}
        {% endif %}

    {% endif %} 
{% endfor %}




{% set donations = "nr" %}
{% if config.donations is defined %}
    {% if config.donations != "nr" %}
        {% set donations = config.donations %}
    {% endif %}
    
    {% if config.donations.provider is defined %} 
        {% set donations = config.donations.provider %}
    {% endif %}
{% endif %}


{% set donations_img = "" %}
{% if config['donations']['donations_page']['main_image'] is defined %}
    {% set donations_img = config['donations']['donations_page']['main_image'] %}
{% endif %}


{% set guestUser = _User.isGuest() %}
{% set url = _AppHelper.getParsedUrl %}
{% set params = url['query'] %}

{#remove all images if url param set#}

{% set session_id = false %}
{% for k, p in params %}
    {% if k == 'session_id' %}
        {% set session_id = p %}
    {% endif %}
{% endfor %}

{% set pwstats = _User.getPaywallStats(true) %}


<main id="main" class="" role="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="donations__header  u-margin-top-30 u-margin-bottom-30">
                    <a class="donations__nr-logo" href="{{networkData.defaultBlogUrl}}" rel="Home" tabindex="-1" title="Home">
                        <img src="{{networkData.templatePath}}/static/images/nr-logo.svg" alt="logo" class="mobile-logo">
                    </a>
                    <a class="donations__close" href="{{networkData.defaultBlogUrl}}" rel="Home" tabindex="-1" title="Home">
                        <div class="o-close donations__close-icon"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="donations__subs">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-5 order-md-2 p-0 offset-md-1">
                    <div class="donations__subs-box">
                        <div class="donations__subs--text d-block d-md-none">Help power independent fact-driven reporting</div>
                    </div>
                    {% if donations == "nr" or _User.isAdminUser() %}
                        <div id="donate-container" class="donations__subs-container"></div>
                    {% endif %}

                </div>

                <div class="col-12 col-md-6 order-md-1 p-0">
                    <div class="donations__subs-slideShow">
                        <div class="owl-slider">
                            <div id="carousel22" class="owl-carousel">
                                <div class="item">
                                    <h1 class="donations__title u-margin-bottom-40 d-none d-lg-block"><span class="donations__title--red">Support</span> journalism that is worth making room for.</h1>
                                    <p class="donations__text donations__text--first-para u-font-weight-bold u-mobile-margin-bottom-10">We believe there has never been a more important time to support independent journalism. </p>
                                    <p class="donations__text u-mobile-margin-bottom-10">The importance of accurate, rigorous reporting and analysis feels more acute than ever. Newsroom’s donors and subscribers support our reporters to tackle the big issues facing New Zealand.</p>
                                    <p class="donations__text u-mobile-margin-bottom-10">By supporting Newsroom you are helping to ensure a sustainable future for fact-driven, independent journalism in Aotearoa, NZ.</p>
                                    <p class="donations__text u-mobile-margin-bottom-10">Your donation, big or small, one off or regular, helps us to deliver on our core values of independence, intelligence and integrity. We believe these are values worth making room for.</p>
                                    <p class="donations__text u-mobile-margin-bottom-25">We appreciate your support.</p>
                                    
                                    <div class="flex_row u-align-center">
                                        <img src="{{networkData.templatePath}}/static/headshots/tim-mark-bw@2x.jpg" class="donations__byline-img">
                                        <p class="donations__byline">– Tim, Mark and the team at Newsroom</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        {# visible #}
        <div class="row writers u-margin-top-60">
            <div class="col-12">
                <h1 class="writers__title">Meet our editorial team</h1>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/reid@2x.jpg" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Melanie Reid</h1>
                        <p class="writers__jobtitle">INVESTIGATIONS EDITOR</p>
                        {# <a class="writers__about">About </a> #}
                    </div>
                </div>

                {# <div class="d-flex writers-bio u-hide">
                    <img src="{{networkData.templatePath}}/static/headshots/reid@2x.jpg" class="writers__img">
                    <div class="writers-bio__text">
                        <h1 class="writers-bio__name">Melanie Reid</h1>
                        <p class="writers-bio__jobtitle">XXXXXXXX XXXXXXXX XXXXXXXX XXXXXXXX XXXXXXXX</p>
                        <p class="writers-bio__text">Name Name is the managing editor of Newsroom Pro. 
                        She writes about economics and politics. In hac habitasse platea dictumst. 
                        Vivamus dipsero scing fermentum quam volutpat aliqua Integer eawt elit leget.</p>
                    </div>
                </div> #}


            </div>

            <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/milne.jpg" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Jonathan Milne</h1>
                        <p class="writers__jobtitle">NEWSROOM PRO EDITOR</p>
                        {# <a class="writers__about">About </a> #}
                    </div>
                </div>
            </div>


            



            <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/oram@2x.jpg" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Rod Oram</h1>
                        <p class="writers__jobtitle">Columnist</p>
                        {# <a class="writers__about">About </a> #}
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/murphy@2x.jpg" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Tim Murphy</h1>
                        <p class="writers__jobtitle">co-founder and co-editor</p>
                        {# <a class="writers__about">About </a> #}
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/mandow@2x.jpg" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Nikki Mandow</h1>
                        <p class="writers__jobtitle">BUSINESS EDITOR</p>
                        {# <a class="writers__about">About </a> #}
                    </div>
                </div>
            </div>




            <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/jennings@2x.jpg" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Mark Jennings</h1>
                        <p class="writers__jobtitle">co-founder and co-editor</p>
                        {# <a class="writers__about">About </a> #}
                    </div>
                </div>
            </div>








            <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/mcfadden@2x.jpg" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Suzanne McFadden</h1>
                        <p class="writers__jobtitle">LOCKERROOM EDITOR</p>
                        {# <a class="writers__about">About </a> #}
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/sachdeva@2x.jpg" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Sam Sachdeva</h1>
                        <p class="writers__jobtitle">NATIONAL AFFAIRS EDITOR</p>
                        {# <a class="writers__about">About </a> #}
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="https://res.cloudinary.com/cognitives-s3/image/upload/c_limit,dpr_auto,f_auto,fl_lossy,q_auto,w_150/v1/cog-aap/n/303/2022/Jul/25/MXu7YxsakhVBqhZBaudb.png" class="writers__img">
                    {# <img src="{{networkData.templatePath}}/static/headshots/daalder@2x.jpg" class="writers__img"> #}
                    <div class="writers__text">
                        <h1 class="writers__name">Marc Daalder</h1>
                        <p class="writers__jobtitle">POLITICAL REPORTER</p>
                        {# <a class="writers__about">About </a> #}
                    </div>
                </div>
            </div>

        </div>

        {# Hidden #}
        <div id="hidden-writers" class="row writers u-hide">
            <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/braunias@2x.jpg" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Steve Braunias</h1>
                        <p class="writers__jobtitle">READINGROOM EDITOR</p>
                        {# <a class="writers__about">About </a> #}
                    </div>
                </div>
            </div>



            <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/brett-kelly@2x.jpg" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Sharon BrettKelly</h1>
                        <p class="writers__jobtitle">the detail co-host</p>
                        {# <a class="writers__about">About </a> #}
                    </div>
                </div>
            </div>


            


            <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="https://res.cloudinary.com/cognitives-s3/image/upload/c_limit,dpr_auto,f_auto,fl_lossy,q_auto,w_150/v1/cog-aap/n/303/2022/Jul/25/X0Nmm63qFD5r8WgofvkQ.png" class="writers__img">
                    {# <img src="{{networkData.templatePath}}/static/headshots/russell@2x.jpg" class="writers__img"> #}
                    <div class="writers__text">
                        <h1 class="writers__name">Sarah Robson</h1>
                        <p class="writers__jobtitle">PRODUCER, THE DETAIL</p>
                        {# <a class="writers__about">About </a> #}
                    </div>
                </div>
            </div>



            <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/williams@2x.jpg" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">David Williams</h1>
                        <p class="writers__jobtitle">SOUTH ISLAND CORRESPONDENT</p>
                        {# <a class="writers__about">About </a> #}
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="https://res.cloudinary.com/cognitives-s3/image/upload/c_limit,dpr_auto,f_auto,fl_lossy,q_auto,w_150/v1/cog-aap/n/303/2022/Jul/25/NBlxUABrMfCDM35Pm3jl.jpeg" class="writers__img">
                    {# <img src="{{networkData.templatePath}}/static/headshots/stanley@2x.jpg" class="writers__img"> #}
                    <div class="writers__text">
                        <h1 class="writers__name">Merryn Anderson</h1>
                        <p class="writers__jobtitle">SPORTS REPORTER</p>
                        {# <a class="writers__about">About </a> #}
                    </div>
                </div>
            </div>



            <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/donovan@2x.jpg" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Emile Donovan</h1>
                        <p class="writers__jobtitle">the detail co-host</p>
                        {# <a class="writers__about">About </a> #}
                    </div>
                </div>
            </div>




            <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/mason@2x.jpg" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Cassandra Mason</h1>
                        <p class="writers__jobtitle">NEWS DIRECTOR</p>
                        {# <a class="writers__about">About </a> #}
                    </div>
                </div>
            </div>



            



            <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/elliott@2x.jpg" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">James Elliot</h1>
                        <p class="writers__jobtitle">LEGAL COUNSEL &amp; CONTRIBUTING WRITER</p>
                        {# <a class="writers__about">About </a> #}
                    </div>
                </div>
            </div>



            



            {# <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/chiang@2x.jpg" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Jessie Chiang</h1>
                        <p class="writers__jobtitle">Associate producer, The Detail</p>
                        <a class="writers__about">About </a>
                    </div>
                </div>
            </div> #}


            <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/enticott@2x.jpg" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Paul Enticott</h1>
                        <p class="writers__jobtitle">VIDEO PRODUCER</p>
                        {# <a class="writers__about">About </a> #}
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/duggan@2x.jpg" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Karen Duggan</h1>
                        <p class="writers__jobtitle">CONTENT PARTNERSHIPS MANAGER</p>
                        {# <a class="writers__about">About </a> #}
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/prasad@2x.jpg" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Vanita Prasad</h1>
                        <p class="writers__jobtitle">READER REVENUE AND ENGAGEMENT MANAGER</p>
                        {# <a class="writers__about">About </a> #}
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/moir.png" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Jo Moir</h1>
                        <p class="writers__jobtitle">POLITICAL EDITOR</p>
                        {# <a class="writers__about">About </a> #}
                    </div>
                </div>
            </div>



            {# <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/nadkarni.jpeg" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Anuja Nadkarni</h1>
                        <p class="writers__jobtitle">BUSINESS REPORTER</p>
                        <a class="writers__about">About </a>
                    </div>
                </div>
            </div> #}


            <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/matthew_scott.png" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Matthew Scott</h1>
                        <p class="writers__jobtitle">REPORTER</p>
                        {# <a class="writers__about">About </a> #}
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/hugo_stewar.png" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Hugo Stewart</h1>
                        <p class="writers__jobtitle">VIDEO PRODUCER</p>
                        {# <a class="writers__about">About </a> #}
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/andrew_bevin.png" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Andrew Bevin</h1>
                        <p class="writers__jobtitle">BUSINESS REPORTER</p>
                        {# <a class="writers__about">About </a> #}
                    </div>
                </div>
            </div>




            {# <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/rawhiti-connell.png" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Anna Rawhiti-Connell</h1>
                        <p class="writers__jobtitle">COLUMNIST</p>
                        <a class="writers__about">About </a>
                    </div>
                </div>
            </div> #}






            {# <div class="col-md-6 col-lg-4">
                <div class="d-flex writers__container">
                    <img src="{{networkData.templatePath}}/static/headshots/kino.jpeg" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Shilo Kino</h1>
                        <p class="writers__jobtitle">COLUMNIST</p>
                        <a class="writers__about">About </a>
                    </div>
                </div>
            </div> #}




        </div>

        <div class="row">
            <div class="col-12">
                <p id="viewall" class="col-12 u-margin-bottom-20 writers__view-all">View all </p>
            </div>
        </div>
    </div>

    <div class="support-breakout u-margin-top-60">
        <div class="container">

            <div class="row donations">
                <h1 class="col-12 support-breakout__title">Start supporting Newsroom today</h1>
                <div class="offset-lg-1 col-lg-10 justify-content-center">



                {% if donations == "nr" %}
                    <button data-interval="one_time" data-amount="5000"  class="supporter__button supporter__button--purple j-donation">Donate $50</a>
                    <button data-interval="one_time"  data-amount="10000" class="supporter__button supporter__button--purple supporter__button--space j-donation">Donate $100</a>
                    <button class="supporter__button supporter__button--purple j-donation">Pay what you want</a>
                {% else %}
                    <a href="https://dashboard.presspatron.com/donations/new?frame=1&t=AbkE2e7ZwQgwLPFzVowC2cKm" data-pp-page="checkout" data-pp-frequency="monthly" data-pp-amount="15" data-pp-metadata="membership-$15-per-month" target="_blank" class="supporter__button">Monthly $15</a>
                    <a href="https://dashboard.presspatron.com/donations/new?frame=1&t=AbkE2e7ZwQgwLPFzVowC2cKm" data-pp-page="checkout" data-pp-frequency="annual" data-pp-amount="100" data-pp-metadata="membership-$100-per-year" target="_blank" class="supporter__button supporter__button--space">Annual $100</a>
                    <a href="https://dashboard.presspatron.com/donations/new?frame=1&t=AbkE2e7ZwQgwLPFzVowC2cKm" data-pp-page="pwyw" data-pp-metadata="membership-pwyw" target="_blank" class="supporter__button supporter__button--grey">Pay what you want</a>
                {% endif %}


                {# {% if _User.isAdminUser %}
                    <button class="supporter__button supporter__button--black j-donation">Pay what you want</a>
                {% endif %} #}

                
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row faq u-margin-top-60">
            <h1 class="col-12 faq__title">FAQs</h1>

            <div class="col-12">
                <div class="faq__question-box d-flex flex-row">
                    <div class="faq__container">
                        <p class="faq__question u-font-bold">What is the difference between making a donation and subscribing to Newsroom Pro?</p>
                        <div class="faq__answer-container u-hide">
                            <p class="faq__answer">Great question, because both support Newsroom’s journalism. Donations can be any amount or frequency and all donations help Newsroom keep its journalism free for everyone to read. Newsroom Pro is our subscription service curated by Jonathan Milne, which you can find out more about <a href="{{networkData.defaultBlogUrl}}/prosubscribe">here</a>.</p>
                        </div>
                    </div>
                    <div class="faq__button"><div class="faq__arrow-container "><div class="o-arrow"></div></div> </div>
                </div>


                <div class="faq__question-box d-flex flex-row">
                    <div class="faq__container">
                        <p class="faq__question u-font-bold">What’s the best way to keep Newsroom sustainable?</p>
                        <div class="faq__answer-container u-hide">
                            <p class="faq__answer">Donations of any kind are gratefully accepted but monthly donations go a long way towards ensuring we can continue our work into the future – and you can cancel your monthly payment any time.</p>
                        </div>
                    </div>
                    <div class="faq__button"><div class="faq__arrow-container "><div class="o-arrow"></div></div> </div>
                </div>


                <div class="faq__question-box d-flex flex-row">
                    <div class="faq__container">
                        <p class="faq__question u-font-bold">Why does Newsroom need donations anyway? Don’t you have sponsors?</p>
                        <div class="faq__answer-container u-hide">
                            <p class="faq__answer">Yes, we do have some wonderful sponsors and corporate partners who make a huge difference in keeping Newsroom running but unfortunately it’s not enough to keep us operating. Reader donations are absolutely critical to supporting our journalists as they work to uncover the stories that matter.</p>
                        </div>
                    </div>
                    <div class="faq__button"><div class="faq__arrow-container "><div class="o-arrow"></div></div> </div>
                </div>


            </div>
        </div>


    </div>

    <div class="awards u-margin-top-60">
        <div class="container">
            <div class="row">
    
    
                <h1 class="col-12 faq__title">Awards</h1>

                <div class="col-md-6 col-lg-3">
                    <div class="awards__container">
                        <h2 class="awards__award">Voyager Media Awards 2021</h2>
                        <p class="awards__winners-title">Best individual investigation</p>
                        <p class="awards__winners-names">Aaron Smale – ‘Abuse, torture and a deep state campaign of denial’</p>

                        <p class="awards__winners-title">Business Journalist of the Year</p>
                        <p class="awards__winners-names">Nikki Mandow</p>

                        <p class="awards__winners-title">Sports Journalist of the Year</p>
                        <p class="awards__winners-names">Suzanne McFadden</p>

                        <p class="awards__winners-title">Best columnist – general</p>
                        <p class="awards__winners-names">Anna Rawhiti-Connell</p>

                        <p class="awards__winners-title">Reviewer of the Year</p>
                        <p class="awards__winners-names">Charlotte Grimshaw</p>
                    </div>

                    <div class="awards__container">
                        <h2 class="awards__award">Voyager Media Awards 2020</h2>
                        <p class="awards__winners-title">Best news website – runner up</p>

                        <p class="awards__winners-title">Best single news story</p>
                        <p class="awards__winners-names">Melanie Reid</p>

                        <p class="awards__winners-title">Best editorial campaign or project</p>
                        <p class="awards__winners-names">Melanie Reid – Oranga Tamariki uplifts</p>

                        <p class="awards__winners-title">Opinion Writer of the Year</p>
                        <p class="awards__winners-names">Emma Espiner</p>

                        <p class="awards__winners-title">Science Journalism Award</p>
                        <p class="awards__winners-names">Eloise Gibson</p>

                        <p class="awards__winners-title">Feature writing – general</p>
                        <p class="awards__winners-names">Steve Braunias</p>

                        <p class="awards__winners-title">Best first-person essay or feature</p>
                        <p class="awards__winners-names">Tayi Tibble – &lsquo;Ihumātao: Everyone was there, e hoa&rsquo;</p>
                    </div>
                    <div class="awards__container">
                        <h2 class="awards__award">NZ Shareholders’ Association Business Journalism awards 2020</h2>
                        <p class="awards__winners-title">Business Journalist of the Year</p>
                        <p class="awards__winners-names">Nikki Mandow – &lsquo;Bad Things Happen&rsquo;</p>

                        <p class="awards__winners-title">Best features</p>
                        <p class="awards__winners-names">Nikki Mandow</p>
                        
                        <p class="awards__winners-title">Best commentary</p>
                        <p class="awards__winners-names">Rod Oram</p>
                        
                    </div>
                </div>


                <div class="col-md-6 offset-lg-1 col-lg-3">

                    <div class="awards__container">
                        <h2 class="awards__award">NZ Guild of Agricultural Journalists and Communicators awards 2020</h2>

                        <p class="awards__winners-title">Ko Tātou This Is Us Biosecurity Journalism Award</p>
                        <p class="awards__winners-names">Nikki Mandow</p>
                        
                        <p class="awards__winners-title">Zespri Export Journalism Award</p>
                        <p class="awards__winners-names">Nikki Mandow</p>
                        
                        <p class="awards__winners-title">Agricultural Journalism Encouragement Award</p>
                        <p class="awards__winners-names">Nikki Mandow</p>
                    </div>

                    <div class="awards__container">
                        <h2 class="awards__award">2020 Citi Journalism Awards for Excellence</h2>
                        <p class="awards__winners-title">New Zealand Journalist of the Year Award</p>
                        <p class="awards__winners-names">Nikki Mandow – &lsquo;Bad Things Happen&rsquo;</p>
                    </div>
                    


                    <div class="awards__container">
                        <h2 class="awards__award">Marketing Magazine Media Hot List 2019</h2>
                        <p class="awards__winners-title">Hottest Publisher</p>
                        <p class="awards__winners-title">Hottest Editors</p>
                        <p class="awards__winners-title">(People’s Choice),</p>
                        <p class="awards__winners-names">Mark Jennings & Tim Murphy</p>
                    </div>
                    <div class="awards__container">
                        <h2 class="awards__award">2019 Citi Journalism Awards for Excellence</h2>
                        {# <p class="awards__winners-title">Hottest Publisher</p>
                        <p class="awards__winners-names">How Fonterra hit the wall in China, Rod Oram<p> #}
                        <p class="awards__winners-title">Young Business Journalist of the Year</p>
                        <p class="awards__winners-names">Thomas Coughlan - &lsquo;The massive conflict of interest in vehicle imports into New Zealand&rsquo;</p>
                        <p class="awards__winners-title">New Zealand Journalist of the Year Award</p>
                        <p class="awards__winners-names">Rod Oram - &lsquo;How Fonterra hit the wall in China&rsquo;</p>
                        </p>

                    </div>
                </div>


                <div class="col-md-6 offset-lg-1 col-lg-3">

                    <div class="awards__container">
                        <h2 class="awards__award">Huawei Mate30 Pro NZ TV Awards 2019</h2>
                        <p class="awards__winners-title">Best Current Affairs Programme </p>
                        <p class="awards__winners-names">Newsroom Investigates</p>
                    </div>

                    <div class="awards__container">
                        <h2 class="awards__award">Voyager Media Awards 2019</h2>
                        <p class="awards__winners-title">Reporting (general) winner</p>
                        <p class="awards__winners-names">Melanie Reid</p>

                        <p class="awards__winners-title">Science and Technology Award</p>
                        <p class="awards__winners-names">Eloise Gibson</p>

                        <p class="awards__winners-title">Features - Crime writing and/or social issues</p>
                        <p class="awards__winners-names">Teuila Fuatai</p>

                            
                    </div>

                    <div class="awards__container">
                        <h2 class="awards__award">Voyager Media Awards 2018</h2>
                        <p class="awards__winners-title">Website of the Year</p>
                        <p class="awards__winners-names">(joint) winner</p>
                        <p class="awards__winners-title">Melanie Reid</p>
                        <p class="awards__winners-names">Eloise Gibson</p>
                        <p class="awards__winners-title">Best (single) news story</p>
                        <p class="awards__winners-names">Melanie Reid - &lsquo;Police and the payout&rsquo;</p>
                        <p class="awards__winners-title">Reporting (general) winner</p>
                        <p class="awards__winners-names">Melanie Reid</p>
                    </div>
                    
                    <div class="awards__container">
                        <h2 class="awards__award">Huawei Mate30 Pro NZ TV Awards 2017</h2>
                        <p class="awards__winners-title">Best Current Affairs Programme</p>
                        <p class="awards__winners-names">&lsquo;The Politician, The Police and The Payout&rsquo;</p>
                    </div>

                </div>

                
            </div>
        </div>
    </div>
</main>


<script>
    // main script is defered so event listener makes sure
    // defered script is loaded before this runs
    document.addEventListener("DOMContentLoaded", function(event) {
        var hiddenWriters = $('#hidden-writers');

        $('#viewall').on('click', function(e) {
            $this = $(this);
            if ($this.text().trim() === "View all") {
                $this.text("View less");
            } else {
                $this.text("View all");
            }
            hiddenWriters.toggleClass('u-hide');
        });


        $('.faq__button').on('click', function(e) {

            close = true;
            var box = $(e.target).closest('div.faq__question-box');
            if (box.hasClass('faq__question-box--open')) {
                close = false;
            }


            var boxes = $('div.faq__question-box');
            boxes.removeClass('faq__question-box--open');

            var questions = $('.faq__question');
            questions.removeClass('faq__question--open');

            var answers = $('.faq__answer-container');
            answers.addClass('u-hide').removeClass('faq__answer-container--open');
            
            var arrows = $('.faq__arrow-container');
            arrows.removeClass('faq__arrow-container--up');

            var question = box.find('.faq__question');
            var clickedArrow = box.find('.faq__arrow-container');
            var clickedAnswer = box.find('.faq__answer-container');

            if (close) {
                box.addClass('faq__question-box--open');
                question.addClass('faq__question--open');
                clickedAnswer.removeClass('u-hide').addClass('faq__answer-container--open');
                clickedArrow.addClass('faq__arrow-container--up');
            }

        });

  


        const DonateTabs = function() {
            this.tab = 'donate';
            this.donateButton = document.getElementById("donate-tab");
            this.subscribeButton = document.getElementById("subscribe-tab");
            this.donatePane = document.getElementById("donate-pane");
            this.subscribePane = document.getElementById("subscribe-pane");
            this.events();
        };
        DonateTabs.prototype.events = function() {
            var self = this;
            this.donateButton.addEventListener('click', function(e) {
                e.preventDefault();
                if (self.tab === 'donate') return;
                self.tab = 'donate';
                this.classList.add('active');
                self.subscribeButton.classList.remove('active');
                self.donatePane.classList.add('active');
                self.subscribePane.classList.remove('active');
            });
            this.subscribeButton.addEventListener('click', function(e) {
                e.preventDefault();
                if (self.tab === 'subscribe') return;
                self.tab = 'subscribe';
                this.classList.add('active');
                self.donateButton.classList.remove('active');
                self.subscribePane.classList.add('active');
                self.donatePane.classList.remove('active');
            });
        };

        const tabber = new DonateTabs();





    });
</script>


    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            var stripekey = $('#stripekey').html();
            var stripe = Stripe(stripekey);
            var donations = new Acme.Donations(stripe, {
                container: 'donate-container',
                guest: "{{guestUser}}",
                modal: false
            });
            donations.renderToPage({
                interval: 'annual',
                amount: 50000
            });
        });
    </script>