{{ set(this, 'title', 'Edit Profile') }}





{% set networkData = _Network.getNetworkData() %}
{% set blogData = _Blog.getBlog() %}
{% set jobsBlogId = blogData.additionalInfo['joblistingsid'] %}
{% set propBlogId = blogData.additionalInfo['propertylistingsid'] %}

<!-- Begin User Profile Page -->

{% set jobListingsArr = [] %}
{% set propListingsArr = [] %}
{% set pwstats = _User.getPaywallStats(true) %}
{% set plans = _Network.getNetworkData()['paywallPlans'] %}

{% set userLimit = 20 %}
{% set user = _User.getUser() %}

{% if user %} 
    {% set jobListingsArr = _User.getUserArticles(user.guid, 0, 20, {'blogs':[jobsBlogId], 'status': '-1'}) %}
    {% set propListingsArr = _User.getUserArticles(user.guid, 0, 20, {'blogs':[propBlogId], 'status': '-1'}) %}
{% endif %}

{{this.registerJs("Acme.usercard = new Acme.Usercard();")}}


{{this.registerJs("Acme.userController = new Acme.UserProfileController();")}}



                                                 {# renders the card    fetch-limit  fetch-offset    infinite scroll            #}
                                                 {#            ↑             ↑          ↑            ↑                          #}
{{this.registerJs("Acme.userFeed = new Acme.View.userFeed(Acme.usercard, " ~ userLimit ~ ",     20,         false,          null, Acme.userController);")}}




{% set articleCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
<!-- 3 is job, 4 is property, 5 is event -->
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? false : false %}

<main id="main" class="user_profile account-form u-tablet-margin-top-40 u-desktop-margin-top-40 u-mobile-margin-top-150 u-padding-bottom-40 u-padding-top-20" role="main">
    <div id="stripekey" class="u-hide" >{{_Network.getNetworkData()['stripe_publishable_key']}}</div>
    {# <div id="stripekey" class="hidden" >pk_live_0xvvL0i2RAw7vjUbw5xI7L7O</div> #}
    <div class="container">

        <div class="user_profile_section">
            <div class="row">
                <div class="col-sm-12">
                    {{this.render('layouts/partials/messages.twig') | raw}}

                    <div class="profile-section" style="padding-bottom:18px;">
                        <div class="profile-section__header">
                            <p class="profile-section__heading">My details</p>                                    
                        </div>



                        <div class="">
                            <form id="profile-form" class="form-horizontal" action="" method="post" enctype="multipart/form-data" autocomplete="off" >
                                <input type="hidden" name="_csrf" value="{{_AppHelper.getCsrfToken()}}" />
                                <input type="hidden" name="profileImage" id="userProfileImage" value="" />


                                <label class="account-form__label account-form__label--mobile d-block d-md-none" for="firstname">First name</label>
                                <div class="account-form__inline-inputs u-margin-bottom-10">
                                    <label class="account-form__label d-none d-md-block" for="firstname">First name</label>
                                    <input type="text" id="firstname" class="account-form__input" name="firstname" value="{{user.firstname}}" placeholder="First name" >
                                </div>


                                <label class="account-form__label account-form__label--mobile d-block d-md-none" for="lastname">Last name</label>
                                <div class="account-form__inline-inputs  u-margin-bottom-10">
                                    <label class="account-form__label d-none d-md-block" for="lastname">Last name</label>
                                    <input type="text" id="lastname" class="account-form__input" name="lastname" value="{{user.lastname}}" placeholder="Last name" >
                                </div>                            
                               
                             


                                <label class="account-form__label account-form__label--mobile d-block d-md-none" for="email">Email</label>
                                <div class="account-form__inline-inputs">
                                    <label class="account-form__label d-none d-md-block" for="email">Email</label>
                                    <input type="text" id="email" class="account-form__input" name="email" value="{{user.email}}" placeholder="email@domain.com" >
                                </div>
                                <div class="account-form__inline-inputs u-margin-top-10 u-margin-bottom-10">
                                    <label class="account-form__label d-none d-md-block" for=""></label>
                                    <p class="account-form__explainer">This is the email address you will sign in with</p>
                                </div>



                                <label class="account-form__label account-form__label--mobile d-block d-md-none" for="password">Change password</label>
                                <div class="account-form__inline-inputs">
                                    <label class="account-form__label d-none d-md-block" for="password">Password</label>
                                    <input type="password" id="password" class="account-form__input" name="password" placeholder="new password" >
                                </div>
                                <div class="account-form__inline-inputs u-margin-top-10 u-margin-bottom-10">
                                    <label class="account-form__label d-none d-md-block" for=""></label>
                                    <p class="account-form__explainer">Passwords must be at least six characters with upper case, lower case and digit</p>
                                </div>




                                <label class="account-form__label account-form__label--mobile d-block d-md-none" for="password">Verify Password</label>
                                <div class="account-form__inline-inputs  u-margin-bottom-10">
                                    <label class="account-form__label d-none d-md-block" for="password">Verify Password</label>
                                    <input type="password" id="verifypassword" class="account-form__input" name="verifypassword" placeholder="retype password" >
                                </div>
                                

                                <label class="account-form__label account-form__label--mobile d-block d-md-none" for="password">Organisation</label>
                                <div class="account-form__inline-inputs  u-margin-bottom-10">
                                    <label class="account-form__label d-none d-md-block" for="organisation">Organisation</label>
                                    <input type="text" id="organisation" class="account-form__input" value="{{user.business_name}}" name="abn_business_name" placeholder="Organisation (optional)" >
                                </div>

                                <div class="button-full">
                                    <button type="submit" class="text-button u-float-right update-details">Update Details</button>
                                </div>

                                <div id="account-form__email" class="email-subscription">
                                </div>

                                {# <p class="account-form__unsubscribe">Alternatively, email <a href="mailto:unsubscribe@newsroom.co.nz">unsubscribe@newsroom.co.nz</a> to cancel your email subscriptions</p> #}



                            </form>

                        </div>
                    </div>

















                {% if pwstats.userManager == true %}
                    <hr class="divide30 " style="border-top:1px solid #97999c;">

                    {% set totalPlanUserCount       = pwstats['user_count'] %}

                    {% set managedUsersObj = _User.getPaywallManagedUsers({"limit": userLimit}) %}

                    {% set managedUserScreenCount = managedUsersObj | length %}

                    {% set managedUsers = managedUsersObj %}
                    {% if managedUsersObj['users'] is defined %}
                        {% set managedUsers = managedUsersObj['users'] %}
                        {% set managedUserScreenCount = managedUsers | length %}

                    {% endif %}


                    {% set managedUserCount = managedUsers | length %}
                    {% if managedUsersObj['totalCount'] is defined %}
                        {% set managedUserCount = managedUsersObj['totalCount'] %}
                    {% endif %}


                    {% set remainingUsers       = totalPlanUserCount - managedUserCount %}
                    {% set cardSupplied = pwstats['card_last_4'] ? 't' : 'f' %}

                    <div class="profile-section">
                       
                       <div class="profile-section__header">
                            <p class="profile-section__heading">Subscription Details</p>
                        </div>


                        <div id="userPlanSection">
                            
                            <div class="user-details">
                                
                                {# <form id="profile-form" class="form-horizontal" action="" method="post" enctype="multipart/form-data" disabled="disabled"> #}
                                    
                                    {% if pwstats['type'] == 'time' %}

                                        <div class="account-form__inline-inputs">
                                            <label class="account-form__label account-form__label--red account-form__label--mobile" for="currentplan">Current Plan</label>
                                            <p type="text" id="currentplan" class="account-form__value">{{pwstats['name']}}: {{pwstats['currency']|replace({"AUD": "$", "NZD": "$", "GBP": "£", "USD": "$", "EUR": "€"})}}{{ pwstats['plan_value']/100}} per {{pwstats['period']}}</p>
                                        </div>

                                        <div class="account-form__inline-inputs">
                                            <label class="account-form__label account-form__label--red account-form__label--mobile" for="planstatus">Plan Status</label>
                                            <p style="cursor: pointer; cursor: hand;" type="text" id="planstatus" class="account-form__value">{{ pwstats['status'] | capitalize }}</p>
                                        </div>
                                        <div class="account-form__inline-inputs profile-section__cancel">
                                            {% if pwstats['status'] == 'cancelled' %}
                                                
                                                <span  class="profile-section__users-left text-button--italic">Your account will be permanently deleted 30 days after the most recent payment date.</span>
                                                <a  id='cancelAccount' style="cursor:hand; cursor:pointer;margin-top:-2px;" class="text-button text-button--italic">Restart Subscription</a>
                                                
                                            {% else %} 
                                                <a href="#" id='cancelAccount' style="cursor:hand; cursor:pointer;" class="text-button profile-section__cancel-account">Cancel Subscription</a>
                                            {% endif %} 
                                        </div>

                                        <div class="account-form__inline-inputs">
                                            <label class="account-form__label account-form__label--red account-form__label--mobile" for="totalusers">My Users</label>
                                            <p type="text" id="totalusers" class="account-form__value">{{ remainingUsers }}</p>
                                        </div>                            
                                       

                                        {% if pwstats['status'] != 'free' %}
                                            <div class="account-form__inline-inputs">
                                                <label class="account-form__label account-form__label--red account-form__label--mobile" for="expires">Next Payment</label>
                                                <p type="text" id="expires" class="account-form__value">{{ pwstats['expiry_date']}}</p>
                                            </div>
                                        {% endif %} 

                                    {% else %} 

                                        <div class="account-form__inline-inputs">
                                            <label class="account-form__label account-form__label--red account-form__label--mobile" for="currentplan">Current Plan</label>
                                            <p type="text" id="currentplan" class="account-form__value">{{ pwstats['plan_value']/100}}/{{pwstats['total_articles']}}</p>
                                        </div>

                                        <div class="account-form__inline-inputs">
                                            <label class="account-form__label account-form__label--red account-form__label--mobile" for="remaining">Articles Remaining</label>
                                            <p type="text" id="remaining" class="account-form__value">{{ pwstats['article_count']}}</p>
                                        </div>                            
                                        
                                    {% endif %} 
                                    
                                    {# {% if 'enterprise' not in pwstats['name'] | lower and pwstats['status'] != 'free' %}
                                        <div class="account-form__inline-inputs u-margin-bottom-20">
                                            <label class="account-form__label account-form__label--red account-form__label--mobile" for="remaining">Payment Method</label>
                                            <p type="text" id="remaining" class="account-form__value">{{ pwstats['card_brand']}} / •••• •••• •••• {{ pwstats['card_last_4']}}</p>
                                        </div>                            
                                    {% endif %} #}
                                {# </form> #}

                            </div>

                            <hr class="divide30" style="border-top:1px solid #97999c;">


                            <div class='update-card'>
                                <div class="">

                                    <div class="profile-section__header">
                                         <p class="profile-section__heading">Change your credit card details</p>
                                     </div>

                                    <form id="update-card-form" action="/update" method="post">

                                        <div id="card-element">
                                        <!-- a Stripe Element will be inserted here. -->
                                        </div>

                                        <!-- Used to display Element errors -->
                                        <div id="profile-section__card-errors" role="alert"></div>
                                        <button type="submit" class="text-button text-button--italic u-margin-top-20">Change</button>
                                    </form>
                                </div>
                            </div>

                            <hr class="divide30" style="border-top:1px solid #97999c;">



                            <div class="profile-section__header">
                                <p class="profile-section__heading">Change Plan</p>
                            </div>

                            <div id="currentPlanStats" class="plans"
                                data-cardsupplied="{{cardSupplied}}"
                                data-currentUsers="{{managedUserCount}}"
                                data-currentPeriod="{{pwstats['period']}}"
                                data-currentCost="{{pwstats['plan_value']}}"
                                data-currentType="{{pwstats['type']}}"
                                data-expiry="{{pwstats['expiry_date']}}"
                                data-currentplanperiodcount="{{pwstats['period_count']}}"
                            >

                            {% for plan in plans %}
                                {# {% if pwstats['status'] != 'paid' and pwstats['status'] != 'trial' %} #}
                                
                                {% set userCount = plan.user_count %}
                                {% set planCost = plan.plan_value / 100 %}
                                {% if planCost == 19.89 %}
                                    {% set planCost = 19.90 %}
                                {% endif %}


                                <div class="{% if plan.guid != pwstats['plan_guid'] %} j-setplan {% else %}plans__current{% endif %} plans__item" style="cursor:hand; cursor:pointer;"
                                    data-planid          = "{{plan.guid}}"
                                    data-planusercount   = "{{userCount}}"
                                    data-plancost        = "{{plan.plan_value}}"
                                    data-planperiod      = "{{plan.period}}"
                                    data-trialstatus     = "{{plan['trial_status']}}"
                                    data-planType        = "{{plan.type}}"
                                    data-planPeriodCount = "{{plan.period_count}}"

                                >
                                    <h3 class="plans__name">{{plan.plan_name}}</h3>
                                    
                                    {% if plan.type == 'time' and userCount > 0 %}
                                        <p class="plans__usercount">{{userCount}} Users</p>
                                    {% endif %}

                                    {% if plan.type != 'signup' %}
                                        <p class="plans__price">{{plan.currency|replace({"AUD": "$", "NZD": "$", "GBP": "£", "USD": "$", "EUR": "€"})}}{{planCost|number_format(2, '.', ',')}}({{plan.currency|raw}})<br />
                                                            per {{plan.period}}</p>
                                    {% endif %}

                                </div>
                                {# {% endif %} #}
                            {% endfor %}
                            </div>
                        </div>
                    </div>

                    <hr class="divide30 " style="border-top:1px solid #97999c;">


                    <div class="profile-section profile-section__managed-header">

                        {% set usersLeft = totalPlanUserCount > 0 ? totalPlanUserCount -1 : totalPlanUserCount %}
                            <p class="profile-section__heading">My Users <span class="profile-section__users-left">{{managedUserCount}} of {{ usersLeft }} used.</span></p>
                            <a id="addManagedUser" style="z-index:1000;" class="text-button text-button--italic u-float-right{% if managedUserCount + 1 >= totalPlanUserCount %} hidden{% endif %}">+ Add users</a>
                        </div>

                        {% if totalPlanUserCount > userLimit and managedUserCount >= userLimit %} 
                            <div id="menu-search" class="managed-users-search u-margin-bottom-20">
                                <form method="get" id="managed-user-search" action="">
                                    <div style="position:relative">
                                        <input type="search" class="managed-users-search__field" name="s" id="managed-user-search-field" placeholder="Search by first or last name" required="">
                                        <button class="managed-users-search__button" type="submit" id="user-search-submit">
                                            Search
                                        </button>
                                        <button class="managed-users-search__button managed-users-search__button-clear" type="submit" id="user-search-clear">
                                            Clear search
                                        </button>
                                    </div>
                                </form>
                            </div>
                        {% endif %}

                        <div id="createManagedUser"></div>

                        <a id="createUserErrorMessage"></a>


                        <div class="row">
                            <div id="user_profile" class="col-md-12">
                                
                                <ul id="mangedUsers" class="managed-users">
                                    {% if managedUserCount == 0 %} 
                                        <div id="nousers" class="empty-listing">
                                            <p>You have no current users.</p>
                                        </div>
                                    {% else %}
                                    
                                        {% for user in managedUsers %}

                                            <li id="{{user.id}}" class="userdetails">
                                                <div class="u-float-left">
                                                    <p class="userdetails__name">
                                                        <span class="j-firstname">{{user.firstname}}</span> 
                                                        <span class="j-lastname">{{user.lastname}}</span>
                                                    </p> 
                                                    {# <p class="j-username userdetails__username">{{user.username}}</p> #}
                                                </div>
                                                <a class="j-delete userdetails__button userdetails__button--delete u-float-right"></a>
                                                <a class="j-edit userdetails__button userdetails__button--edit u-float-right"></a>
                                                <p class="j-email userdetails__email u-float-right">{{user.email}}</p>
                                            </li>
                                        {% endfor %}

                                    {% endif %}

                                </ul>
                            
                            
                            {% if totalPlanUserCount > userLimit and managedUserScreenCount >= userLimit %} 

                                {{ this.render('partials/ajaxarticles_new.twig', {
                                    name            : "user-load",
                                    limit           : userLimit,
                                    label           : "Show more",
                                    loadtype        : "user",
                                    container       : "mangedUsers",
                                    card_class      : "userdetails",
                                    buttonClass     : "managed-users__more",
                                    cardTemplate    : "managed_user",
                                }) | raw }}

                            {% endif %}
                            
                            </div>
                            

                            
                        </div>

                    </div>
                {% endif %}









                {% if _User.isAdminUser() %}
                    <div class="add-batch-users" style="display:none;">
                        <textarea id="batch-user-input"></textarea>
                        <button id="batch-add">Add</button>
                        <button id="batch-add-csv">Add csv</button>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>

</main>


{# {{this.registerJs("(function(){
    var w=window;
    var ic=w.Intercom;
    if(typeof ic==='function'){
        ic('reattach_activator');
        ic('update',intercomSettings);
    }else{
        var d=document;
        var i=function(){
            i.c(arguments)
        };
        i.q=[];
        i.c=function(args){
            i.q.push(args)
        };
        w.Intercom=i;
        function l(){
            var s=d.createElement('script');
            s.type='text/javascript';
            s.async=true;
            s.src='https://widget.intercom.io/widget/zxwsoz9f';
            var x=d.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s,x);
        }
        if(w.attachEvent){
            w.attachEvent('onload',l);
        }else{
            w.addEventListener('load',l,false);
        }
    }
})()")}}
 #}


<script>
  window.intercomSettings = {
    app_id: "zxwsoz9f"
  };    
</script>
<!-- //End User Profile Page -->