{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}

{{this.registerJs("HomeController.listing();")}}
{% set limit = 20 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}


<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}


{% set sections =  {
        "viewingroom": {
            "feed": "",
            "link": ""
        }, 
        "boardroom": {
            "feed": "",
            "link": ""
        }, 
        "livingroom": {
            "feed": "",
            "link": ""
        },
        "sportsroom": {
            "feed": "",
            "link": ""
        },
        "futurelearning": {
            "feed": "",
            "link": ""
        }
    } 
%}

{% for key, value in sections %}
    {% for blog in networkData.networkBlogs %}
        {% if blog.title | lower == key %}
            {% set sections = sections | merge({
                (key) : {
                    'feed': _Blog.getBlogFeed({'limit': 4, 'offset': 0, 'blogid':blog.guid}),
                    'link' : blog.link
                    }
                }) %}
        {% endif %}
    {% endfor %}
{% endfor %}



    <main id="main" class="site-main" role="main">
        <section class="featured-slider container-fluid">
            <div class="swiper-container">
                <div class="swiper-wrapper">

                    {% if articles[0] %}                                                                
                        {{this.render('partials/_single-article.twig', {article: articles[0], position: 1, containerClass: 'swiper-slide s1168x587'}) | raw}}
                        {% set articleCount = articleCount + 1 %}
                    {% endif %}
                </div><!-- .swiper-wrapper-->

                <div class="newsroom-icon">
                    <img src="{{networkData.templatePath}}/static/images/newsroom-icon.png" alt="newsroom ic">
                </div><!-- .newsroom-icon-->

                <!-- Add Arrows -->
{#                 <div class="swiper-button-next swiper-button-black"></div>
                <div class="swiper-button-prev swiper-button-black"></div> #}

            </div><!-- .swiper-container-->
        </section><!-- .featured-slider-->
    

        <section class="top-stories">
            <div class="container">
                <h2>TOP STORIES</h2>
                <div class="row">

                    {% for i in 0..2 %}
                        {% if articles[i] %}                                                                
                            {{this.render('partials/_single-article.twig', {article: articles[articleCount], position: (articleCount+1), containerClass: 'col-sm-4'}) | raw}}
                            {% set articleCount = articleCount + 1 %}
                        {% endif %}
                    {% endfor %}

                </div><!-- .row-->
            </div><!-- .container-->
        </section><!-- .top-stories-->

        <section class="home-page-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-8">
                        <div class="card-group">
                            {% set rowCards = ['card-rec', 'card-rec inverted'] %}                                                                
                            {% for i in 0..1 %}
                                {% if articles[i] %}                                                                
                                    {{this.render('partials/_single-article.twig', {article: articles[articleCount], position: (articleCount+1), containerClass: rowCards[i]}) | raw}}
                                    {% set articleCount = articleCount + 1 %}
                                {% endif %}
                            {% endfor %}

                         </div><!--card-group-->

                        <div class="row">
                            <div class="card-group">
                               
                            {% for i in 0..2 %}
                                {% if articles[i] %}                                                                
                                    {{this.render('partials/_single-article.twig', {article: articles[articleCount], position: (articleCount+1), containerClass: 'col-sm-4 card-sm s230x140'}) | raw}}
                                    {% set articleCount = articleCount + 1 %}
                                {% endif %}
                            {% endfor %}

                            </div><!-- .card-group-->
                        </div><!-- .row-->



                        {% set rowCards = ['card-lg', 'card-rec'] %}                                                                
                        {% for i in 0..1 %}
                            {% if articles[i] %}                                                                
                                {{this.render('partials/_single-article.twig', {article: articles[articleCount], position: (articleCount+1), containerClass: rowCards[i]}) | raw}}
                                {% set articleCount = articleCount + 1 %}
                            {% endif %}
                        {% endfor %}

                    </div><!-- .col-sm-8-->

                    <div class="col-sm-12 col-md-4 sidebar">
                        <section class="add sidebar-add">
                            <!-- /268436641/boxad1 -->
                            <div id='div-gpt-ad-1486688050853-0' style='height:250px; width:300px;'>
                                <script>
                                googletag.cmd.push(function() { googletag.display('div-gpt-ad-1486688050853-0'); });
                                </script>
                            </div>                                
                            <span class="add-text">Advertisement</span>
                            <!--block-->

{#                             <div class="block visible-xs-block">
                                <!-- /268436641/sidepanel1 -->
                                <a href="#">
                                    <img src="{{networkData.templatePath}}/static/images/add-mobile.jpg" alt="Add Alt Here">
                                </a>

                                <span class="add-text">Advertisement</span>
                            </div><!--block-->
 #}                        </section>


                        <section class="sidebar-news">
                            <header>
                                <h3><strong>Radio</strong> New Zealand</h3>
                                <img src="{{networkData.templatePath}}/static/images/rnz-logo-reo-opaque-420-px.png" alt="rnz">
                            </header>

                            <a class="card">
                                <article>
                                    <figure>
                                        <img src="{{networkData.templatePath}}/static/images/sidebar.jpg">
                                    </figure>
                                    <div class="content">
                                        <span class="category">World news</span>
                                        <h2>Banks consider raising variable interest rates…</h2>        
                                        <div class="author">
                                            <img src="{{networkData.templatePath}}/static/images/thumb-author.png" class="img-circle">
                                            <p>Jane oung</p>
                                        </div><!-- .author-->
                                        <time datetime="2016-11-16">2 HOURS AGO</time>
                                    </div><!--content-->
                                </article>
                            </a>
                            <a class="card">
                                <article>
                                    <figure>
                                        <img src="{{networkData.templatePath}}/static/images/sidebar.jpg">
                                    </figure>
                                    <div class="content">
                                        <span class="category">World news</span>
                                        <h2>Banks consider raising variable interest rates…</h2>        
                                        <div class="author">
                                            <img src="{{networkData.templatePath}}/static/images/thumb-author.png" class="img-circle">
                                            <p>Jane oung</p>
                                        </div><!-- .author-->
                                        <time datetime="2016-11-16">2 HOURS AGO</time>
                                    </div><!--content-->
                                </article>
                            </a>
                            <a class="card">
                                <article>
                                    <figure>
                                        <img src="{{networkData.templatePath}}/static/images/sidebar.jpg">
                                    </figure>
                                    <div class="content">
                                        <span class="category">World news</span>
                                        <h2>Banks consider raising variable interest rates…</h2>        
                                        <div class="author">
                                            <img src="{{networkData.templatePath}}/static/images/thumb-author.png" class="img-circle">
                                            <p>Jane oung</p>
                                        </div><!-- .author-->
                                        <time datetime="2016-11-16">2 HOURS AGO</time>
                                    </div><!--content-->
                                </article>
                            </a>

                        </section><!-- .sidebar-news -->

                        <section class="subscribe">
                            <h3>Subscribe to</h3>
                            <img src="{{networkData.templatePath}}/static/images/newsroom-pro-wordmark.png" alt="newsroom wordmark">
                            <form method="get" id="subscribe-form" class="subscribe-form" action="#">
                                <label for="header-search" class="assistive-text sr-only">Search</label>
                                <div class="input-group">
                                    <input type="email" class="field form-control" name="email" placeholder="Email address" required="">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit" id="searchsubmit">
                                            <span class="icon-right-small"></span>
                                        </button>
                                    </span>
                                </div>
                            </form>
                            <p>Sign up to Newsroom Pro today to enjoy all the extra features we have to offer.</p>
                        </section><!-- .subscribe-->

                        <section class="add sidebar-add">
                                                       <!-- /268436641/sidepanel1 -->
                                <div id='div-gpt-ad-1486517092858-0' style='height:600px; width:300px;'>
                                    <script>
                                        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1486517092858-0'); });
                                    </script>
                                </div>
                                <span class="add-text">Advertisement</span>
                            <!--block-->

                            <div class="block visible-xs-block">
                                                                    <!-- /268436641/sidepanel1 -->
                                <a href="#">
                                    <img src="{{networkData.templatePath}}/static/images/add-mobile.jpg" alt="Add Alt Here">
                                </a>

                                <span class="add-text">Advertisement</span>
                            </div><!--block-->
                        </section>
                    </div><!-- .col-sm-4-->





                    <div class="col-sm-12">
                        <section class="future-learning">
                            <header>
                                <img src="{{networkData.templatePath}}/static/images/futurelearning.png" alt="viewing room">
                                <div class="future-learning-sponsors">
                                    <p>Sponsored by</p>
                                    <img src="{{networkData.templatePath}}/static/images/vicuni.png" alt="ANZ">
                                </div><!-- .sponsors-->

                            </header>
                            <div class="row">
                                {% for i in 0..2 %}
                                    {% if sections['futurelearning'].feed.articles[i] %}        
                                        {{this.render('partials/_single-article.twig', {article: sections['futurelearning'].feed.articles[i], position: (articleCount+1), containerClass: 'col-sm-4 furturelearning s92x100', swap: 'false' }) | raw}}
                                    {% endif %}
                                {% endfor %}

                            </div><!-- .row-->


                        </section><!-- .top-stories-->
 
                        <div class="advertiser-content">
                            <span class="add-text">Advertiser content</span>
                        </div>





                    </div><!-- .col-sm-12-->
                </div><!-- .row-->




{#                 <section class="add lg-block" style="background:#dadada;padding:50px 0 40px 0">
                    <div class="block">
                        <a href="#">
                            <img src="{{networkData.templatePath}}/static/images/add-top.jpg" alt="Add Alt Here" class="img-responsive">
                        </a>
                        <span class="add-text">Advertisement</span>
                    </div>
                </section><!-- .add-->
 #}







                <section class="room-view">
                    <header>
                        <a href="{{ sections['viewingroom'].link }}">
                            <img src="{{networkData.templatePath}}/static/images/viewingroom-logo.svg" alt="viewing room" class="img-responsive">
                        </a>
                    </header>

                    <div class="content-wrapper">
                
                        {% if sections['viewingroom'].feed|length > 0 %}
                            {{this.render('partials/_single-article.twig', {article: sections['viewingroom'].feed.articles[0], 'position': (1), containerClass: 'featured col-sm-12 s633x420', swap: 'false'}) | raw}}
                        {% endif %}



                            {% for i in 1..3 %}
                                {% if sections['viewingroom'].feed.articles[i] %}        
                                    {{this.render('partials/_single-article.twig', {article: sections['viewingroom'].feed.articles[i], position: i+1, containerClass: 'subfeature col-sm-4', swap: 'false'}) | raw}}
                                {% endif %}
                            {% endfor %}


                    </div><!-- .content-wrapper-->

                </section><!-- .room-view-->







                <section class="room-living">
                    <header>
                        <a href="{{ sections['livingroom'].link }}">
                            <img src="{{networkData.templatePath}}/static/images/livingroom-logo.svg" alt="viewing room">
                        </a>
                    </header>
                    
                    <div class="content-wrapper">

                        {{this.render('partials/_single-article.twig', {article: sections['livingroom'].feed.articles[0], position: i+1, containerClass: 'feature s1130x587', swap: 'false'}) | raw}}


                        <div class="contents">

                            {% for i in 1..3 %}
                                {% if sections['livingroom'].feed.articles[i] %}        
                                    {{this.render('partials/_single-article.twig', {article: sections['livingroom'].feed.articles[i], position: i+1, containerClass: '', swap: 'false'}) | raw}}
                                {% endif %}
                            {% endfor %}
                        </div><!-- .content-->
                    </div>
                </section><!-- .room-living-->







                <section class="room-board">
                    <header>
                        <a href="{{ sections['boardroom'].link }}">
                            <img src="{{networkData.templatePath}}/static/images/boardroom-logo.svg" alt="board room">
                        </a>
                    </header>


                    {% if sections['boardroom'].feed|length > 0 %}
                        {{this.render('partials/_single-article.twig', {article: sections['boardroom'].feed.articles[0], 'position': (1), containerClass: 'featured board', swap: 'false'}) | raw}}
                    {% endif %}

                    <div class="articles">
                        <div class="row">
                            
                            {% for i in 1..3 %}
                                {% if sections['boardroom'].feed.articles[i] %}        
                                    {{this.render('partials/_single-article.twig', {article: sections['boardroom'].feed.articles[i], position: i+1, containerClass: 'subfeature-board col-sm-4', swap: 'false'}) | raw}}
                                {% endif %}
                            {% endfor %}

                        </div><!-- .articles-->
                    </div><!-- .row-->


                </section><!--room-board-->






                <section class="room-sports">
                    <header>
                        <a href="{{ sections['sportroom'].link }}">
                            <img src="{{networkData.templatePath}}/static/images/sportsroom-logo.svg" alt="board room">
                        </a>
                    </header>

                    {% if sections['sportsroom'].feed|length > 0 %}
                        {{this.render('partials/_single-article.twig', {article: sections['sportsroom'].feed.articles[0], 'position': (1), containerClass: 'featured sport', swap: 'false'}) | raw}}
                    {% endif %}


                    <div class="articles">
                        
                        <div class="row">
                            
                            {% for i in 1..2 %}
                                {% if sections['sportsroom'].feed.articles[i] %}        
                                    {{this.render('partials/_single-article.twig', {article: sections['sportsroom'].feed.articles[i], position: i+1, containerClass: 'col-sm-12 col-md-6', swap: 'false'}) | raw}}
                                {% endif %}
                            {% endfor %}



                        </div><!-- .row-->
                    </div>
                </section><!--room-sports-->
            </div><!-- .container-->

            <section class="room-corporate">
                <div class="container">
                    <header>
                        <img src="{{networkData.templatePath}}/static/images/corporate-newsroom-header.svg" alt="board room">
                    </header>
                    <div class="row corporate-articles">
                        {% for i in 0..3 %}
                            {% if articles[articleCount] %}                                                                
                                {{this.render('partials/_single-article.twig', {article: articles[i], position: (articleCount+1), containerClass: 'col-sm-3 card-sm s255x208'}) | raw}}
                                {% set articleCount = articleCount + 1 %}
                            {% endif %}
                        {% endfor %}
                    </div><!-- .row-->
                </div>
            </section><!-- .room-corporate-->



        </section><!-- .home-page-content-->

    </main><!-- .site-main -->