{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set blogData      = _Blog.getBlog() %}
{% set blogName      = blogData.title %}



{{this.registerJs("HomeController.listing();")}}
{% set limit = 12 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}


<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}

{% set recentArticles = _Article.getRecentArticles({'limit': 5}) %}

{% set sections =  {
        "viewingroom": {
            "feed": "",
            "link": ""
        }, 
        "boardroom": {
            "feed": "",
            "link": ""
        },
        "livingroom": {
            "feed": "",
            "link": ""
        }, 
        "lockerroom": {
            "feed": "",
            "link": ""
        }, 
        "sportsroom": {
            "feed": "",
            "link": ""
        },
        "futurelearning": {
            "feed": "",
            "link": ""
        },
        "corporate newsroom": {
            "feed": "",
            "link": ""
        },

        "newsroom pro": {
            "feed": "",
            "link": ""
        },

    }
%}

{% for key, value in sections %}
    {% for blog in networkData.networkBlogs %}
        {% if blog.title | lower == key %}
            {% set sections = sections | merge({
                (key) : {
                    'feed': _Blog.getBlogFeed({'limit': 4, 'offset': 0, 'blogid':blog.guid}),
                    'link' : blog.link
                    }
                }) %}
        {% endif %}
    {% endfor %}
{% endfor %}


<script>loadNextBannerAd('');</script>


    <main id="main" class="site-main" role="main" data-test="true">
        <section class="featured-slider container-fluid u-margin-top-40">
            <div class="swiper-container">
                <div class="swiper-wrapper">

                    {% if articles[0] %}                                                                
                        {{this.render('partials/_single-article.twig', {article: articles[0], position: 1, containerClass: 'swiper-slide s1168x587'}) | raw}}
                        {% set articleCount = articleCount + 1 %}
                    {% endif %}
                </div><!-- .swiper-wrapper-->

                <div class="newsroom-icon">
                    <img src="{{networkData.templatePath}}/static/images/nr-logo.svg" alt="newsroom ic">
                </div><!-- .newsroom-icon-->

            </div><!-- .swiper-container-->
        </section><!-- .featured-slider-->
    

        {% if articles[articleCount] %}
            <section class="top-stories">
                <div class="container">
                    <h2>TOP STORIES</h2>
                    <div class="row">

                        {% for i in 0..2 %}
                            {% if articles[i] %}                                                                
                                {{this.render('partials/_single-article.twig', {
                                    article: articles[articleCount], 
                                    position: (articleCount+1), 
                                    containerClass: 'col-sm-4'
                                }) | raw}}
                                {% set articleCount = articleCount + 1 %}
                            {% endif %}
                        {% endfor %}

                    </div><!-- .row-->
                </div><!-- .container-->
            </section><!-- .top-stories-->
        {% endif %}


        <section class="home-page-content">
            <div class="container">
                <div class="row">
                    
                    <div class="col-sm-12 col-md-8">
                        <div class="card-group">                                                                
                                {% if articles[articleCount] %}                                                                
                                    {{this.render('partials/_single-article.twig', {article: articles[articleCount], position: (articleCount+1), containerClass: 'card-rec'}) | raw}}
                                    {% set articleCount = articleCount + 1 %}
                                {% endif %}

                         </div><!--card-group-->



                        {% if sections['newsroom pro'].feed.articles|length > 0 %}
                            <div class="row">
                                {{ this.render('partials/pro-partial.twig', {sections: sections, networkData: networkData}) | raw }}
                            </div>
                        {% endif %}
        



                        <section class="add row sidebar-add sidebar-add__idx hidden-md hidden-lg">
                            <div class="col-sm-6">
                                <div id="newAdMrec"></div>
                                <script>loadNextMrecAd('');</script>
                                <span class="add-text">Advertisement</span>
                            <!--block-->
                            </div>
                            <div class="col-sm-6 hidden-xs">
                                {{ this.render('partials/newsroom_register.twig', {networkData : networkData}) | raw }}
                            </div>
                        </section>


                        <div class="row">
                            <div class="card-group">
                               
                            {% for i in 0..2 %}
                                {% if articles[articleCount] %}                                                                
                                    {{this.render('partials/_single-article.twig', {article: articles[articleCount], position: (articleCount+1), containerClass: 'col-sm-4 card-sm s633x420'}) | raw}}
                                    {% set articleCount = articleCount + 1 %}
                                {% endif %}
                            {% endfor %}

                            </div><!-- .card-group-->
                        </div><!-- .row-->


                        {% set rowCards = ['card-lg', 'card-rec'] %}                                                                
                        {% for i in 0..1 %}
                            {% if articles[articleCount] %}                                                                
                                {{this.render('partials/_single-article.twig', {article: articles[articleCount], position: (articleCount+1), containerClass: rowCards[i]}) | raw}}
                                {% set articleCount = articleCount + 1 %}
                            {% endif %}
                        {% endfor %}

                        {{ this.render('partials/ajaxarticles.twig', {limit: limit, articlesArr: articlesArr, articles: articles}) | raw }}

                    </div><!-- .col-sm-8-->




                    <div class="col-sm-12 col-md-4 sidebar">
                        <div class="row subscriptions">
                            <div class="col-sm-12" id='subscribebutton'>
                                {{ this.render('partials/newsroom_register.twig', {networkData : networkData, class: 'hidden-sm'}) | raw }}
                            </div>
                            {# <div class="col-sm-6 col-md-12">
                                {{ this.render('partials/newsroom_pro.twig', {networkData : networkData, class: ''}) | raw }}
                            </div> #}
                            <div class="col-sm-6 col-md-12 u-margin-top-40">
                                {{ this.render('partials/newsroom_support.twig', {networkData : networkData, class: ''}) | raw }}
                            </div>
                        </div>
                        {# {{ this.render('partials/subscribe_pro_grey_bg.twig', {networkData : networkData, class: 'hidden-sm'}) | raw }} #}

                        <section class="sidebar-news recent-articles">
                            <h3 class="recent-articles__header">
                                <span class="recent-articles__header-bold">Latest</span> on Newsroom
                            </h3>

                            {% if recentArticles|length > 0 %}

                                {% for i in 0..5 %}
                                    {% if recentArticles[i] %}
                                        {{
                                            this.render('partials/_single-article_recent.twig', {
                                                article: recentArticles[i], 
                                                containerClass: '', 
                                                swap: 'false', 
                                                isArticle: 'true'}) | raw
                                        }}
                                    {% endif %}
                                {% endfor %}

                            {% endif %}

                        </section><!-- .sidebar-news -->


                        

                        <section class="add sidebar-add hidden-sm hidden-xs">
                                <div id="newAdHalf"></div>
                                <script>loadNextHalfAd('');</script>
                                <span class="add-text">Advertisement</span>
                        </section>
                    
                        {# {{ this.render('partials/subscribe.twig', {networkData : networkData, class: 'hidden-sm'}) | raw }} #}
                   {#  {% for i in 0..1 if articles[articleCount] %} #}
                   {% if articles[articleCount] %}
                        {{this.render('partials/_single-article.twig', {article: articles[articleCount], position: (articleCount+1), containerClass: 'card-sm s255x208'}) | raw}}
                        {% set articleCount = articleCount + 1 %}
                    {% endif %}
                    {# {% endfor %} #}


                    </div><!-- .col-sm-4-->

                    <div class="row future">
                        {{ this.render('partials/futurelearning.twig', {sections: sections, networkData: networkData}) | raw }}
                    </div>

                </div><!-- .row-->


                {% if sections['boardroom'].feed.articles|length > 0 %}
                     {{ this.render('partials/boardroom.twig', {sections: sections, networkData: networkData}) | raw }}
                {% endif %}

                {% if sections['lockerroom'].feed.articles|length > 0 %}
                    {{ this.render('partials/lockerroom.twig', {sections: sections, networkData: networkData}) | raw }}
                {% endif %}

                {% if sections['sportsroom'].feed.articles|length > 0 %}
                    {{ this.render('partials/sportsroom.twig', {sections: sections, networkData: networkData}) | raw }}
                {% endif %}

                {% if sections['viewingroom'].feed.articles|length > 0 %}
                    {{ this.render('partials/viewingroom.twig', {sections: sections, networkData: networkData}) | raw }}
                {% endif %}

                {% if sections['livingroom'].feed.articles|length > 0 %}
                    {{ this.render('partials/livingroom.twig', {sections: sections, networkData: networkData}) | raw }}
                {% endif %}
                

            </div>

            {% if sections['corporate newsroom'].feed.articles|length > 0 %}
                {{ this.render('partials/corporateroom.twig', {sections: sections, networkData: networkData}) | raw }}
            {% endif %}





            {{ this.render('partials/_sponsor_logos.twig') | raw }}
            
         </section><!-- .home-page-content-->

         {# <div id="tagdiv"></div> #}

    </main><!-- .site-main -->