{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set blogData      = _Blog.getBlog() %}
{% set blogName      = blogData.title %}
{% set config       = _Network.getThemeConfig() %}
{% macro smartquotes(text) %}
    {{text|replace({'/[^"]/': '&ldquo;', "/[^'']/": '&lsquo;', "'": '&rsquo;', '"': '&rdquo;'})}}
{% endmacro %}


{{this.registerJs("Acme.cards = Acme.Card();")}}
{% set limit = 12 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}
{% set firstCount = articles | length %}

                                                     {# renders the card    fetch-limit      fetch-offset    infinite scroll #}
                                                     {#            ↑             ↑                 ↑            ↑            #}
{{this.registerJs("Acme.loadMore = new Acme.ArticleFeed(Acme.cards, " ~ limit ~ ", " ~ firstCount ~ ", false);")}}


{% set donations = "nr" %}



<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}

{% set recentArticles = _Article.getRecentArticles({'limit': 3}) %}

{% set sections =  {
        "viewingroom": {
            "feed": "",
            "link": ""
        }, 
        "boardroom": {
            "feed": "",
            "link": ""
        },
        "livingroom": {
            "feed": "",
            "link": ""
        }, 
        "lockerroom": {
            "feed": "",
            "link": ""
        }, 
        "sportsroom": {
            "feed": "",
            "link": ""
        },
        "futurelearning": {
            "feed": "",
            "link": ""
        },
        "corporate newsroom": {
            "feed": "",
            "link": ""
        },
        "comment": {
            "feed": "",
            "link": ""
        },
        "newsroom pro": {
            "feed": "",
            "link": ""
        },
        "podcasts": {
            "feed": "",
            "link": ""
        }

    }
%}

{% for key, value in sections %}
    {% for blog in networkData.networkBlogs %}
        {% if blog.title | lower == key %}
            {% set sections = sections | merge({
                (key) : {
                    'feed': _Blog.getBlogFeed({'limit': 4, 'offset': 0, 'blogid':blog.guid}),
                    'link' : blog.link
                    }
                }) %}
        {% endif %}
    {% endfor %}
{% endfor %}




    <main id="main" class="site-main" role="main">
        <section class="featured-slider-comments container u-mobile-margin-top-80 u-tablet-margin-top-40 u-desktop-margin-top-40">
            <div class="row">
                <div class="col-sm-12 col-md-8">
                    <div class="row">
                        {% if articles[0] %}                                                                
                            {{this.render('partials/_single-article.twig', {
                                article        : articles[0], 
                                position       : 1, 
                                containerClass : 'col-sm-12 feature', 
                                imageSize: {width:1168, height:587}
                            }) | raw}}
                            {% set articleCount = articleCount + 1 %}
                        {% endif %}
                    </div>
                    <div class="newsroom-icon">
                        <img src="{{networkData.templatePath}}/static/images/nr-logo-reverse.svg" alt="newsroom ic">
                    </div><!-- .newsroom-icon-->
                </div>


                {% if articles[articleCount] %}
                <div class="cold-sm-12 col-md-4">
                    <div class="row top-stories-comments">
                        {% for i in 0..2 %}
                            {% if articles[i] %}                                                                
                                {{this.render('partials/_single-article.twig', {
                                    article         : articles[articleCount], 
                                    position        : (articleCount+1), 
                                    containerClass  : 'col-sm-12 card-top-story card-top-story-tablet card-top-story-mobile'
                                }) | raw}}
                                {% set articleCount = articleCount + 1 %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div><!-- .row-->
                {% endif %}

            </div>

        </section><!-- .featured-slider-->
    


        <section class="home-page-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-8">

                        {% if sections['comment'].feed.articles|length > 0 %}
                            {% if articles[articleCount] %}
                            <section class="opinion-index">
                                    <div class="row">
                                        {% for i in 0..1 %}
                                            {% if sections['comment'].feed.articles[i] %}        
                                                {{this.render('partials/_single-article.twig', {
                                                    article: sections['comment'].feed.articles[i],
                                                    position: (articleCount+1), 
                                                    containerClass: 'col-sm-6', 
                                                    swap: 'false'}) | raw}}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                            </section>
                            {% endif %}
                        {% endif %}








                        <div class="card-group">
                            {% for i in 0..1 %}
                                {% if articles[articleCount] %}                                                                
                                    {{this.render('partials/_single-article.twig', {
                                        article: articles[articleCount], 
                                        position: (articleCount+1), 
                                        containerClass: 'card-rec-inverted-desktop card-rec-inverted-desktop-lg card-rec-inverted-tablet card-rec-mobile',
                                        imageSize: {width:330, height:236}
                                    }) | raw}}
                                    {% set articleCount = articleCount + 1 %}
                                {% endif %}
                            {% endfor %}

                         </div><!--card-group-->

                        <section class="ad row sidebar-ad hidden-md hidden-lg">
                            <div class="col-sm-6">
                                {% if config['inventory']['adSpace']['mrec'][0] is defined %}
                                    <div class="j-adslot" id="{{config['inventory']['adSpace']['mrec'][0]}}" data-adshape="mrec" data-responsive="0"></div>
                                {% endif %}
                                {# <span class="ad-text">Advertisement</span> #}
                            <!--block-->
                            </div>
                            <div class="col-sm-6 d-none d-sm-block">
                                {{ this.render('partials/newsroom_register.twig', {networkData : networkData}) | raw }}
                            </div>
                        </section>



                        <div class="row">
                            <div class="card-group">
                               
                            {% for i in 0..2 %}
                                {% if articles[articleCount] %}                                                                
                                    {{this.render('partials/_single-article.twig', {
                                        article: articles[articleCount], 
                                        position: (articleCount+1), 
                                        containerClass: 'col-sm-4 card-sm card-sm-tablet card-sm-mobile', 
                                        imageSize: {width:633, height:420}
                                    }) | raw}}
                                    {% set articleCount = articleCount + 1 %}
                                {% endif %}
                            {% endfor %}

                            </div><!-- .card-group-->
                        </div><!-- .row-->


                        {% if articles[articleCount] %}
                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                position: (articleCount+1), 
                                containerClass: 'card-lg-mobile card-lg-tablet card-lg-desktop card-lg-desktop-lg',
                                imageSize: {width:750, height:518}
                            }) | raw}}
                            {% set articleCount = articleCount + 1 %}
                        {% endif %}


                       
                        {% if articles[articleCount] %}  
                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                position: (articleCount+1), 
                                containerClass: 'card-rec card-rec-tablet card-rec-mobile',
                                imageSize: {width:330, height:236}
                            }) | raw}}
                            {% set articleCount = articleCount + 1 %}
                        {% endif %}

                        {# {{ this.render('partials/ajaxarticles.twig', {limit: articleCount, articlesArr: articlesArr, articles: articles}) | raw }} #}
                        {{ this.render('partials/ajaxarticles_new.twig', {
                            name            : "section-load",
                            limit           : limit,
                            offset          : limit,
                            label           : "Load more articles",
                            imgwidth        : "220",
                            imgheight       : "208",
                            container       : "mainAjaxArticles",
                            non_pinned      : articlesArr.existingNonPinnedCount, 
                            card_class      : "col-sm-4 card-sm card-sm-tablet card-sm-mobile",
                            buttonClass     : "loadMoreArticles-index",
                        }) | raw }}



                    </div><!-- .col-sm-8-->



                    <div class="col-sm-12 col-md-4 sidebar">

                        <div class="row subscriptions">
                            <div class="col-sm-12">
                                {{ this.render('partials/newsroom_register.twig', {networkData : networkData, class: 'd-none d-md-block'}) | raw }}
                            </div>
                            <div class="col-sm-6 col-md-12">
                                {{ this.render('partials/newsroom_subscribe.twig', {networkData : networkData, class: ''}) | raw }}
                            </div>


                        </div>


                        {# {{ this.render('partials/subscribe_pro_grey_bg.twig', {networkData : networkData, class: 'd-none d-md-block'}) | raw }} #}


                        <section class="sidebar-news">
                            <header>
                                <h3><span>Latest</span> on Newsroom</h3>
                            </header>


                            {% if recentArticles|length > 0 %}

                                {% for i in 0..6 %}
                                    {% if recentArticles[i] %}
                                        {{this.render('partials/_single-article_recent.twig', {
                                            article: recentArticles[i], 
                                            position: i+1, 
                                            containerClass: '', 
                                            swap: 'false'
                                        }) | raw}}
                                    {% endif %}
                                {% endfor %}

                            {% endif %}
                        </section><!-- .sidebar-news -->




                        <section class="ad sidebar-ad">
                                {% if config['inventory']['adSpace']['hpage'][0] is defined %}
                                    <div class="j-adslot" id="{{config['inventory']['adSpace']['hpage'][0]}}" data-adshape="hpage" data-responsive="1"></div>
                                {% endif %}
                                {# <span class="ad-text">Advertisement</span> #}
                        </section>

                        {# {{ this.render('partials/subscribe.twig', {networkData : networkData, class: 'd-none d-md-block'}) | raw }} #}

                        {% if articles[articleCount] %}
                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                position: (articleCount+1), 
                                containerClass: 'card-sm card-sm-tablet card-sm-mobile',
                                imageSize: {width:255, height:208}
                            }) | raw}}
                            {% set articleCount = articleCount + 1 %}
                        {% endif %}


                    </div><!-- .col-sm-4-->




                    <div class="row future">
                        {{ this.render('partials/futurelearning.twig', {sections: sections, networkData: networkData}) | raw }}
                    </div>
                </div><!-- .row-->




                {% if sections['viewingroom'].feed.articles|length > 0 %}
                    {{ this.render('partials/viewingroom.twig', {sections: sections, networkData: networkData}) | raw }}
                {% endif %}


                
                {# {% if sections['livingroom'].feed.articles|length > 0 %}
                     {{ this.render('partials/livingroom.twig', {sections: sections, networkData: networkData}) | raw }}
                 {% endif %} #}



                 {% if sections['lockerroom'].feed.articles|length > 0 %}
                     {{ this.render('partials/lockerroom.twig', {sections: sections, networkData: networkData}) | raw }}
                 {% endif %}



                 {% if sections['boardroom'].feed.articles|length > 0 %}
                     {{ this.render('partials/boardroom.twig', {sections: sections, networkData: networkData}) | raw }}
                 {% endif %}



                {% if sections['sportsroom'].feed.articles|length > 0 %}
                    {{ this.render('partials/sportsroom.twig', {sections: sections, networkData: networkData}) | raw }}
                {% endif %}

            </div>




            {% if sections['corporate newsroom'].feed.articles|length > 0 %}
                {{ this.render('partials/corporateroom.twig', {sections: sections, networkData: networkData}) | raw }}
            {% endif %}





            {{ this.render('partials/_sponsor_logos.twig') | raw }}

        </section><!-- .home-page-content-->
        <div id="ad-keywords" class="j-keyword-cont" data-keywords="{{blogData.keywords}}" data-pageName="home" data-pageType="home" data-pageTags=""></div>
    </main><!-- .site-main -->