{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData   = _Network.getNetworkData() %}
{% set blogData      = _Blog.getBlog() %}
{% set blogName      = blogData.title %}
{% set layout        = blogData.layout %}
{% set layoutTitle   = _Page.getLayoutTitle() | lower | replace({' ': '_'}) %}



{{this.registerJs("Acme.cards = CardController();")}}

{% set limit = 11 %}
{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0, 'distribution': true}) %}
{% set articles = articlesArr.articles %}

{% set firstCount = articles | length %}

                                                     {# renders the card    fetch-limit      fetch-offset    infinite scroll #}
                                                     {#            ↑           ↑                 ↑            ↑              #}
{{this.registerJs("Acme.loadMore = new Acme.View.articleFeed(Acme.cards, " ~ limit ~ ", " ~ firstCount ~ ", false);")}}


<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}

{% set recentArticles = _Article.getRecentArticles({'limit': 5}) %}

{% set sections =  {
        "viewingroom": {
            "feed": "",
            "link": ""
        }, 
        "boardroom": {
            "feed": "",
            "link": ""
        },
        "livingroom": {
            "feed": "",
            "link": ""
        }, 
        "lockerroom": {
            "feed": "",
            "link": ""
        }, 
        "sportsroom": {
            "feed": "",
            "link": ""
        },
        "ideasroom": {
            "feed": "",
            "link": ""
        },
        "futurelearning": {
            "feed": "",
            "link": ""
        },
        "corporate newsroom": {
            "feed": "",
            "link": ""
        },
        "comment": {
            "feed": "",
            "link": ""
        },
        "newsroom pro": {
            "feed": "",
            "link": ""
        },
        "podcasts": {
            "feed": "",
            "link": ""
        },
        "investigations": {
            "feed": "",
            "link": ""
        }
    }
%}



{% for key, value in sections %}
    {% for blog in networkData.networkBlogs %}
        {% if blog.title | lower == key %}
            {% set sections = sections | merge({
                (key) : {
                    'feed': _Blog.getBlogFeed({'limit': 4, 'offset': 0, 'blogid':blog.guid}),
                    'link' : blog.link
                    }
                }) %}
        {% endif %}
    {% endfor %}
{% endfor %}


<script>loadNextBannerAd('');</script>


    <main id="main" class="site-main" role="main" data-test="true">

    {% if layoutTitle | lower == 'newsroom_opinion' %}
        {{this.render('partials/_index-comment.twig', {articles: articles, networkData: networkData}) | raw}}
        {% set articleCount = articleCount + 4 %}

    {% elseif  layoutTitle | lower == 'newsroom-special' %}
        {{this.render('partials/_index-special.twig', {articles: articles, networkData: networkData}) | raw}}
        {% set articleCount = articleCount + 4 %}

    {% else %}
        {{this.render('partials/_index-default.twig', {articles: articles, networkData: networkData }) | raw}}
        {% set articleCount = articleCount + 4 %}
    {% endif %}





        <section class="home-page-content">
            <div class="container">
                <div class="row">
                    
                    <div class="col-sm-12 col-md-8">


                        {% if layoutTitle | lower == 'newsroom_opinion' %}
                            {% if sections['comment'].feed.articles|length > 0 %}
                                {% if articles[articleCount] %}
                                <section class="opinion-index">
                                        <div class="row">
                                            {% for i in 0..1 %}
                                                {% if sections['comment'].feed.articles[i] %}        
                                                    {{this.render('partials/_single-article.twig', {
                                                        article: sections['comment'].feed.articles[i],
                                                        position: (articleCount+1), 
                                                        containerClass: 'col-sm-6', 
                                                        swap: 'false'}) | raw}}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                </section>
                                {% endif %}
                            {% endif %}
                        {% endif %}







                        <div class="card-group">     

                            {% if articles[articleCount] %}                                                                
                                {{this.render('partials/_single-article.twig', {
                                    article: articles[articleCount], 
                                    position: (articleCount + 1), 
                                    containerClass: 'card-rec card-rec-tablet card-rec-mobile inverted',
                                    imageSize: {width:330, height:236}
                                }) | raw}}
                                {% set articleCount = articleCount + 1 %}
                            {% endif %}


                            {% if sections['podcasts'].feed.articles|length == 0 %}
                                {% if articles[articleCount] %}                                                                
                                    {{this.render('partials/_single-article.twig', {
                                        article: articles[articleCount], 
                                        position: (articleCount+1), 
                                        containerClass: 'card-rec card-rec-tablet card-rec-mobile',
                                        imageSize: {width:330, height:236}
                                    }) | raw}}
                                    {% set articleCount = articleCount + 1 %}
                                {% endif %}
                            {% endif %}

                         </div>



                        {% if sections['podcasts'].feed.articles|length > 0 %}
                            <div class="row">
                                {{ this.render('partials/pod-partial.twig', {sections: sections, networkData: networkData}) | raw }}
                            </div>
                        {% endif %}
        



                        <section class="add row sidebar-add sidebar-add__idx hidden-md hidden-lg u-tablet-no-margin-top">
                            <div class="col-sm-6">
                                <div id="newAdMrec"></div>
                                <script>loadNextMrecAd('',991);</script>
                                <span class="add-text">Advertisement</span>
                            </div>
                            <div class="col-sm-6 hidden-xs">
                                {{ this.render('partials/newsroom_register.twig', {networkData : networkData, class: ' with-ad'}) | raw }}
                            </div>
                        </section>





                        <div class="row">
                            <div class="card-group">
                               
                            {% for i in 0..2 %}
                                {% if articles[articleCount] %}                                                                
                                    {{this.render('partials/_single-article.twig', {
                                        article: articles[articleCount], 
                                        position: (articleCount+1), 
                                        containerClass: 'col-sm-4 card-sm card-sm-tablet card-sm-mobile',
                                        imageSize: {width:230, height:208}
                                    }) | raw}}
                                    {% set articleCount = articleCount + 1 %}
                                {% endif %}
                            {% endfor %}

                            </div>
                        </div>




                                                                                       
                        {% if articles[articleCount] %}
                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                position: (articleCount+1), 
                                containerClass: 'card-lg',
                                imageSize: {width:750, height:518}
                            }) | raw}}
                            {% set articleCount = articleCount + 1 %}
                        {% endif %}


                       {% if sections['newsroom pro'].feed.articles|length > 0 %}
                            <div class="row">
                                {{ this.render('partials/pro-partial.twig', {sections: sections, networkData: networkData}) | raw }}
                            </div>
                        {% endif %}
                        

                        
                        {{ this.render('partials/ajaxarticles_new.twig', {
                            name            : "section-load",
                            limit           : limit,
                            offset          : limit,
                            label           : "Load more articles",
                            imgwidth        : "220",
                            imgheight       : "208",
                            container       : "mainAjaxArticles",
                            non_pinned      : articlesArr.existingNonPinnedCount, 
                            card_class      : "col-sm-4 card-sm card-sm-tablet card-sm-mobile",
                            buttonClass     : "loadMoreArticles-index",
                        }) | raw }}

                    </div><!-- .col-sm-8-->




                    <div class="col-sm-12 col-md-4 sidebar">
                        <div class="row subscriptions">
                            <div class="col-sm-12" id='subscribebutton'>
                                {{ this.render('partials/newsroom_register.twig', {networkData : networkData, class: 'hidden-sm'}) | raw }}
                            </div>

                            <div class="col-sm-12 u-desktop-margin-top-40 u-mobile-margin-top-40">
                                {{ this.render('partials/newsroom_support.twig', {networkData : networkData, class: ''}) | raw }}
                            </div>
                        </div>


                        <section class="sidebar-news recent-articles">
                            <h3 class="recent-articles__header">
                                <span class="recent-articles__header-bold">Latest</span> on Newsroom
                            </h3>

                            {% if recentArticles|length > 0 %}

                                {% for i in 0..5 %}
                                    {% if recentArticles[i] %}
                                        {{
                                            this.render('partials/_single-article_recent.twig', {
                                                article: recentArticles[i], 
                                                containerClass: '', 
                                                swap: 'false', 
                                                isArticle: 'true'}) | raw
                                        }}
                                    {% endif %}
                                {% endfor %}

                            {% endif %}

                        </section>


                        

                        <section class="add sidebar-add hidden-sm hidden-xs">
                                <div id="newAdHalf"></div>
                                <script>loadNextHalfAd('',992);</script>
                                <span class="add-text">Advertisement</span>
                        </section>
                    

                   {% if articles[articleCount] %}
                        {{this.render('partials/_single-article.twig', {
                            article: articles[articleCount], 
                            position: (articleCount+1), 
                            containerClass: 'card-sm card-rec-tablet card-rec-mobile',
                            imageSize: {width:255, height:208}
                        }) | raw}}
                        {% set articleCount = articleCount + 1 %}
                    {% endif %}

                    </div>
                    {% if sections['futurelearning'].feed.articles|length > 0 %}
                        <div class="future">
                            {{ this.render('partials/futurelearning.twig', {sections: sections, networkData: networkData}) | raw }}
                        </div>
                    {% endif %}
                </div>








                {% if sections['boardroom'].feed.articles|length > 0 %}
                     {{ this.render('partials/boardroom.twig', {sections: sections, networkData: networkData}) | raw }}
                {% endif %}

                {% if sections['lockerroom'].feed.articles|length > 0 %}
                    {{ this.render('partials/lockerroom.twig', {sections: sections, networkData: networkData}) | raw }}
                {% endif %}

                {% if sections['investigations'].feed.articles|length > 0 %}
                    {{ this.render('partials/investigations.twig', {sections: sections, networkData: networkData}) | raw }}
                {% endif %}

                {% if sections['sportsroom'].feed.articles|length > 0 %}
                    {{ this.render('partials/sportsroom.twig', {sections: sections, networkData: networkData}) | raw }}
                {% endif %}

                {% if sections['viewingroom'].feed.articles|length > 0 %}
                    {{ this.render('partials/viewingroom.twig', {sections: sections, networkData: networkData}) | raw }}
                {% endif %}

                {% if sections['livingroom'].feed.articles|length > 0 %}
                    {{ this.render('partials/livingroom.twig', {sections: sections, networkData: networkData}) | raw }}
                {% endif %}
                

            </div>

            {% if sections['corporate newsroom'].feed.articles|length > 0 %}
                {{ this.render('partials/corporateroom.twig', {sections: sections, networkData: networkData}) | raw }}
            {% endif %}





            {{ this.render('partials/_sponsor_logos.twig') | raw }}
            
         </section>

    </main>