{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set blogData      = _Blog.getBlog() %}
{% set blogName      = blogData.title %}

{% macro smartquotes(text) %}
    {{text|replace({'/[^"]/': '&ldquo;', "/[^'']/": '&lsquo;', "'": '&rsquo;', '"': '&rdquo;'})}}
{% endmacro %}


{{this.registerJs("Acme.cards = CardController();")}}
{% set limit = 12 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}
{% set firstCount = articles | length %}

                                                     {# renders the card    fetch-limit      fetch-offset    infinite scroll #}
                                                     {#            ↑             ↑                 ↑            ↑            #}
{{this.registerJs("Acme.loadMore = new Acme.View.articleFeed(Acme.cards, " ~ limit ~ ", " ~ firstCount ~ ", false);")}}


<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}

{% set recentArticles = _Article.getRecentArticles({'limit': 3}) %}

{% set sections =  {
        "viewingroom": {
            "feed": "",
            "link": ""
        }, 
        "boardroom": {
            "feed": "",
            "link": ""
        }, 
        "sportsroom": {
            "feed": "",
            "link": ""
        },
        "futurelearning": {
            "feed": "",
            "link": ""
        },
        "corporate newsroom": {
            "feed": "",
            "link": ""
        },
        "podcasts": {
            "feed": "",
            "link": ""
        }

    }
%}

{% for key, value in sections %}
    {% for blog in networkData.networkBlogs %}
        {% if blog.title | lower == key %}
            {% set sections = sections | merge({
                (key) : {
                    'feed': _Blog.getBlogFeed({'limit': 4, 'offset': 0, 'blogid':blog.guid}),
                    'link' : blog.link
                    }
                }) %}
        {% endif %}
    {% endfor %}
{% endfor %}

<script>loadNextBannerAd('');</script>


    <main id="main" class="site-main index-special" role="main">
        <section class="featured-slider container-fluid">
            <div class="swiper-container">
                <div class="swiper-wrapper">

                    {% if articles[0] %}                                                                
                        {{this.render('partials/_single-article.twig', {
                            article: articles[0], 
                            position: 1, 
                            containerClass: 'swiper-slide', 
                            imageSize: {width:1168, height:587}
                        }) | raw}}
                        {% set articleCount = articleCount + 1 %}
                    {% endif %}
                </div><!-- .swiper-wrapper-->

                <div class="newsroom-icon">
                    <img src="{{networkData.templatePath}}/static/images/nr-logo.svg" alt="newsroom ic">
                </div><!-- .newsroom-icon-->

            </div><!-- .swiper-container-->
        </section><!-- .featured-slider-->
    

        {% if articles[articleCount] %}
            <section class="top-stories special">
                <div class="container">

                    <div class="row">

                        {% for i in 0..2 %}
                            {% if articles[i] %}                                                                
                                {{this.render('partials/_single-article.twig', {
                                    article: articles[articleCount], 
                                    position: (articleCount+1), 
                                    containerClass: 'col-sm-4 card-top-story card-top-story-tablet card-top-story-mobile', 
                                    imageSize: {width:99, height:88}
                                }) | raw}}
                                {% set articleCount = articleCount + 1 %}
                            {% endif %}
                        {% endfor %}

                    </div><!-- .row-->
                </div><!-- .container-->
            </section><!-- .top-stories-->
        {% endif %}


        <section class="home-page-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-8">
                        <div class="card-group">
                            {% set rowCards = ['card-rec inverted', 'card-rec'] %}                                                                
                            {% for i in 0..1 %}
                                {% if articles[articleCount] %}                                                                
                                    {{this.render('partials/_single-article.twig', {
                                        article: articles[articleCount], 
                                        position: (articleCount+1), 
                                        containerClass: rowCards[i], 
                                        imageSize: {width:330, height:236}
                                    }) | raw}}
                                    {% set articleCount = articleCount + 1 %}
                                {% endif %}
                            {% endfor %}

                         </div><!--card-group-->

                        <section class="add row sidebar-add hidden-md hidden-lg">
                            <div class="col-sm-6">
                                <div id='boxad' class="" style='height:250px; width:300px;'>
                                    <script>
                                        document.currentScript.parentNode.id = boxadID;
                                        googletag.cmd.push(function() { googletag.display(boxadID); });
                                    </script>
                                </div>
                                <span class="add-text">Advertisement</span>
                            <!--block-->
                            </div>
                            <div class="col-sm-6 hidden-xs">
                                {{ this.render('partials/newsroom_register.twig', {networkData : networkData}) | raw }}
                            </div>
                        </section>



                        <div class="row">
                            <div class="card-group">
                               
                            {% for i in 0..2 %}
                                {% if articles[articleCount] %}                                                                
                                    {{this.render('partials/_single-article.twig', {
                                        article: articles[articleCount], 
                                        position: (articleCount+1), 
                                        containerClass: 'col-sm-4 card-sm', 
                                        imageSize: {width:633, height:420}
                                    }) | raw}}
                                    {% set articleCount = articleCount + 1 %}
                                {% endif %}
                            {% endfor %}

                            </div><!-- .card-group-->
                        </div><!-- .row-->


                         {% if articles[articleCount] %}
                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                position: (articleCount+1), 
                                containerClass: 'card-lg',
                                imageSize: {width:750, height:518}
                            }) | raw}}
                            {% set articleCount = articleCount + 1 %}
                        {% endif %}


                       
                        {% if articles[articleCount] %}  
                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                position: (articleCount+1), 
                                containerClass: 'card-rec card-rec-tablet',
                                imageSize: {width:330, height:236}
                            }) | raw}}
                            {% set articleCount = articleCount + 1 %}
                        {% endif %}

                        {# {{ this.render('partials/ajaxarticles.twig', {limit: limit, articlesArr: articlesArr, articles: articles}) | raw }} #}
                        {{ this.render('partials/ajaxarticles_new.twig', {
                            name            : "section-load",
                            limit           : limit,
                            offset          : limit,
                            label           : "Load more articles",
                            imgwidth        : "220",
                            imgheight       : "208",
                            container       : "mainAjaxArticles",
                            non_pinned      : articlesArr.existingNonPinnedCount, 
                            card_class      : "col-sm-4 card-sm",
                            buttonClass     : "loadMoreArticles-index",
                        }) | raw }}


                    </div><!-- .col-sm-8-->




                    <div class="col-sm-12 col-md-4 sidebar">
                        <div class="row subscriptions">
                            <div class="col-sm-12">
                                {{ this.render('partials/newsroom_register.twig', {networkData : networkData, class: 'hidden-sm'}) | raw }}
                            </div>
                            <div class="col-sm-6 col-md-12">
                                {{ this.render('partials/newsroom_subscribe.twig', {networkData : networkData, class: ''}) | raw }}
                            </div>
                            <div class="col-sm-6 col-md-12">
                                {{ this.render('partials/newsroom_support.twig', {networkData : networkData, class: ''}) | raw }}
                            </div>
                        </div>
                        {# {{ this.render('partials/subscribe_pro_grey_bg.twig', {networkData : networkData, class: 'hidden-sm'}) | raw }} #}

                        <section class="sidebar-news">
                            <header>
                                <h3><span>Latest</span> on Newsroom</h3>
                            </header>


                            {% if recentArticles|length > 0 %}

                                {% for i in 0..5 %}
                                    {% if recentArticles[i] %}
                                        {{this.render('partials/_single-article_recent.twig', {
                                        article: recentArticles[i], 
                                        position: i+1, 
                                        containerClass: '', 
                                        swap: 'false'}) | raw}}
                                    {% endif %}
                                {% endfor %}

                            {% endif %}


                        </section><!-- .sidebar-news -->




                        <section class="add sidebar-add hidden-sm hidden-xs">
                                <div id='sidepanelAd' style='height:600px; width:300px;'>
                                        <script>
                                            document.currentScript.parentNode.id = sidepanelID;
                                            googletag.cmd.push(function() { googletag.display(sidepanelID); });
                                        </script>
                                    </div>
                                <span class="add-text">Advertisement</span>
                        </section>


                        {{this.render('partials/_single-article.twig', {
                            article: articles[articleCount], 
                            position: (articleCount+1), 
                            containerClass: 'card-sm',
                            imageSize: {width:255, height:208}
                        }) | raw}}
                        {% set articleCount = articleCount + 1 %}


                    </div><!-- .col-sm-4-->




                    <div class="row future">
                        {{ this.render('partials/futurelearning.twig', {sections: sections, networkData: networkData}) | raw }}
                    </div>
                </div><!-- .row-->




                {% if sections['viewingroom'].feed.articles|length > 0 %}
                    {{ this.render('partials/viewingroom.twig', {sections: sections, networkData: networkData}) | raw }}
                {% endif %}



                 {% if sections['livingroom'].feed.articles|length > 0 %}
                     {{ this.render('partials/livingroom.twig', {sections: sections, networkData: networkData}) | raw }}
                 {% endif %}



                 {% if sections['boardroom'].feed.articles|length > 0 %}
                     {{ this.render('partials/boardroom.twig', {sections: sections, networkData: networkData}) | raw }}
                 {% endif %}



                {% if sections['sportsroom'].feed.articles|length > 0 %}
                    {{ this.render('partials/sportsroom.twig', {sections: sections, networkData: networkData}) | raw }}
                {% endif %}

            </div>




            {% if sections['corporate newsroom'].feed.articles|length > 0 %}
                {{ this.render('partials/corporateroom.twig', {sections: sections, networkData: networkData}) | raw }}
            {% endif %}




            {{ this.render('partials/_sponsor_logos.twig') | raw }}

         </section><!-- .home-page-content-->

    </main><!-- .site-main -->