{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData   = _Network.getNetworkData() %}
{% set blogData      = _Blog.getBlog() %}
{% set blogName      = blogData.title %}

{% set dev = false %}
{% if _AppHelper.getApplicationEnv() != 'PROD' %}
    {% set dev = true %}
{% endif %}

{{this.registerJs("Acme.cards = new Acme.Card();")}}
{% set limit = 4 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}
{% set firstCount = articles | length %}



<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}

{% set sections =  {
    0 : "corporate",
    1 : "government"
} 
%}

{% if dev %}
    {% set sections =  {
        0 : "australia",
        1 : "sportsroom"
    } %}
{% endif %}

{% set variableSections = ['economy','foreign affairs','infrastructure','primary industries','tech and media','housing','transport','investing'] %}
{% if dev %}
    {% set variableSections = ['newsroom pro','business','classifieds','news','sport'] %}
{% endif %}



{% set feedCompare = {} %}
{% set sectionRanks = {} %}
{% set sectionFeed = {} %}
{% set columnArticles = {} %}
{% set eightThingsArticles = {} %}
{% set extraArticle = {} %}    
{% set partialOrder = [
    'partials/pro/hero-four-light.twig',
    'partials/pro/hero-three-dark.twig',
    'partials/pro/sm-three.twig',
    'partials/pro/hero-three-light.twig',
    'partials/pro/hero-four-dark.twig',
    'partials/pro/hero-three-dark.twig',
    'partials/pro/hero-three-light.twig',
    'partials/pro/sm-three.twig',
    'partials/pro/hero-four-light.twig',
    'partials/pro/sm-three.twig'
    ] 
%}

{% set popularArticles = _Article.getPopularArticles({ limit: 6, blogId: blogData['id'],  interval: 168  }) %}
{% set recentArticles  = _Article.getRecentArticles( { limit: 6, blogId: blogData['id'] }) %}


{% for vSection in variableSections %}
    {% set vBlog = "" %}
    {% set break = false %}
    {% for blog in networkData.networkBlogs if not break %}
        {% if blog.title | lower == vSection %}
            {% set vBlog = blog.id %}
            {% set break = true %}
        {% endif %}
    {% endfor %}


    {% set feed = _Article.getRecentArticles({limit: 1, blogId: vBlog}) %}     
    {% set publishTime = _AppHelper.getSecondsSincePublished(feed[0].publishDateTime) %}    
    {% set feedCompare = feedCompare | merge({  
        (vSection) : {
            'time'    : (publishTime), 
            'section' : (vSection)
        } 
    }) %}
{% endfor %}






{% for fSection in feedCompare %}

    {% set rank = 0 %}
    {% for vSection in feedCompare %}
        {% if vSection.section != fSection.section and fSection.time > vSection.time %}
            {% set rank = rank + 1 %}
        {% endif %}
    {% endfor %}


    {% if fSection.section %}
        {% set sectionRanks  = sectionRanks | merge({ 
            (fSection.section) : { 
                'section' : fSection.section,
                'rank' : (rank) 
            } 
        })  %}
    {% endif %}
{% endfor %}



{% set x = 2 %}
{% for i in 0..7 %}
    {% for section in sectionRanks %}
        {% if section.rank == i  %}
            {% set sections = sections | merge({ (x) : section.section }) %}
            {% set x = x + 1 %}
        {% endif %}

    {% endfor %}
{% endfor %}





{% set x = 0 %}
{% for i in sections %}
    {% set limit = 3 %}
    {% if x == 0 or x == 4 or x == 8 %}
        {% set limit = 4 %}
    {% endif %}

    {% for blog in networkData.networkBlogs %}

        {% if blog.title | lower == i %}

            {% set sectionFeed = sectionFeed | merge({
                (i) : {
                    'feed'          : _Blog.getBlogFeed({'limit':limit, 'offset': 0, 'blogid':blog.guid}),
                    'link'          : blog.link,
                    'description'   : blog.short_description,
                    'title'         : blog.title,
                    'blogguid'      : blog.guid,
                    'blogid'        : blog.id
                    }
                }) %}

        {% endif %}
    {% endfor %}
    {% set x = x + 1 %}
{% endfor %}




{% for blog in networkData.networkBlogs %}

    {% if blog.title | lower == "featured" %}
        {% set columnArticles = _Article.getRecentArticles({ limit: 5,  blogId: blog['id'] }) %}
        
    {% elseif blog.title | lower == "8 things" %}
        {% set eightThingsArticles = _Article.getRecentArticles({ limit: 8,  blogId: blog['id'] }) %}

    {% elseif blog.title | lower == "pro-extra" %}
        {% set extraArticle = _Article.getRecentArticles({ limit: 1,  blogId: blog['id'] }) %}
    {% endif %}

{% endfor %}
    

{% if dev %}
    {% set columnArticles = articles %}
    {% set eightThingsArticles = articles %}
    {% set extraArticle = articles %}
{% endif %}




    <main id="main" class="site-main pro-room {{this.title | lower}}" role="main">
        
        <section class="container-fluid 
                        u-mobile-margin-top-40 
                        u-mobile-margin-bottom-30 
                        u-tablet-margin-top-20 
                        u-tablet-margin-bottom-30 
                        u-desktop-margin-top-20 
                        u-desktop-margin-bottom-50"
                    >


            {% if articles[0] %}                                                                
                {{this.render('partials/_single-article.twig', {
                    article: articles[0], 
                    position: 1, 
                    containerClass: 'card-pro-feature card-pro-feature-tablet card-pro-feature-mobile', 
                    imageSize: {width:1168, height:587}
                }) | raw}}
                
                {% set articleCount = articleCount + 1 %}
            {% endif %}

        </section>
    

        {% if articles[articleCount] %}
            <section class="top-stories">
                <div class="container">
                    <h2 class="u-margin-bottom-10">TOP STORIES</h2>
                    <div class="row">

                        {% for i in 0..2 %}
                            {% if articles[articleCount] %}                                                                
                                {{this.render('partials/_single-article.twig', {
                                    article: articles[articleCount], 
                                    position: (articleCount+1), 
                                    containerClass: 'col-md-4 card-top-story card-top-story-tablet card-top-story-mobile pro-card', 
                                    imageSize: {width:99, height:88}
                                }) | raw}}
                                {% set articleCount = articleCount + 1 %}
                            {% endif %}
                        {% endfor %}

                    </div>
                    
                    <div class="row">

                    {# *****************************************************
                                        LOAD MOAR
                    ***************************************************** #}
                        <div class="col-lg-12 u-margin-top-30">
                            <section class="row" id="pro-section" class="loadmore__section {{site}}"></section>
                            <a href="#" id="pro-section-load" class="pro-main__loadmore j-pro-loadmore" >+ Load more</a>
                            <div id="less-pro-section-load" 
                                class="pro-main__loadless j-pro-loadless" 
                                style="display:none" 
                                data-loadcont="j-pro-loadmore-{{blogid}}"
                                data-section="pro-section"
                                >- SHOW LESS</div>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}



        <section class="home-page-content u-margin-bottom-60">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 partials-block">
                        
                    <!-- INSERT SECTION PARTIALS HERE -->

                        
                        {% set x = 0 %}
                        {% for i in sections %}
           
           
                            {% set params = {
                                'section'   : i,
                                'blogFeeds' : sectionFeed,
                                'template' : partialOrder[x],
                                'title' :   i
                            } %}
                        
                            {{this.render('render.twig', params) | raw}} 
                            







                            {% if x == 1 %}
                                <section class="row u-margin-bottom-30 d-flex d-lg-none">
                                    
                                    <div class="col-md-6 u-no-margin-top u-mobile-no-padding">
                                        <div class="pro-sidebar__headerdiv">
                                            <h3 class="pro-sidebar__header pro-sidebar__border j-recent-header">Most Viewed</h3>
                                            <h3 class="pro-sidebar__header j-recent-header faded">Most Recent</h3>
                                        </div>
                                        

                                        <div class="j-recent-toggle">
                                            {% for i in 0..5 if popularArticles[i] %}
                                                {{this.render('/partials/_single-article_recent.twig', {
                                                    article         : popularArticles[i], 
                                                    swap            : false,
                                                    containerClass  : 'card-pro-most card-pro-most-tablet card-pro-most-mobile'
                                                }) | raw}}
                                            {% endfor %}
                                        </div> 

                                        <div class="j-recent-toggle u-hide">
                                            {% for i in 0..5 if recentArticles[i] %}
                                                {{this.render('/partials/_single-article_recent.twig', {
                                                    article         : recentArticles[i], 
                                                    swap            : false,
                                                    containerClass  : 'card-pro-most card-pro-most-tablet card-pro-most-mobile'
                                                }) | raw}}
                                            {% endfor %}
                                        </div>
                                    </div>


                                    <div class="col-md-6 u-mobile-margin-top-30 u-mobile-no-padding u-tablet-margin-bottom-40">
                                        <h3 class="pro-sidebar__colheader u-no-margin-top">Featured</h3>
                                        {% for i in 0..4 if columnArticles[i] %}
                                            {{this.render('/partials/_single-article_column.twig', {
                                                article         : columnArticles[i], 
                                                swap            : false,
                                                containerClass  : 'card-pro-column card-pro-column-tablet card-pro-column-mobile', 
                                                imageSize: {width:1, height:1}
                                            }) | raw}}
                                        {% endfor %}
                                    </div>

                                    <div class="col-lg-12 u-margin-top-40 u-margin-bottom-40 d-block d-md-none ">
                                        {% if extraArticle[0] %}
                                            {{this.render('/partials/_single-article.twig', {
                                                    article         : extraArticle[0], 
                                                    swap            : false,
                                                    containerClass  : 'card-sm-mobile card-sm-mobile--reverse', 
                                                    imageSize: {width:136, height:135}
                                                }) | raw}}
                                        {% endif %}
                                    </div>
                                </section>
                            {% elseif x == 3 %}


                                {% set hiddenClass = ['','',' d-block d-sm-none',' d-block d-sm-none'] %}
                                <section class="row u-no-margin-top u-margin-bottom-60 u-mobile-margin-bottom-30 d-block d-lg-none">
                                    <div class="col-12 u-mobile-no-padding">
                                        <a href="{{networkData.defaultBlogUrl}}/8things"><h3 class="pro-sidebar__colheader u-mobile-no-padding">Today's 8 things</h3></a>
                                    </div>
                                    {# eight things #}
                                    {# <div class="row"> #}
                                    <div class="col-12">
                                        <div class="row">
                                            {% for i in 0..7 if eightThingsArticles[i] %}
                                                {{this.render('/partials/_single-article.twig', {
                                                    article         : eightThingsArticles[i], 
                                                    swap            : false,
                                                    containerClass  : 'col-md-6 card-pro-opinion card-pro-opinion-tablet card-pro-opinion-mobile u-mobile-no-padding' ~ hiddenClass[i]
                                                }) | raw}}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </section>


                            {% elseif x == 7 %}
                                <section class="row u-margin-top-40 d-none d-md-flex d-lg-none">
                                    {% if extraArticle[0] %}
                                        {{this.render('/partials/_single-article.twig', {
                                                article         : extraArticle[0], 
                                                swap            : false,
                                                containerClass  : 'col-lg-12 card-rec-tablet-extra inverted', 
                                                imageSize: {width:300, height:334}
                                            }) | raw}}
                                    {% endif %}
                                </section>
                            {% endif %}

                            {% set x = x + 1 %}
                        {% endfor %}
                    
                    </div>









                    {# *******************************************
                                    SIDEBAR
                    ******************************************* #}
                    <div class="col-md-12 col-lg-4 col-xl-3 offset-xl-1 pro-sidebar d-none d-lg-block">
                        
                        <div class="row">
                        
                            <section class="col-12 u-no-margin-top">
                                <div class="pro-sidebar__headerdiv">
                                    <h3 class="pro-sidebar__header pro-sidebar__border j-recent-header">Most Viewed</h3>
                                    <h3 class="pro-sidebar__header j-recent-header faded">Most Recent</h3>
                                 </div>
                                

                                <div class="j-recent-toggle">
                                {% for i in 0..5 if popularArticles[i] %}
                                    {{this.render('/partials/_single-article_recent.twig', {
                                        article         : popularArticles[i], 
                                        swap            : false,
                                        containerClass  : 'card-pro-most card-pro-most-tablet card-pro-most-mobile'
                                    }) | raw}}
                                {% endfor %}
                                </div> 

                                <div class="j-recent-toggle u-hide">
                                    {% for i in 0..5 if recentArticles[i] %}
                                        {{this.render('/partials/_single-article_recent.twig', {
                                            article         : recentArticles[i], 
                                            swap            : false,
                                            containerClass  : 'card-pro-most card-pro-most-tablet card-pro-most-mobile'
                                        }) | raw}}
                                    {% endfor %}
                                </div>

                            </section>






                            <section class="col-lg-12 u-margin-top-40">
                                <h3 class="pro-sidebar__colheader">Featured</h3>
                                {% for i in 0..4 if columnArticles[i] %}
                                    {{this.render('/partials/_single-article_column.twig', {
                                        article         : columnArticles[i], 
                                        swap            : false,
                                        containerClass  : 'card-pro-column card-pro-column-tablet card-pro-column-mobile', 
                                        imageSize: {width:141, height:113}
                                    }) | raw}}
                                {% endfor %}
                            </section>

                            <section class="col-lg-12 u-margin-top-40">
                                 <a href="{{networkData.defaultBlogUrl}}8things"><h3 class="pro-sidebar__colheader">Today's 8 things</h3></a>
                                {% for i in 0..7 if eightThingsArticles[i] %}
                                    {{this.render('/partials/_single-article.twig', {
                                        article         : eightThingsArticles[i], 
                                        swap            : false,
                                        containerClass  : 'card-pro-opinion card-pro-opinion-tablet card-pro-opinion-mobile'
                                    }) | raw}}
                                {% endfor %} 

                            </section>

                            <section class="col-lg-12 u-margin-top-40">
                                {% if extraArticle[0] %}
                                    {{this.render('/partials/_single-article.twig', {
                                            article         : extraArticle[0], 
                                            swap            : false,
                                            lazyload        : false,
                                            containerClass  : 'card-sm card-sm--reverse card-sm-tablet card-sm-tablet--reverse card-sm-mobile card-sm-mobile--reverse', 
                                            imageSize: {width:300, height:334}
                                        }) | raw}}
                                {% endif %}
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>








    <script>
   
   
    </script>


<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        const events = new Acme.Card();

        Acme.loadMore = new Acme.ArticleFeed({
            model           : Acme.Card,
            container       : 'pro-section',
            offset          : 4,
            limit           : 6,
            label           : "Load more",
            name            : 'pro-section-load',
            blogid          : "{{ blogData['guid'] }}",
            card_class      : 'col-lg-4 card-top-story card-top-story-tablet card-top-story-mobile pro-card u-margin-bottom-30',
            non_pinned      : {{articleCount}}
        });
    });
</script>
