{% set networkData  = _Network.getNetworkData() %}
{% set blogData     = _Blog.getBlog() %}
{% set config       = _Network.getThemeConfig() %}
{{ set(this, 'title', blogData.title) }}

{% set sections =  {
        "podcast: the detail": {
            "feed": "",
            "link": "",
            "description": "",
            "title": ""
        }, 
        "podcast: two cents' worth": {
            "feed": "",
            "link": "",
            "description": "",
            "title": ""
        }, 
        "podcast: book bubble": {
            "feed": "",
            "link": "",
            "description": "",
            "title": ""
        }, 
        "podcast: a neesh audience": {
            "feed": "",
            "link": "",
            "description": "",
            "title": ""
        }
    }
%}



{# {% set sections =  {
        "TEST_PAYWALL_SECTION": {
            "feed": "",
            "link": "",
            "description": "",
            "title": ""
        }, 
        "TEST_PAYWALL_SECTION": {
            "feed": "",
            "link": "",
            "description": "",
            "title": ""
        }, 
        "podcast: book bubble": {
            "feed": "",
            "link": "",
            "description": "",
            "title": ""
        }, 
        "podcast: a neesh audience": {
            "feed": "",
            "link": "",
            "description": "",
            "title": ""
        }
    }
%} #}


{% set limit = 4 %}

{% for key, value in sections %}
    {% for blog in networkData.networkBlogs %}
        {% if blog.title | lower == key | lower %}
            {% set sections = sections | merge({
                (key) : {
                    'feed': _Blog.getBlogFeed({'limit': 4, 'offset': 0, 'blogid':blog.guid}),
                    'link' : blog.link,
                    'description'   : blog.short_description,
                    'title'         : blog.title,
                    'blogguid'      : blog.guid,
                    'blogid'        : blog.id
                    }
                }) %}
        {% endif %}
    {% endfor %}
{% endfor %}

{# {{_AppHelper.printArray(sections)}} #}


<main id="main" class="site-main u-margin-top-40" role="main">
    <div class="container">
        <h1 class="sectionpage u-mobile-margin-left-20">{{blogData.title}}</h1>
        <div class="row">
            <div class="col-md-12 col-lg-8 partials-block">
{# 
                {% if sections['TEST_PAYWALL_SECTION'].feed.articles|length > 0 %}
                    {{this.render('render.twig', {
                        'section' : 'TEST_PAYWALL_SECTION',
                        'blogFeeds' : sections,
                        'template' : 'partials/pro/hero-four-dark.twig',
                        'title' : 'TEST_PAYWALL_SECTION'
                    }) | raw}}
                {% endif %}
                {% if sections['news'].feed.articles|length > 0 %}
                    {{this.render('render.twig', {
                        'section' : 'news',
                        'blogFeeds' : sections,
                        'template' : 'partials/pro/hero-four-light.twig',
                        'title' : 'news'
                    }) | raw}}
                {% endif %}

 #}




                {% if sections['podcast: the detail'].feed.articles|length > 0 %}
                    {{this.render('render.twig', {
                        'section' : 'podcast: the detail',
                        'blogFeeds' : sections,
                        'template' : 'partials/pro/hero-four-dark.twig',
                        'title' : 'podcast: the detail'
                    }) | raw}}
                {% endif %}

                {% if sections['podcast: book bubble'].feed.articles|length > 0 %}
                    {{this.render('render.twig', {
                        'section' : 'podcast: book bubble',
                        'blogFeeds' : sections,
                        'template' : 'partials/pro/hero-four-light.twig',
                        'title' : 'podcast: book bubble'
                    }) | raw}}
                {% endif %}

                {% if sections['podcast: a neesh audience'].feed.articles|length > 0 %}
                    {{this.render('render.twig', {
                        'section' : 'podcast: a neesh audience',
                        'blogFeeds' : sections,
                        'template' : 'partials/pro/hero-four-dark.twig',
                        'title' : 'podcast: a neesh audience'
                    }) | raw}}
                {% endif %}

                {% if sections["podcast: two cents' worth"].feed.articles|length > 0 %}
                    {{this.render('render.twig', {
                        'section' : "podcast: two cents' worth",
                        'blogFeeds' : sections,
                        'template' : 'partials/pro/hero-four-light.twig',
                        'title' : "podcast: two cents' worth"
                    }) | raw}}
                {% endif %}
                
                
            </div>
            <div class="col-md-12 col-lg-4">
                <section class="ad sidebar-ad ">
                    {% if config['inventory']['adSpace']['hpage'][0] is defined %}
                        <div class="j-adslot" id="{{config['inventory']['adSpace']['hpage'][0]}}" data-adshape="hpage" data-responsive="1"></div>
                    {% endif %}
                    {# <span class="ad-text d-print-none" style="display:block;width:300px;margin:0 auto;padding-left:17px;">Advertisement</span> #}
                </section>
            </div>
        </div>
    </div>
    <div id="ad-keywords" class="j-keyword-cont" data-keywords="{{blogData.keywords}}" data-pageName="podcasts" data-pageType="section" data-pageTags=""></div>
</main>


