{% set networkData = _Network.getNetworkData() %}

    <main id="main" class="site-main newsroom-pro-about__main" role="main">
        <article class="article-main">



            <div class="newsroom-pro-about newsroom-pro-about@tablet newsroom-pro-about@mobile">
                
                <div class="container">
                    <div class="row">
                        
                        <div class="col-sm-3">
                            <h1 class="newsroom-pro-about__header newsroom-pro-about__header@tablet newsroom-pro-about__header@mobile visible-xs-block">Newsroom Pro</h1> 

                            <figure class="newsroom-pro-about__header-figure newsroom-pro-about__header-figure@tablet newsroom-pro-about__header-figure@mobile">
                                <img src="{{networkData.templatePath}}/static/headshots/bernard-hickey.png" alt="Bernard Hickey" class="img-responsive">
                            </figure>

                            <div class="newsroom-pro-about__details">
                                <h3 class="newsroom-pro-about__header-name newsroom-pro-about__header-name@tablet newsroom-pro-about__header-name@mobile">Bernard Hickey</h3>
                                <p class="newsroom-pro-about__header-title newsroom-pro-about__header-title@tablet newsroom-pro-about__header-title@mobile">NEWSROOM PRO EDITOR</p>
                                <p class="newsroom-pro-about__header-location newsroom-pro-about__header-location@tablet newsroom-pro-about__header-location@mobile">WELLINGTON</p>
                            </div>

                        </div>



                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h1 class="newsroom-pro-about__header newsroom-pro-about__header@tablet hidden-xs">Newsroom Pro</h1>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6 newsroom-pro-about__signup-container@mobile">

                                    <div class="media newsroom-pro-about__signup newsroom-pro-about__signup@tablet newsroom-pro-about__signup@mobile">
                                        <a href="https://pro.newsroom.co.nz/users/new">
                                            <img class="media__img newsroom-pro-about__arrow newsroom-pro-about__arrow@mobile" src="{{networkData.templatePath}}/static/images/newsroom_pro_arrow.svg">
                                        </a>
                                        <div class="media__body">
                                            <p class="u-align-left newsroom-pro-about__signup-text newsroom-pro-about__signup-text@tablet newsroom-pro-about__signup-text@mobile"><span> <a href="https://pro.newsroom.co.nz/users/new" style="color:#e22f22;">Sign up</a></span> now for $29.00 per month (incl GST)</p>
                                        </div>
                                    </div>


                                    <div class="media">
                                        <a href="mailto:bernard.hickey@newsroom.co.nz"> 
                                            <img class="media__img newsroom-pro-about__arrow newsroom-pro-about__arrow@mobile" src="{{networkData.templatePath}}/static/images/newsroom_pro_arrow.svg">
                                        </a>
                                        <div class="media__body">
                                            <p class="u-align-left newsroom-pro-about__signup-text newsroom-pro-about__signup-text@tablet newsroom-pro-about__signup-text@mobile"><span> <a style="color:#e22f22;" href="mailto:bernard.hickey@newsroom.co.nz">Email us</a></span> to enquire about discounted corporate and group subscriptions.</p>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <p class="newsroom-pro-about__p newsroom-pro-about__p@tablet newsroom-pro-about__p@mobile">
                                        Newsroom Pro is a subscription news service for corporations, government agencies, local councils, NGOs, 
                                        and other premium clients.
                                    </p>
                                    <p class="newsroom-pro-about__p newsroom-pro-about__p@tablet newsroom-pro-about__p@mobile">
                                        We deliver daily actionable insights about politics, business and the economy, from our base in the 
                                        Parliamentary Press Gallery in Wellington.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>







            <div class="newsroom-pro-offers 
                        newsroom-pro-offers@tablet
                        newsroom-pro-offers@mobile">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1 class="newsroom-pro-offers__header 
                                       newsroom-pro-offers__header@tablet
                                       newsroom-pro-offers__header@mobile">What Newsroom Pro offers</h1>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-sm-4 newsroom-pro-offers__offer@mobile">

                            <div class="media">
                                <figure class="media__img newsroom-pro-offers__icon-figure@mobile">
                                    <img    class="newsroom-pro-offers__icon
                                                   newsroom-pro-offers__icon-world
                                                   newsroom-pro-offers__icon-world@tablet 
                                                   newsroom-pro-offers__icon-world@mobile"
                                            src="{{networkData.templatePath}}/static/icons/offers-global.svg" 
                                            alt="Daily email" />
                                </figure>
                                <div class="media__body">
                                    <p class="newsroom-pro-offers__text 
                                              newsroom-pro-offers__text@tablet
                                              newsroom-pro-offers__text@mobile">
                                        A daily morning email of news and insights, written by Newsroom Pro 
                                        Managing Editor Bernard Hickey
                                    </p>
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-4 newsroom-pro-offers__offer@mobile">
                            <div class="media">
                                <figure class="media__img newsroom-pro-offers__icon-figure@mobile">
                                    <img    class="newsroom-pro-offers__icon
                                                   newsroom-pro-offers__icon-satellite
                                                   newsroom-pro-offers__icon-satellite@tablet 
                                                   newsroom-pro-offers__icon-satellite@mobile" 
                                            src="{{networkData.templatePath}}/static/icons/offers-satellite.svg" 
                                            alt="24 hour access" />
                                </figure>
                                <div class="media__body">
                                    <p class="newsroom-pro-offers__text 
                                              newsroom-pro-offers__text@tablet
                                              newsroom-pro-offers__text@mobile">
                                        Our team’s reporting is published first on Newsroom Pro, 
                                        giving you 24 hours of exclusive access
                                    </p>
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-4 newsroom-pro-offers__offer@mobile">
                            <div class="media">

                                <figure class="media__img newsroom-pro-offers__icon-figure@mobile">
                                    <img     class="newsroom-pro-offers__icon 
                                                    newsroom-pro-offers__icon-media 
                                                    newsroom-pro-offers__icon-media@tablet
                                                    newsroom-pro-offers__icon-media@mobile" 
                                            src="{{networkData.templatePath}}/static/icons/offers-media.svg" 
                                            alt="Media monitoring for group subscribers" />
                                </figure>
                                <div class="media__body">
                                    <p class="newsroom-pro-offers__text 
                                              newsroom-pro-offers__text@tablet
                                              newsroom-pro-offers__text@mobile">
                                        Group subscribers get access to our media monitoring service, 
                                        which covers dozens of business sectors
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>













            <div class="container pro-team-member__container
                        pro-team-member__container@tablet 
                        pro-team-member__container@mobile">

                <div class="row">
                    <div class="col-sm-12">
                        <h1 class=" pro-team-member__header 
                                    pro-team-memeber__header@tablet 
                                    pro-team-memeber__header@mobile">Our team</h1>
                    </div>
                </div>

                <div class="row">

                    
                    
                    
                    <div class="col-sm-12">

                        <div class="media pro-team-member u-margin-bottom-40 u-tablet-margin-bottom-30">
                            <img class="media__img pro-team-member__headshot" src="{{networkData.templatePath}}/static/headshots/bernard-hickey2.png?ver=1" alt="Bernard Hickey">

                            <div class="media__body pro-team-member__media-body">
                                <div class="pro-team-member__details">
                                    <h3 class="pro-team-member__name">Bernard Hickey</h3>
                                    <span class="pro-team-member__title">NEWSROOM PRO EDITOR</span><br />
                                    <span class="pro-team-member__location">WELLINGTON</span>
                                </div>
                                <div class="pro-team-member__intro">
                                    <p class="pro-team-member__intro-text">Bernard Hickey is the managing editor of Newsroom Pro. He writes about economics and politics.</p>
                                </div>
                                <div class="pro-team-member__contact">
                                    <p class="pro-team-member__contact-text"><strong>Email: </strong><a href="mailto:bernard.hickey@newsroom.co.nz">bernard.hickey@newsroom.co.nz</a></p>                
                                    <p class="pro-team-member__contact-text"><strong>Twitter: </strong><a href="https://www.twitter.com/bernardchickey">@bernardchickey</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="divide"></div>
                    </div>








                    <div class="col-sm-12">

                        <div class="media pro-team-member u-margin-bottom-40 u-tablet-margin-bottom-30">
                            <img class="media__img pro-team-member__headshot" src="{{networkData.templatePath}}/static/headshots/sam-sachdeva.png?ver=1" alt="Sam Sachdeva">

                            <div class="media__body pro-team-member__media-body">
                                <div class="pro-team-member__details">
                                    <h3 class="pro-team-member__name">Sam Sachdeva</h3>
                                    <span class="pro-team-member__title">FOREIGN AFFAIRS AND TRADE EDITOR</span><br />
                                    <span class="pro-team-member__location">WELLINGTON</span>
                                </div>
                                <div class="pro-team-member__intro">
                                    <p class="pro-team-member__intro-text">Sam Sachdeva writes about diplomatic matters and trade policy.</p>
                                </div>
                                <div class="pro-team-member__contact">
                                    <p class="pro-team-member__contact-text"><strong>Email: </strong><a href="mailto:sam.sachdeva@newsroom.co.nz">sam.sachdeva@newsroom.co.nz</a></p>
                                    <p class="pro-team-member__contact-text"><strong>Twitter: </strong><a href="https://www.twitter.com/samsachdevanz">@samsachdevanz</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="divide"></div>

                    </div>











                    <div class="col-sm-12">

                        <div class="media pro-team-member u-margin-bottom-40 u-tablet-margin-bottom-30">
                            <img class="media__img pro-team-member__headshot" src="{{networkData.templatePath}}/static/headshots/shane-cowlishaw.png" alt="Shane Cowlishaw">

                            <div class="media__body pro-team-member__media-body">
                                <div class="pro-team-member__details">
                                    <h3 class="pro-team-member__name">Shane Cowlishaw</h3>
                                    <span class="pro-team-member__title">NATIONAL AFFAIRS EDITOR</span><br />
                                    <span class="pro-team-member__location">WELLINGTON</span>
                                </div>
                                <div class="pro-team-member__intro">
                                    <p class="pro-team-member__intro-text">Shane Cowlishaw writes about education, justice, internal affairs, and immigration.</p>
                                </div>
                                <div class="pro-team-member__contact">
                                    <p class="pro-team-member__contact-text"><strong>Email: </strong><a href="mailto:shane.cowlishaw@newsroom.co.nz">shane.cowlishaw@newsroom.co.nz</a></p>
                                    <p class="pro-team-member__contact-text"><strong>Twitter: </strong><a href="https://www.twitter.com/scowlishaw">@scowlishaw</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="divide"></div>

                    </div>









                    <div class="col-sm-12">

                        <div class="media pro-team-member u-margin-bottom-40 u-tablet-margin-bottom-30">
                            <img class="media__img pro-team-member__headshot" src="{{networkData.templatePath}}/static/headshots/thomas-coughlan.png" alt="Thomas Coughlan">

                            <div class="media__body pro-team-member__media-body">
                                <div class="pro-team-member__details">
                                    <h3 class="pro-team-member__name">Thomas Coughlan</h3>
                                    <span class="pro-team-member__title">REPORTER</span><br />
                                    <span class="pro-team-member__location">WELLINGTON</span>
                                </div>
                                <div class="pro-team-member__intro">
                                    <p class="pro-team-member__intro-text">Thomas Coughlan is a Newsroom reporter who covers policy and economics.</p>
                                </div>
                                <div class="pro-team-member__contact">
                                    <p class="pro-team-member__contact-text"><strong>Email: </strong><a href="mailto:Thomas.coughlan@newsroom.co.nz">Thomas.coughlan@newsroom.co.nz</a></p>
                                    <p class="pro-team-member__contact-text"><strong>Twitter: </strong><a href="https://www.twitter.com/coughlthom">@coughlthom</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="divide"></div>

                    </div>







                    <div class="col-sm-12">

                        <div class="media pro-team-member u-margin-bottom-40 u-tablet-margin-bottom-30">
                            <img class="media__img pro-team-member__headshot" src="{{networkData.templatePath}}/static/headshots/lynn-grieveson.png" alt="Lynn Grieveson">

                            <div class="media__body pro-team-member__media-body">
                                <div class="pro-team-member__details">
                                    <h3 class="pro-team-member__name">Lynn Grieveson</h3>
                                    <span class="pro-team-member__title">NEWSROOM PRO SUBEDITOR, CONTRIBUTING PHOTOGRAPHER</span><br />
                                    <span class="pro-team-member__location">WELLINGTON</span>
                                </div>
                                <div class="pro-team-member__intro">
                                    <p class="pro-team-member__intro-text">Lynn Grieveson is Newsroom Pro’s  subeditor and photographer.</p>
                                </div>
                                <div class="pro-team-member__contact">
                                    <p class="pro-team-member__contact-text"><strong>Email: </strong><a href="mailto:lynn.grieveson@newsroom.co.nz">lynn.grieveson@newsroom.co.nz</a></p>
                                    <p class="pro-team-member__contact-text"><strong>Twitter: </strong><a href="https://www.twitter.com/lynngrieveson">@lynngrieveson</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="divide"></div>

                    </div>













                    <div class="col-sm-12">

                        <div class="media pro-team-member u-margin-bottom-40 u-tablet-margin-bottom-30">
                            <img class="media__img pro-team-member__headshot" src="{{networkData.templatePath}}/static/headshots/richard-macmanus.png" alt="Richard MacManus">

                            <div class="media__body pro-team-member__media-body">
                                <div class="pro-team-member__details">
                                    <h3 class="pro-team-member__name">Richard MacManus</h3>
                                    <span class="pro-team-member__title">CHIEF PRODUCT OFFICER</span><br />
                                    <span class="pro-team-member__location">WELLINGTON</span>
                                </div>
                                <div class="pro-team-member__intro">
                                    <p class="pro-team-member__intro-text">Richard MacManus is Newsroom’s Chief Product Officer. He also writes for Newsroom about technology.</p>
                                </div>
                                <div class="pro-team-member__contact">
                                    <p class="pro-team-member__contact-text"><strong>Email: </strong><a href="mailto:richard.macmanus@newsroom.co.nz">richard.macmanus@newsroom.co.nz</a></p>
                                    <p class="pro-team-member__contact-text"><strong>Twitter: </strong><a href="https://www.twitter.com/ricmac">@ricmac</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="divide"></div>

                    </div>







                    <div class="col-sm-12">

                        <div class="media pro-team-member u-margin-bottom-40 u-tablet-margin-bottom-30">
                            <img class="media__img pro-team-member__headshot" src="{{networkData.templatePath}}/static/headshots/rod-oram.png" alt="Rod Oram">

                            <div class="media__body pro-team-member__media-body">
                                <div class="pro-team-member__details">
                                    <h3 class="pro-team-member__name">Rod Oram</h3>
                                    <span class="pro-team-member__title">COLUMNIST</span><br />
                                    <span class="pro-team-member__location"></span>
                                </div>
                                <div class="pro-team-member__intro">
                                    <p class="pro-team-member__intro-text">Rod Oram investigates the political, economic, and business spheres in New Zealand.</p>
                                </div>
                                <div class="pro-team-member__contact">
                                    <p class="pro-team-member__contact-text"><strong>Twitter: </strong><a href="https://www.twitter.com/RodOramNZ">@RodOramNZ</a></p>
                                    <p class="pro-team-member__contact-text"></p>
                                </div>
                            </div>
                        </div>
                    </div>



            </div><!-- .container -->
        </article><!-- .article-main -->
    </main><!-- .site-main -->
