{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData   = _Network.getNetworkData() %}
{% set blogData      = _Blog.getBlog() %}
{% set blogName      = blogData.title %}


{{this.registerJs("Acme.cards = CardController();")}}
{% set limit = 4 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}
{% set firstCount = articles | length %}

                                                     {# renders the card    fetch-limit      fetch-offset    infinite scroll #}
                                                     {#            ↑           ↑                 ↑            ↑            #}
{# {{this.registerJs("Acme.loadMore = new Acme.View.articleFeed(Acme.cards, " ~ limit ~ ", " ~ firstCount ~ ", false);")}} #}


<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}

{% set sections =  {
    0 : "corporate",
    1 : "government"
    } 
%}

{% set variableSections = ['economy','foreign affairs','infrastructure','primary industries','tech and media','housing','transport','investing'] %}

{% set feedCompare = {} %}
{% set sectionRanks = {} %}
{% set sectionFeed = {} %}
{% set columnArticles = {} %}
{% set eightThingsArticles = {} %}
{% set extraArticle = {} %}    
{% set partialOrder = [
    'partials/pro/hero-four-light.twig',
    'partials/pro/hero-three-dark.twig',
    'partials/pro/sm-three.twig',
    'partials/pro/hero-three-light.twig',
    'partials/pro/hero-four-dark.twig',
    'partials/pro/hero-three-dark.twig',
    'partials/pro/hero-three-light.twig',
    'partials/pro/sm-three.twig',
    'partials/pro/hero-four-light.twig',
    'partials/pro/sm-three.twig'
    ] 
%}

{% set popularArticles = _Article.getPopularArticles({ 
        limit: 6, 
        blogId: blogData['id'], 
        interval: 168 
    }) %}

{% set recentArticles = _Article.getRecentArticles({ 
        limit: 6, 
        blogId: blogData['id'], 
         
    }) %}


{% for vSection in variableSections %}

    {% set vBlog = "" %}

    {% for blog in networkData.networkBlogs %}

        {% if blog.title | lower == vSection %}
            {% set vBlog = blog.id %}
        {% endif %}

    {% endfor %}


    {% set feed = _Article.getRecentArticles({limit: 1, blogId: vBlog}) %}     
    {% set publishTime = _AppHelper.getSecondsSincePublished(feed[0].publishDateTime) %}    
    {% set feedCompare = feedCompare | merge({  
        (vSection) : {
            'time' : (publishTime), 
            'section' : (vSection)
        } 
    }) %}
    

{% endfor %}

{% for fSection in feedCompare %}

    {% set rank = 0 %}
    {% for vSection in feedCompare %}
        
        {% if vSection.section != fSection.section and fSection.time > vSection.time %}

            {% set rank = rank + 1 %}
        {% endif %}
    {% endfor %}
    {% if fSection.section %}
        {% set sectionRanks  = sectionRanks | merge({ 
            (fSection.section) : { 
                'section' : fSection.section,
                'rank' : (rank) 
            } 
        })  %}
    {% endif %}

{% endfor %}



{% set x = 2 %}
{% for i in 0..7 %}
    {% for section in sectionRanks %}
        {% if section.rank == i  %}

            {% set sections = sections | merge({ (x) : section.section }) %}
            {% set x = x + 1 %}
        {% endif %}

    {% endfor %}
{% endfor %}


{% set x = 0 %}
{% for i in sections %}
    {% if x == 0 or x == 4 or x == 8 %}
        {% set limit = 4 %}
    {% else %}
        {% set limit = 3 %}
    {% endif %}

    {% for blog in networkData.networkBlogs %}

        {% if blog.title | lower == i %}

            {% set sectionFeed = sectionFeed | merge({
                (i) : {
                    'feed'          : _Blog.getBlogFeed({'limit':limit, 'offset': 0, 'blogid':blog.guid}),
                    'link'          : blog.link,
                    'description'   : blog.short_description,
                    'title'         : blog.title
                    }
                }) %}
                                                       
        {% endif %}
    {% endfor %}
    {% set x = x + 1 %}
{% endfor %}

{% for blog in networkData.networkBlogs %}
    {% if blog.title | lower == "columnists" %}

         {% set columnArticles = _Article.getRecentArticles({ 
                                    limit: 5, 
                                    blogId: blog['id'], 
                                     
                            }) %}
    {% elseif blog.title | lower == "8 things" %}

         {% set eightThingsArticles = _Article.getRecentArticles({ 
                                    limit: 8, 
                                    blogId: blog['id'], 
                                     
                            }) %} 
    {% elseif blog.title | lower == "pro-extra" %}

         {% set extraArticle = _Article.getRecentArticles({ 
                                    limit: 1, 
                                    blogId: blog['id'], 
                                     
                            }) %}                                               
    {% endif %}

{% endfor %}
    
    <main id="main" class="site-main pro-room {{this.title | lower}}" role="main">
        <section class="featured-slider container-fluid">
                <div class="swiper-container">
                    <div class="swiper-wrapper">

                        {% if articles[0] %}                                                                
                            {{this.render('partials/_single-article.twig', {
                                article: articles[0], 
                                position: 1, 
                                containerClass: 'featured card-pro-feature card-pro-feature-tablet card-pro-feature-mobile', 
                                imageSize: {width:1168, height:587}
                            }) | raw}}
                            
                            {% set articleCount = articleCount + 1 %}
                        {% endif %}
                    </div>
                </div>
        </section>
    

        {% if articles[articleCount] %}
            <section class="top-stories">
                <div class="container">
                    <h2 class="u-margin-bottom-10">TOP STORIES</h2>
                    <div class="row">

                        {% for i in 0..2 %}
                            {% if articles[i] %}                                                                
                                {{this.render('partials/_single-article.twig', {
                                    article: articles[articleCount], 
                                    position: (articleCount+1), 
                                    containerClass: 'col-sm-4 card-top-story card-top-story-tablet card-top-story-mobile pro-card', 
                                    imageSize: {width:99, height:88}
                                }) | raw}}
                                {% set articleCount = articleCount + 1 %}
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
            </section>
        {% endif %}



        <section class="home-page-content u-margin-bottom-60">
            <div class="container">
                <div class="row">

                    <div class="col-sm-12 col-md-8 partials-block">
                        
                    <!-- INSERT SECTION PARTIALS HERE -->

                        
                        {% set x = 0 %}
                        {% for i in sections %}
           
           
                            {% set params = {
                                'section'   : i,
                                'blogFeeds' : sectionFeed,
                                'template' : partialOrder[x],
                                'title' :   i
                            } %}
                        
                            {{this.render('render.twig', params) | raw}} 
                            
                            {% if x == 1 %}
                                <section class="row u-margin-bottom-30 visible-sm-block visible-xs-block">
                                    <div class="col-sm-6 u-no-margin-top u-mobile-no-padding">
                                        <div class="pro-sidebar__headerdiv">
                                            <h3 class="pro-sidebar__header pro-sidebar__border j-recent-header">Most Viewed</h3>
                                             <h3 class="pro-sidebar__header j-recent-header faded">Most Recent</h3>
                                         </div>
                                        

                                        <div class="j-recent-toggle">
                                            {% for i in 0..5 if popularArticles[i] %}
                                                {{this.render('/partials/_single-article_recent.twig', {
                                                    article         : popularArticles[i], 
                                                    swap            : false,
                                                    containerClass  : 'card-pro-most card-pro-most-tablet card-pro-most-mobile'
                                                }) | raw}}
                                            {% endfor %}
                                        </div> 

                                        <div class="j-recent-toggle hidden">
                                            {% for i in 0..5 if recentArticles[i] %}
                                                {{this.render('/partials/_single-article_recent.twig', {
                                                    article         : recentArticles[i], 
                                                    swap            : false,
                                                    containerClass  : 'card-pro-most card-pro-most-tablet card-pro-most-mobile'
                                                }) | raw}}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-sm-6 u-mobile-margin-top-30 u-mobile-no-padding u-tablet-margin-bottom-40">
                                        <h3 class="pro-sidebar__colheader u-no-margin-top">Columnists</h3>
                                        {% for i in 0..4 if columnArticles[i] %}
                                            {{this.render('/partials/_single-article_column.twig', {
                                                article         : columnArticles[i], 
                                                swap            : false,
                                                containerClass  : 'card-pro-column card-pro-column-tablet card-pro-column-mobile', 
                                                imageSize: {width:1, height:1}
                                            }) | raw}}
                                        {% endfor %}
                                    </div>
                                    <div class="col-sm-12 u-margin-top-40 u-margin-bottom-40 visible-xs-block ">
                                        {% if extraArticle[0] %}
                                            {{this.render('/partials/_single-article.twig', {
                                                    article         : extraArticle[0], 
                                                    swap            : false,
                                                    containerClass  : 'card-sm-mobile-inverted', 
                                                    imageSize: {width:136, height:135}
                                                }) | raw}}
                                        {% endif %}
                                    </div>
                                </section>
                            {% elseif x == 3 %}
                                {% set hiddenClass = ['','',' visible-xs-block',' visible-xs-block'] %}
                                <section class="row u-no-margin-top u-margin-bottom-60 u-mobile-margin-bottom-30 visible-sm-block visible-xs-block">
                                    <a href="{{networkData.defaultBlogUrl}}/@8things"><h3 class="col-sm-12 pro-sidebar__colheader u-mobile-no-padding">Today's 8 things</h3></a>

                                    {% for i in 0..7 if eightThingsArticles[i] %}
                                        {{this.render('/partials/_single-article.twig', {
                                            article         : eightThingsArticles[i], 
                                            swap            : false,
                                            containerClass  : 'col-sm-6 card-pro-opinion card-pro-opinion-tablet card-pro-opinion-mobile u-mobile-no-padding' ~ hiddenClass[i]
                                        }) | raw}}
                                    {% endfor %}
                                </section>
                            {% elseif x == 7 %}
                                <section class="row u-margin-top-40 visible-sm-block">
                                    {% if extraArticle[0] %}
                                        {{this.render('/partials/_single-article.twig', {
                                                article         : extraArticle[0], 
                                                swap            : false,
                                                containerClass  : 'col-sm-12 card-rec-tablet-extra inverted', 
                                                imageSize: {width:300, height:334}
                                            }) | raw}}
                                    {% endif %}
                                </section>
                            {% endif %}

                            {% set x = x + 1 %}
                        {% endfor %}
                    
                    </div>

                    <div class="col-sm-12 col-md-4 col-lg-3 col-lg-offset-1 pro-sidebar visible-md-block visible-lg-block">
                        
                        <div class="row">
                        
                            <section class="col-sm-12 u-no-margin-top">
                                <div class="pro-sidebar__headerdiv">
                                    <h3 class="pro-sidebar__header pro-sidebar__border j-recent-header">Most Viewed</h3>
                                     <h3 class="pro-sidebar__header j-recent-header faded">Most Recent</h3>
                                 </div>
                                

                                <div class="j-recent-toggle">
                                {% for i in 0..5 if popularArticles[i] %}
                                    {{this.render('/partials/_single-article_recent.twig', {
                                        article         : popularArticles[i], 
                                        swap            : false,
                                        containerClass  : 'card-pro-most card-pro-most-tablet card-pro-most-mobile'
                                    }) | raw}}
                                {% endfor %}
                                </div> 

                                <div class="j-recent-toggle hidden">
                                    

                                
                                {% for i in 0..5 if recentArticles[i] %}
                                    {{this.render('/partials/_single-article_recent.twig', {
                                        article         : recentArticles[i], 
                                        swap            : false,
                                        containerClass  : 'card-pro-most card-pro-most-tablet card-pro-most-mobile'
                                    }) | raw}}
                                {% endfor %}
                                </div>

                            </section>
                            <section class="col-sm-12 u-margin-top-40">
                                <h3 class="pro-sidebar__colheader">Columnists</h3>
                                {% for i in 0..4 if columnArticles[i] %}
                                    {{this.render('/partials/_single-article_column.twig', {
                                        article         : columnArticles[i], 
                                        swap            : false,
                                        containerClass  : 'card-pro-column card-pro-column-tablet card-pro-column-mobile', 
                                        imageSize: {width:141, height:113}
                                    }) | raw}}
                                {% endfor %} 

                            </section>

                            <section class="col-sm-12 u-margin-top-40">
                                 <a href="{{networkData.defaultBlogUrl}}/@8things"><h3 class="pro-sidebar__colheader">Today's 8 things</h3></a>
                                {% for i in 0..7 if eightThingsArticles[i] %}
                                    {{this.render('/partials/_single-article.twig', {
                                        article         : eightThingsArticles[i], 
                                        swap            : false,
                                        containerClass  : 'card-pro-opinion card-pro-opinion-tablet card-pro-opinion-mobile'
                                    }) | raw}}
                                {% endfor %} 

                            </section>

                            <section class="col-sm-12 u-margin-top-40">
                                {% if extraArticle[0] %}
                                    {{this.render('/partials/_single-article.twig', {
                                            article         : extraArticle[0], 
                                            swap            : false,
                                            containerClass  : 'card-sm card-sm-tablet card-sm-mobile inverted', 
                                            imageSize: {width:300, height:334}
                                        }) | raw}}
                                {% endif %}
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script>

        
        // main script is defered so event listener makes sure
        // defered script is loaded before this runs
        document.addEventListener("DOMContentLoaded", function() {
            jQuery( function() {
                $('.loadMore').removeClass('loadMore');
                $('.j-pro-loadmore').click( function(e){
                    e.preventDefault()
                    console.log('loadmore clicked', this) 
                    //var parent = $(this).parent();
                    $(this).addClass('loadMore');
                    Acme.loadMore = new Acme.View.articleFeed(Acme.cards, {{limit}}, {{firstCount}}, false);
                    Acme.loadMore.fetch();
                    Acme.loadMore = "";
                    $(this).prev().removeClass('hidden');
                    $(this).next().removeClass('hidden');
                    $('.loadMore').removeClass('loadMore');
                });
                $('.j-pro-loadless').click( function(){ 
                    console.log('loadless clicked', this) 
                    var parent = $(this).parent();
                    parent.children('#mainAjaxArticles').removeClass('hidden');
                    parent.children('#mainAjaxArticles').addClass('hidden');
                    $(this).addClass('hidden');
                    //$(parent + '> div').removeClass('hidden');
                    //$(parent + '> div').addClass('hidden');
                });
            });
            
        });
    </script>


