{% set networkData  = _Network.getNetworkData() %}
{% set blogData     = _Blog.getBlog() %}
{% set config       = _Network.getThemeConfig() %}
{{ set(this, 'title', blogData.title) }}
{{this.registerJs("Acme.cards = CardController();")}}

{% set sections =  {
        "podcast: the detail": {
            "feed": "",
            "link": "",
            "description": "",
            "title": ""
        }, 
        "podcast: two cents' worth": {
            "feed": "",
            "link": "",
            "description": "",
            "title": ""
        }
    }
%}

{% set limit = 4 %}


{% for key, value in sections %}
    {% for blog in networkData.networkBlogs %}
        {% if blog.title | lower == key %}
            {% set sections = sections | merge({
                (key) : {
                    'feed': _Blog.getBlogFeed({'limit': 4, 'offset': 0, 'blogid':blog.guid}),
                    'link' : blog.link,
                    'description'   : blog.short_description,
                    'title'         : blog.title,
                    'blogguid'      : blog.guid,
                    'blogid'        : blog.id
                    }
                }) %}
        {% endif %}
    {% endfor %}
{% endfor %}

{# {{_AppHelper.printArray(sections)}} #}


<main id="main" class="site-main u-margin-top-40" role="main">
    <div class="c-signups-popup" id="mcpopup">
        <div class="row">
            <div class="col-12 col-md-4" id="j-mccheckbox-daily">
                <input type="checkbox" 	class="" value="true" id="mccheckbox-daily"> 
                <label class="c-signups-popup__label">
                    Day In Review
                </label>
                <p class="c-signups-popup__text"></p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <h2 class="c-signups__head">Sign up for the latest news and insights from the Newsroom team</h2>
                    </div>    
                    
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <h3 class="c-signups__subhead">Newsletters</h3>
                            </div>
                            <div class="col-12 col-md-6 order-md-1">
                                <div class="row c-signups-newsletter">
                                    <div class="col-4">
                                        <figure class="c-signups-newsletter__figure">
                                            <img class="c-signups-newsletter__image" src="{{networkData.templatePath}}/static/images/daily-newsletter.png">
                                        </figure>
                                    </div>
                                    <div class="col-8">
                                        <h4 class="c-signups-newsletter__head u-margin-bottom-10">Daily Briefing</h4>
                                        <p class="c-signups-newsletter__blurb">Every morning, get a snapshot of Newsroom’s top 10 stories delivered to your inbox. </p>
                                        <p class="c-signups-newsletter__days">Monday - Friday</p>
                                        <div class="c-signups-newsletter__form">
                                            <input type="email"	class="c-signups-newsletter__textbox" name="email" id="daily-email" value="" placeholder="Enter your email">
                                            <button type="submit" id="daily-submit" class="c-signups-newsletter__submit j-mcsubscribe" name="email-submit" data-input="daily-email" data-group[3][1]="1">
                                                <img class="" src="{{networkData.templatePath}}/static/icons/email-submit.svg">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 order-md-3">
                                <div class="row c-signups-newsletter">
                                    <div class="col-4">
                                        <figure class="c-signups-newsletter__figure">
                                            <img class="c-signups-newsletter__image" src="{{networkData.templatePath}}/static/images/weekly-newsletter.png">
                                        </figure>
                                    </div>
                                    <div class="col-8">
                                        <h4 class="c-signups-newsletter__head u-margin-bottom-10">Weekly Briefing</h4>
                                        <p class="c-signups-newsletter__blurb">Catch up on the week's top stories, written by our award winning authors. </p>
                                        <p class="c-signups-newsletter__days">every friday </p>
                                        <div class="c-signups-newsletter__form">
                                            <input type="email"	class="c-signups-newsletter__textbox" name="email" id="weekly-email" value="" placeholder="Enter your email">
                                            <button type="submit" id="weekly-submit" class="c-signups-newsletter__submit j-mcsubscribe" name="email-submit" data-input="weekly-email" data-group[3][2]="2">
                                                <img class="c-signups-newsletter__icon" src="{{networkData.templatePath}}/static/icons/email-submit.svg">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 order-md-2">
                                <div class="row c-signups-newsletter">
                                    <div class="col-4">
                                        <figure class="c-signups-newsletter__figure">
                                            <img class="c-signups-newsletter__image" src="{{networkData.templatePath}}/static/images/lockerroom-newsletter.png">
                                        </figure>
                                    </div>
                                    <div class="col-8">
                                        <div class="c-signups-newsletter__head u-margin-bottom-10">
                                            <img src="{{networkData.templatePath}}/static/images/lockerroom-logo.svg" alt="logo" class="c-signups-newsletter__logo">
                                        </div>
                                        <p class="c-signups-newsletter__blurb">Sports every luiatem ra cuptaspis magnatur sitatem si blaborro qui ommo dio ther ssum reriasit.</p>
                                        <p class="c-signups-newsletter__days">every wednesday</p>
                                        <div class="c-signups-newsletter__form">
                                            <input type="email"	class="c-signups-newsletter__textbox" name="email" id="lockerroom-email" value="" placeholder="Enter your email">
                                            <button type="submit" id="lockerroom-submit" class="c-signups-newsletter__submit j-mcsubscribe" name="email-submit" data-input="lockerroom-email" data-group[3][4]="4">
                                                <img class="c-signups-newsletter__icon" src="{{networkData.templatePath}}/static/icons/email-submit.svg">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 order-md-4">
                                <div class="row c-signups-newsletter">
                                    <div class="col-4">
                                        <figure class="c-signups-newsletter__figure">
                                            <img class="c-signups-newsletter__image" src="{{networkData.templatePath}}/static/images/readingroom-newsletter.png">
                                        </figure>
                                    </div>
                                    <div class="col-8">
                                        <div class="c-signups-newsletter__head u-margin-bottom-10">
                                            <img src="{{networkData.templatePath}}/static/images/readingroom-logo.svg" alt="logo" class="c-signups-newsletter__logo">
                                        </div>
                                        <p class="c-signups-newsletter__blurb">Authors rauptaspis magnatur sitatem si blaborro qui ommo dio ther ssum reriasit. </p>
                                        <p class="c-signups-newsletter__days">every saturday</p>
                                        <div class="c-signups-newsletter__form">
                                            <input type="email"	class="c-signups-newsletter__textbox" name="email" id="readingroom-email" value="" placeholder="Enter your email">
                                            <button type="submit" id="readingroom-submit" class="c-signups-newsletter__submit j-mcsubscribe" name="email-submit" data-input="readingroom-email" data-group[3][8]="8">
                                                <img class="" src="{{networkData.templatePath}}/static/icons/email-submit.svg">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="j-keyword-cont" data-keywords="{{blogData.keywords}}" data-pageName="podcasts" data-pageType="section" data-pageTags=""></div>
</main>


 
