{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set blogData      = _Blog.getBlog() %}
{% set blogName      = blogData.title %}


{{this.registerJs("Acme.cards = CardController();")}}
{% set limit = 13 %}

{% set recentPanelBlogName = "Newsroom" %}
{% set recentParams = {'limit': 4} %}

{% if blogName | lower == 'sportsroom' or blogName | lower == 'lockerroom'%}                                                                
    {% set recentPanelBlogName = blogName %}
    {% set recentParams = recentParams | merge({
        'blogId': blogData['id'],
    }) %}
{% else %}

    {% set recentParams = recentParams | merge({
        'scope': 'network',
    }) %}

{% endif %}



{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}
{% set firstCount = articles | length %}

                                                     {# renders the card    fetch-limit      fetch-offset    infinite scroll #}
                                                     {#            ↑             ↑                 ↑            ↑            #}
{{this.registerJs("Acme.loadMore = new Acme.View.articleFeed(Acme.cards, " ~ limit ~ ", " ~ firstCount ~ ", false);")}}

{% set recentArticles = _Article.getRecentArticles(recentParams) %}

<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}

    
    <main id="main" class="site-main roompage {{this.title | lower}} u-margin-top-40" role="main">
        <section class="featured-slider container-fluid">

                <div class="swiper-container">
                    <div class="swiper-wrapper">

                        {% if articles[0] %}                                                                
                            {{this.render('partials/_single-article.twig', {
                                article: articles[0], 
                                position: 1, 
                                containerClass: 'featured',
                                imageSize: {width:1168, height:587}
                            }) | raw}}
                            {% set articleCount = articleCount + 1 %}
                        {% endif %}
                    </div>

                </div>
        </section>
    
        {% if articles[articleCount] %}                                                                
        <section class="top-stories">
            <div class="container">
                <div class="row">

                    {% for i in 0..1 %}
                        {% if articles[i] %}                                                                
                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                position: (articleCount+1), 
                                containerClass: 'col-sm-6 card-top-story card-top-story-tablet card-top-story-mobile room',
                                imageSize: {width:203, height:130}
                            }) | raw}}
                            {% set articleCount = articleCount + 1 %}
                        {% endif %}
                    {% endfor %}

                </div>
            </div>
        </section>
        {% endif %}



        <section class="home-page-content">
            <div class="container">
                <div class="row">

                    <div class="col-sm-12 col-md-8">
                        <div class="card-group">
                            {% if articles[articleCount] %}                                                                

                                {% for i in 0..4 %}
                                    {% if articles[articleCount] %}                                                                
                                        {{this.render('partials/_single-article.twig', {
                                            article: articles[articleCount], 
                                            position: (articleCount+1), 
                                            containerClass: 'card-rec card-rec-tablet',
                                            imageSize: {width:330, height:236}
                                        }) | raw}}
                                        {% set articleCount = articleCount + 1 %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                         </div>
                    </div>

                    <div class="col-sm-12 col-md-4 sidebar">
                        
                        <div class="row">
                        
                            <section class="col-sm-6 col-md-12 add sidebar-add">
                                <div id="newAdHalf"></div>
                                <script>loadTwoAds('');</script>
                                <span class="add-text">Advertisement</span>
                            </section>


                        <section class="col-sm-12 sidebar-news recent-articles">
                            <h3 class="recent-articles__header">
                                <span class="recent-articles__header-bold">Latest</span> on {{recentPanelBlogName}} 
                            </h3>

                            {% if recentArticles|length > 0 %}

                                {% for i in 0..5 %}
                                    {% if recentArticles[i] %}
                                        {{
                                            this.render('partials/_single-article_recent.twig', {
                                                article: recentArticles[i], 
                                                containerClass: '', 
                                                swap: 'false', 
                                                isArticle: 'true'}) | raw
                                        }}
                                    {% endif %}
                                {% endfor %}

                            {% endif %}

                        </section>
                            
                            


                            {% if 'livingroom' == blogName | lower %}
                                <section class="col-sm-12">
                                    {{this.render('partials/_livingroom-ad.twig', {containerClass: 'card-sm card-sm-tablet advert', networkData: networkData }) | raw}}
                                </section>
                            {% else %}

                                {% if articles[articleCount] %}                                                               
                                    <section class="col-sm-12 sidebar-inverted"> 
                                            {{this.render('partials/_single-article.twig', {
                                                article: articles[articleCount], 
                                                position: (articleCount+1), 
                                                containerClass: 'card-sm card-sm-tablet inverted',
                                                imageSize: {width:335, height:260}
                                            }) | raw}}
                                            {% set articleCount = articleCount + 1 %}
                                    </section>
                                {% endif %}

                            {% endif %}

                        </div> 
                    </div>

                </div>


                {% if articles[articleCount] %}                                                                
                <div class="row bottom-row">
                    {% for i in 0..3 %}
                        {% if articles[articleCount] %}                                                                
                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                position: (articleCount+1), 
                                containerClass: 'col-sm-6 col-md-3 card-sm card-sm-tablet',
                                imageSize: {width:255, height:208}
                            }) | raw}}
                            {% set articleCount = articleCount + 1 %}
                        {% endif %}
                    {% endfor %}
                </div>
                {% endif %}



            {% if articles|length >= limit %}
                {{ this.render('partials/ajaxarticles_new.twig', {
                    name            : "section-load",
                    limit           : limit,
                    offset          : limit,
                    label           : "Load more",
                    imgwidth        : "262",
                    imgheight       : "208",
                    container       : "mainAjaxArticles",
                    non_pinned      : articlesArr.existingNonPinnedCount, 
                    card_class      : "col-sm-3 card-sm",
                    buttonClass     : "loadMoreArticles"
                }) | raw }}
            {% endif %}

            </div>
        </section>
    </main>