{{ set(this, 'title', 'Search - ' ~ search) }}


{% set limit = 21 %}
{% set articles = _Search.searchArticles({'limit': limit, 'offset': 0, 'search': search}) %}
{% set networkData = _Network.getNetworkData() %}

{% set firstCount = articles | length %}

<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}


    <main id="main" class="site-main viewing-room" role="main">
    

        <section class="card-group search-page__container">
            <div class="container">
                <div class="row clearfix">
                    <h1 class="search-page__header col-md-12">Search Results</h1>
                    
                    {% for i in 0..20 %}
                        {% if articles[i] %}                                                                
                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                position: (articleCount+1), 
                                containerClass: 'col-md-4 card-search card-search-tablet card-search-mobile', 
                                imageSize: {width:360, height:215}
                            }) | raw}}
                            {% set articleCount = articleCount + 1 %}
                        {% endif %}
                    {% endfor %}

                </div>



                <section class="row" id="loadmore_section" class="loadmore__section {{site}}"></section>
                
                <section class="loadmore__section {{site}}">
                    {# {% if articles|length >= limit %} #}
                        {{ this.render('/partials/load_more.twig', {
                            name            : "section-load",
                            label           : "Load more",
                            buttonClass     : "loadMoreArticles",
                        }) | raw }}
                    {# {% endif %} #}
                </section>


                {# {% if articles|length >= limit %}
                    {{ this.render('partials/ajaxarticles_new.twig', {
                        name            : "section-load",
                        limit           : limit,
                        offset          : limit,
                        label           : "Load more",
                        imgwidth        : "360",
                        loadtype        : "api/search",
                        imgheight       : "215",
                        container       : "mainAjaxArticles",
                        searchTerm      : search,
                        non_pinned      : articlesArr.existingNonPinnedCount, 
                        card_class      : "col-md-4 card-search card-search-tablet card-search-mobile",
                        buttonClass     : "loadMoreArticles"
                    }) | raw }}
                {% endif %} #}

            </div>


        </section>


    </main>

<script>
    document.addEventListener("DOMContentLoaded", function(event) {

        Acme.loadMore = new Acme.ArticleFeed({
            model           : Acme.Card,
            container       : 'loadmore_section',
            offset          : {{limit}},
            limit           : 21,
            label           : "Load more",
            imgwidth        : "360",
            imgheight       : "215",
            loadtype        : "api/search",
            searchterm      : "{{search}}",
            name            : 'section-load',
            blogid          : "{{ blogData['guid'] }}",
            card_class      : 'col-md-4 card-search card-search-tablet card-search-mobile',
            non_pinned      : "{{ articlesArr.existingNonPinnedCount }}"
        });
    });
</script>
