{{ set(this, 'title', 'User Profile') }}

{% set profileImage =_Media.getMediaUrl(userDetails.media, 500, 500, {radius: 'max', crop: 'thumb', gravity: 'face', type:'user'} )%}
{{this.registerJs("$('.loginModal').loginModal({});")}}

<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}




<!-- Begin Container -->
<section class="container min-hight">
    <div class="row" id="userprofile-page">
        <!-- Begin User Profile -->
        <div class="col-sm-12">

            <div class="userprofile-bio">
                <img src="{{profileImage}}" class="profile-image img-responsive">
                
                <div class="inner-descr">
                    <h4 class="user-name">{{Html.encode(userDetails.firstname)}} {{Html.encode(userDetails.lastname)}}</h4>

                    {% if not _User.isGuest() and _User.getId() == userDetails.id %}
                        <a href="{{_AppHelper.getEditProfileUrl()}}" class="button green button-block"><i class="fa fa-cog"></i>Edit Profile</a>
                    {% endif %}


                    <a class="mail-icon" href="mailto:{{userDetails.email}}"></a>


                    <p>{{Html.decode(userDetails.bio) | raw}}</p>
                    
                </div>

            </div>
            <!-- //End User Profile Sidebar -->
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">


            {% for i in 0..12 %}
                {% if myArticles[i] %}                                                                
                    {{this.render('partials/_single-article.twig', {
                        article: myArticles[articleCount], 
                        position: (articleCount+1), 
                        containerClass: 'col-sm-4 card-vr s360x215'
                    }) | raw}}
                    {% set articleCount = articleCount + 1 %}
                {% endif %}
            {% endfor %}

            {# <!-- Begin My Blogs -->
            {{this.render('partials/user-profile/_user_blogs.twig', {userOwnerBlogs : userOwnerBlogs}) | raw }} 
            <!-- //End My Blogs --> #}

            <!-- Begin Recent Articles -->
            {# {{this.render('partials/user-profile/_recent_articles.twig', {myArticles : myArticles}) | raw }} #}
            <!-- //End Recent Articles -->

            {# <!-- Begin Following -->
            {{this.render('partials/user-profile/_user_following.twig', {myBlogs : myBlogs, myFollowings: myFollowings}) | raw }}
            <!-- //End Following --> #}

            {# <!-- Begin Followed By -->
            {{this.render('partials/user-profile/_user_followed_by.twig', {myFollowers : myFollowers}) | raw }}
            <!-- //End Followed By --> #}

        </div>
        <!-- //End User Profile -->
    </div>
</section>
<!-- //End Container -->
