{{ set(this, 'title', 'User Profile') }}
{% set networkData   = _Network.getNetworkData() %}

{% set profileImage =_Media.getMediaUrl(user.media, 500, 500, {radius: 'max', crop: 'thumb', gravity: 'face', type:'user'} )%}
{# {{this.registerJs("UserArticlesController.load()")}} #}
{{this.registerJs("Acme.cards = CardController();")}}

<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}

{% set limit = 20 %}


{% set firstCount = userArticles | length %}
                                                     {# renders the card    fetch-limit      fetch-offset    infinite scroll #}
                                                     {#            ↑           ↑                 ↑            ↑            #}
{{this.registerJs("Acme.loadMore = new Acme.View.articleFeed(Acme.cards, " ~ limit ~ ", " ~ firstCount ~ ", false);")}}


<!-- Begin Container -->
<section class="container min-hight">
    <div class="row" id="userprofile-page">
        <!-- Begin User Profile -->
        <div class="col-sm-12">

            <div class="author-profile">
                <img src="{{profileImage}}" class="author-profile__image img-responsive">
                
                <div class="inner-descr">
                    <h4 class="user-name">{{Html.encode(user.firstname)}} {{Html.encode(user.lastname)}}</h4>

                    <a class="mail-icon" href="mailto:{{user.email}}"></a>


                    <p class="author-profile__text">{{Html.decode(user.bio) | raw}}</p>
                    
                </div>

            </div>
            <!-- //End User Profile Sidebar -->
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
            <div id="userArticleContainer" class="row" data-total-count="{{totalArticles}}" data-offset="0">


                {% for i in 0..19 %}
                    {% if userArticles[i] %}                                                                
                        {{this.render('partials/_single-article.twig', {
                            article: userArticles[articleCount], 
                            position: (articleCount+1), 
                            containerClass: 'col-sm-6 col-md-3 card-vr s360x215 userpost'
                        }) | raw}}
                        {% set articleCount = articleCount + 1 %}
                    {% endif %}
                {% endfor %}

            </div>
            


            {% if totalArticles >= limit %}
                {{ this.render('partials/ajaxarticles_new.twig', {
                    name            : "section-load",
                    limit           : limit,
                    offset          : limit,
                    label           : "Load more",
                    loadtype        : "user_articles",
                    imgwidth        : "220",
                    imgheight       : "208",
                    container       : "mainAjaxArticles",
                    non_pinned      : articlesArr.existingNonPinnedCount, 
                    card_class      : "col-sm-3 card-vr",
                    buttonClass     : "loadMoreArticles",
                }) | raw }}
            {% endif %}




            {# <div id="LoadMoreArticles" class="clearfix" style="clear:both;"></div>
                {% if totalArticles >= limit %}
                    <div id="loader" class="loader" style="display:none;">
                        <span><img width="24" height="24" src="{{networkData.templatePath}}/static/images/loading.svg"></span>
                        <span class="text">please wait<span class="one">.</span><span class="two">.</span><span class="three">.</span></span>
                    </div>
                {% endif %}
            </div> #}
        </div>


        <!-- //End User Profile -->
    </div>
</section>
<!-- //End Container -->
