{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set blogData     = _Blog.getBlog() %}
{% set config       = _Network.getThemeConfig() %}

{% set limit = 19 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}

{% set firstCount = articles | length %}



<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}

    
    <main id="main" class="site-main viewing-room u-margin-top-40" role="main">
        <section class="container-fluid">
                <div class="">
                    {% if articles[0] %} 
                        {{this.render('partials/_single-article.twig', {
                            article: articles[0], 
                            position: 1, 
                            containerClass: 'viewingroom featured', 
                            imageSize: {width:1601, height:587}
                        }) | raw}}
                        {% set articleCount = articleCount + 1 %}
                    {% endif %}

                </div>
        </section>
    

        <section class="card-group">
            <div class="container">
                <div class="row">

                    {% for i in 0..17 %}
                        {% if articles[articleCount] %}                                                                
                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                position: (articleCount+1), 
                                containerClass: 'col-md-6 col-lg-4 card-vr', 
                                imageSize: {width:360, height:215}
                            }) | raw}}
                            {% set articleCount = articleCount + 1 %}
                        {% endif %}
                    {% endfor %}

                </div>


                <section class="row" id="loadmore_section" class="loadmore__section {{site}}"></section>
                
                <section class="loadmore__section {{site}}">
                    {# {% if articles|length >= limit %} #}
                        {{ this.render('/partials/load_more.twig', {
                            name            : "section-load",
                            label           : "Load more",
                            buttonClass     : "loadMoreArticles",
                        }) | raw }}
                    {# {% endif %} #}
                </section>



                    {# {% if articles|length >= limit %}
                        {{ this.render('partials/ajaxarticles_new.twig', {
                            name            : "section-load",
                            limit           : limit,
                            offset          : limit,
                            label           : "Load more",
                            imgwidth        : "360",
                            imgheight       : "215",
                            container       : "mainAjaxArticles",
                            non_pinned      : articlesArr.existingNonPinnedCount, 
                            card_class      : "col-md-6 col-lg-4 card-vr",
                            buttonClass     : "loadMoreArticles"
                        }) | raw }}
                    {% endif %} #}




            </div>
        </section>
        <div id="ad-keywords" class="j-keyword-cont" data-keywords="{{blogData.keywords}}" data-pageName="{{articleBlog}}" data-pageType="section" data-pageTags=""></div>
    </main>



<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        const events = new Acme.Card();

        Acme.loadMore = new Acme.ArticleFeed({
            model           : Acme.Card,
            container       : 'loadmore_section',
            offset          : {{limit}},
            limit           : 19,
            label           : "Load more",
            imgwidth        : "360",
            imgheight       : "215",
            name            : 'section-load',
            blogid          : "{{ blogData['guid'] }}",
            card_class      : 'col-md-6 col-lg-4 card-vr',
            non_pinned      : "{{ articlesArr.existingNonPinnedCount }}"
        });
    });
</script>
