<div id="pp-banner" class="hidden-print u-desktop-margin-bottom-20 u-desktop-padding-bottom-10 hidden-xs"></div>

{% if pageClass | lower == 'subscribe' or pageURL == '/auth/thank-you' %}
    {% set paywallSection = true %}
    {% set layout = 'layout-marketing' %}    
{% endif %}

{% if not _User.isGuest() %}
    {% set user = _User.getUser() %}
{% endif %}



{# {{ this.render('../../partials/newsroom_pro_banner.twig', {networkData : networkData}) | raw }} #}

<header id="masthead" class="site-header container-fluid {# site-header-extra-padding #} hidden-print ">
    <div class="site-header-main">
            
        <div class="site-branding-top">
            
            <div class="section-left">
                
                <ul class="social-links">
                    <li><a href="https://www.facebook.com/newsroomnz"><span class="sr-only">Facebook</span><span class="icon-facebook"></span></a></li>
                    <li><a href="https://twitter.com/NewsroomNZ"><span class="sr-only">Twitter</span><span class="icon-twitter"></span></a></li>
                    <li><a href="https://www.linkedin.com/company/newsroom-new-zealand"><span class="sr-only">Linkedin</span><span class="icon-linkedin"></span></a></li>
                </ul>

                <ul class="secondary-menu">
                    <li><a href="{{networkData.defaultBlogUrl}}">Home</a></li>
                    <li><a href="{{networkData.defaultBlogUrl}}/about">About</a></li>
                    <li><a href="{{networkData.defaultBlogUrl}}/contact">Contact</a></li>
                </ul>
            </div>



            {# **********************************************************
                                    ROOM LINKS
            ********************************************************** #}
            <ul class="rooms-link">

                {% set menuItems = headerMenu %}

                {% for parentItem in menuItems  %}

                    {% set activeClass = (parentItem.link == _AppHelper.getServerUrl()) ? 'active' : ''%}
                    {% set externalClass = (parentItem.isExternal) ? 'external-link' : '' %}

                    {% if (parentItem.blogTitle | lower != roomInfo[0] | lower ) %}
                        <li>
                            <a href="{{parentItem.link |raw}}" class="{{activeClass}} {{externalClass}} {% if (parentItem.blogTitle | lower) == 'newsroom' %} {{parentItem.blogTitle | lower}}{% endif %}" {% if parentItem.target != "" %}target="{{parentItem.target}}"{% endif %}>
                                {{parentItem.blogTitle}}
                                {# <img src="{{networkData.templatePath}}/static/images/{{parentItem.blogTitle | lower}}-logo.svg?v=572" alt="{{parentItem.blogTitle}}"> #}
                            </a>
                        </li>
                    {% endif  %}

                {% endfor %}

            </ul>

        </div><!-- .site-branding-top -->






        <div class="site-branding-bottom">
                


            {# **********************************************************
                                    NEWSROOM LOGO
            ********************************************************** #}
                <div class="logo header-logos">
                    
                {% if paywallSection %}
                    <a class="navbar-brand" href="{{roomInfo[1]}}" rel="Home" tabindex="-1" title="Home" style="float:none">
                        <img src="{{networkData.templatePath}}/static/images/newsroom-pro-logo-dark.svg" alt="logo" class="main-logo pro-logo__icon--desk">
                    </a>
                    <a class="mobile-logo navbar-brand " href="{{networkData.defaultBlogUrl}}/pro" rel="Home" tabindex="-1" title="Home">
                        <img src="{{networkData.templatePath}}/static/images/nr-pro-icon.png" alt="logo" class="mobile-logo pro-logo__icon__mobile">
                    </a>

                {% else %} 
                    <a class="navbar-brand" href="{{roomInfo[1]}}" rel="Home" tabindex="-1" title="Home" style="float:none">
                        {# <img src="{{networkData.templatePath}}/static/images/{{roomInfo[0] | lower}}-logo.svg?v=572" alt="logo" class="main-logo"> #}
                        <img src="{{networkData.templatePath}}/static/images/newsroom-logo.svg?v=572" alt="logo" class="main-logo">
                    </a>
                    
                    {% if roomInfo[0] | lower == 'lockerroom' %}
                        <p class="wisp-logo__text">Supported by</p>
                        <a href="https://womeninsport.org.nz"><img class="wisp-logo" src="{{networkData.templatePath}}/static/images/logos/WISP-logo2.png"></a>
                        <a href="https://www.sky.co.nz/sport"><img class="sky-logo visible-xs-block visible-sm-block" src="{{networkData.templatePath}}/static/images/logos/sky-logo-mono.svg"></a>
                        <a href="https://www.sky.co.nz/sport"><img class="sky-logo visible-md-block visible-lg-block" src="{{networkData.templatePath}}/static/images/logos/sky-hoz-logo-mono.svg"></a>
                    {% elseif roomInfo[0] | lower == 'readingroom' %}
                        <a href="https://www.matatuhifoundation.co.nz"><p class="wisp-logo__text">Supported by</p>
                        <img class="wisp-logo wisp-logo--matatuhi" src="{{networkData.templatePath}}/static/images/logos/matatuhi-colour.jpg"></a>
                    {% endif %}
                    
                    <a class="mobile-logo navbar-brand" href="{{networkData.defaultBlogUrl}}" rel="Home" tabindex="-1" title="Home">
                        <img src="{{networkData.templatePath}}/static/images/newsroom-icon.png" alt="logo" class="mobile-logo">
                        {# <img src="{{networkData.templatePath}}/static/images/nr-logo-summer.svg" alt="logo" class="mobile-logo-summer"> #}
                    </a>
                {% endif %}
            </div>






            <nav class="section-menu">
                <div class="menu-mobile o-hamburger js-menu"  style="height:25px;width:35px;"></div>



                <div id="menu-search" class="secondary-menu menu-search">
                    <form method="get" id="searchformmob" action="{{networkData.defaultBlogUrl}}/search"  class="u-hide">
                        <div><input type="text" class="field" name="s" id="header-search" placeholder="Search" required=""></div>
                        <button class="btn btn-default" type="submit" id="searchsubmit">
                            <span class="icon-search icon"></span>
                        </button>
                    </form>
                </div>



                    {# **********************************************************
                                            SUBMENU
                    ********************************************************** #}
                <ul id="menu-primary-menu" class="submenu">
                    {% for childItem in submenu %}
                        {% set activeClass = (childItem.link == _AppHelper.getServerUrl()) ? 'active' : ''%}
                        <li class="submenu__item">
                            <a class="submenu__link {{activeClass}}" href="{{childItem.link}}">{{ childItem.label }}</a>
                        </li>
                    {% endfor %}

                    <li id="menu-item-search" class="submenu__item menu-item-search">
                        <a href="#" class="submenu__link search-icon"><span class="icon-search icon"></span><span class="sr-only">Expand search</span></a>
            
                        <form method="get" id="searchform" action="{{networkData.defaultBlogUrl}}/search" class="u-hide">
                            <label for="header-search" class="assistive-text sr-only"></label>
                            <input type="text" class="field" name="s" id="header-search" placeholder="" required="">
                            <button class="search-button" type="submit" id="searchsubmit">
                                <span class="screen-reader-text">SEARCH</span>
                            </button>
                        </form>
                    </li>
                </ul>







                {#  _____________________________________________________

                                        MOBILE ROOM LIST
                    _____________________________________________________  #}

                    <div id="menu-secondary-menu" class="secondary-menu u-hide">
                        <ul>
                        {% for parentItem in menuItems  %}
                            {% set activeClass = (parentItem.link == _AppHelper.getServerUrl()) ? 'active' : ''%}
                            {% set externalClass = (parentItem.isExternal) ? 'external-link' : '' %}

                            {% if (parentItem.blogTitle | lower != roomInfo[0] | lower) %}
                                <li>
                                    <a href="{{parentItem.link |raw}}" class="{{activeClass}} {{externalClass}} icon icon-right-angle{% if (parentItem.blogTitle | lower) == 'newsroom' %} {{parentItem.blogTitle | lower}}{% endif %}" {% if parentItem.target != "" %}target="{{parentItem.target}}"{% endif %}>
                                        <img src="{{networkData.templatePath}}/static/images/{{parentItem.blogTitle | lower}}-logo.svg?v=572" alt="">
                                    </a>
                                </li>
                            {% endif  %}

                        {% endfor %}
                        </ul>
                    </div>



                    <ul class="pages u-hide">
                        <li><a href="{{networkData.defaultBlogUrl}}/about">About</a></li>
                        <li><a href="{{networkData.defaultBlogUrl}}/contact">Contact</a></li>
                    </ul>

            </nav>  
        </div>







        <div class="header-signin u-margin-top-30 hidden-xs">
            {% if not _User.isGuest() %}
                <p class="header-signin__name">Hi, {{user.firstname}} </p>
                <div class="auth">
                    <a href="{{networkData.defaultBlogUrl}}/user/edit-profile" class="header-signin__account u-float-right">My Account</a>
                    <a href="{{_AppHelper.getLogoffUrl()}}" class="_btn _btn--red u-float-right">SIGN OUT</a>
                </div>
                {% else %}
                <div class="auth">
                    <button id="signinBtn" type="submit" class="_btn _btn--black u-float-right header-signin__signbtn">SIGN IN TO PRO</button>
                    <a href="{{networkData.defaultBlogUrl}}/pro" type="submit" class="_btn _btn--red u-float-right header-signin__subbtn">SUBSCRIBE TO PRO</a>
                </div>
            {% endif %}
        </div>












        {# **********************************************************
                                LOCKED HEADER
        ********************************************************** #}
        <div id="foldaway-panel" class="site-branding-bottom-foldaway row">
            
            <div class="main-panel">
                <div class="logo">
                    <a class="navbar-brand" href="{{networkData.defaultBlogUrl}}" rel="Home" tabindex="-1" title="Home">
                        <img src="{{networkData.templatePath}}/static/images/nr-logo.svg?v=572" alt="logo" class="mobile-logo">
                    </a>
                </div>

                <div class="auth">
                {% if not _User.isGuest() %}
                    <a href="{{networkData.defaultBlogUrl}}/user/edit-profile" class="header-signin__account">My Account</a>
                    <a href="{{_AppHelper.getLogoffUrl()}}" class="_btn _btn--red">SIGN OUT</a>
                {% else %}
                    <button id="signinBtn" type="submit" class="_btn _btn--black header-signin__signbtn">SIGN IN TO PRO</button>
                    <a href="{{networkData.defaultBlogUrl}}/pro" type="submit" class="_btn _btn--red  header-signin__subbtn">SUBSCRIBE TO PRO</a>
                {% endif %}
                </div>

                <nav class="section-menu-foldaway">
                    {# <a id="menu-foldaway" href="#" class="menu-mobile"></a> #}
                    <div id="menu-foldaway"  class="o-hamburger js-menu" style="height:25px;width:35px;"></div>

                </nav>
            </div>






















    {#  **********************************************************
                            FOLDAWAY MENU
        **********************************************************  #}


            <div id="menu-top-foldaway" class="site-branding-top foldaway u-hide">

                <div class="section-left">
                    
                    <ul class="social-links">
                        <li><a href="https://www.facebook.com/newsroomnz"><span class="sr-only">Facebook</span><span class="icon-facebook"></span></a></li>
                        <li><a href="https://twitter.com/NewsroomNZ"><span class="sr-only">Twitter</span><span class="icon-twitter"></span></a></li>
                        <li><a href="https://www.linkedin.com/company/newsroom-new-zealand"><span class="sr-only">Linkedin</span><span class="icon-linkedin"></span></a></li>
                    </ul>

                    <ul class="secondary-menu">
                        <li><a href="{{networkData.defaultBlogUrl}}">Home</a></li>
                        <li><a href="{{networkData.defaultBlogUrl}}/about">About</a></li>
                        <li><a href="{{networkData.defaultBlogUrl}}/contact">Contact</a></li>
                    </ul>
                </div>


                <ul class="rooms-link">

                    {% set menuItems = headerMenu %}
                    {% for parentItem in menuItems  %}
                        {% set activeClass = (parentItem.link == _AppHelper.getServerUrl()) ? 'active' : ''%}
                        {% set externalClass = (parentItem.isExternal) ? 'external-link' : '' %}
                        {% if (parentItem.blogTitle != pageClass) %}
                            <li>
                                <a href="{{parentItem.link |raw}}" class="{{activeClass}} {{externalClass}}{% if (parentItem.blogTitle | lower) == 'newsroom' %} {{parentItem.blogTitle | lower}}{% endif %}" {% if parentItem.target != "" %}target="{{parentItem.target}}"{% endif %}>
                                    {{parentItem.blogTitle}}
                                    {# <img src="{{networkData.templatePath}}/static/images/{{parentItem.blogTitle | lower}}-logo.svg?v=572" alt=""> #}
                                </a>
                            </li>
                        {% endif  %}

                    {% endfor %}

                </ul>

                <a href="#" class="btn btn-primary pull-right press-patron">Press Patron Donations</a>

            </div>







            <div id="menu-bottom-foldaway" class="site-branding-bottom foldaway u-hide">

                <nav class="section-menu">

                    <ul class="submenu">

                        {% for i, childItem in submenu %}
                            <li class="submenu__item">
                                <a class="submenu__link" href="{{ childItem.link }}">{{ childItem.label }}</a>
                            </li>
                        {% endfor %}

                        <li id="menu-item-search" class="submenu__item menu-item-search-foldaway">
                            <a href="#" class="submenu__link search-icon"><span class="icon-search icon"></span><span class="sr-only">Expand search</span></a>

                            <form method="get" id="searchform" action="{{networkData.defaultBlogUrl}}/search" class="u-hide">
                                <label for="header-search-foldaway" class="assistive-text sr-only"></label>
                                <input type="text" class="field" name="s" id="header-search-foldaway" placeholder="" required="">
                                <button class="search-button" type="submit" id="searchsubmit">
                                    <span class="screen-reader-text">SEARCH</span>
                                </button>
                            </form>
                        
                        </li>
                    </ul>
                </nav>  
            </div><!-- .site-branding-bottom -->

        </div> <!-- #foldaway-panel -->





















    </div><!-- .site-header-main -->

    <div class="row visible-xs-block header-signin__row" style="margin-bottom:-25px;">
        <div class="header-signin u-margin-top-15 u-margin-bottom-15">
            <a href="https://dashboard.presspatron.com/donations/new?frame=1&t=AbkE2e7ZwQgwLPFzVowC2cKm" class="header-signin__pp" {% if layout == 'layout-marketing' or layout == 'layout-subscribe' %}style="width:80.5%;"{% endif %}>
                <p><b  style="font-weight:700;">Become a supporter</b><br />via PressPatron</p>
            </a>
            {% if not _User.isGuest() %}
                {% set user = _User.getUser() %}

                <a href="{{_AppHelper.getLogoffUrl()}}" class="_btn _btn--red _btn--signout u-float-right header-signin__signbtn">SIGN OUT</a>
                <a href="{{networkData.defaultBlogUrl}}/user/edit-profile" class="header-signin__account _btn _btn--black u-float-right"><p>Hi, {{user.firstname}}</p></a>
            {% else %}
                <button id="signinBtn" type="submit" class="_btn _btn--red u-float-right header-signin__signbtn">SIGN IN</button>
                <a href="{{networkData.defaultBlogUrl}}/pro" type="submit" class="_btn _btn--black u-float-right header-signin__subbtn{% if layout == 'layout-marketing' or layout == 'layout-subscribe' %} hidden-xs{% endif %}">SUBSCRIBE TO PRO</a>
            {% endif %}
        </div>
    </div>
</header>