<div id="pp-banner" class="hidden-print u-desktop-margin-bottom-20 u-desktop-padding-bottom-10 d-none d-md-block"></div>

{% if pageClass | lower == 'subscribe' or pageURL == '/auth/thank-you' %}
    {% set paywallSection = true %}
    {% set layout = 'layout-marketing' %}    
{% endif %}


{% set loggedin = false %}

{% if not _User.isGuest() %}
    {% set loggedin = true %}
    {% set user = _User.getUser() %}
{% endif %}



{# Used for search on desktop and locked header.  Mobile/tablet menu uses different form #}
{% macro search(formId, fieldId, url) %}
    <form method="get" id="{{formId}}" action="{{url}}/search" class="site-header-search">
        <label for="header-search" class="assistive-text sr-only"></label>
        <input type="text" class="site-header-search__input" name="s" id="{{fieldId}}" placeholder="" required="">
        <button class="site-header-search__button" type="submit">
            <span class="screen-reader-text">SEARCH</span>
        </button>
    </form>
{% endmacro %}



<header id="masthead" class="site-header hidden-print ">
    
    
            
    
    
    <div class="site-header__top">
        
        <div class="section-left">
            
            <ul class="social-links">
                <li><a href="https://www.facebook.com/newsroomnz"><span class="sr-only">Facebook</span><span class="icon-facebook"></span></a></li>
                <li><a href="https://twitter.com/NewsroomNZ"><span class="sr-only">Twitter</span><span class="icon-twitter"></span></a></li>
                <li><a href="https://www.linkedin.com/company/newsroom-new-zealand"><span class="sr-only">Linkedin</span><span class="icon-linkedin"></span></a></li>
            </ul>

            <ul class="secondary-menu">
                <li><a href="{{networkData.defaultBlogUrl}}">Home</a></li>
                <li><a href="{{networkData.defaultBlogUrl}}/about">About</a></li>
                <li><a href="{{networkData.defaultBlogUrl}}/contact">Contact</a></li>
            </ul>
        </div>



        {# **********************************************************
                                ROOM LINKS
        ********************************************************** #}
        <ul class="rooms-link">

            {% set menuItems = headerMenu %}

            {% for parentItem in menuItems  %}

                {% set activeClass = (parentItem.link == _AppHelper.getServerUrl()) ? 'active' : ''%}
                {% set externalClass = (parentItem.isExternal) ? 'external-link' : '' %}

                {% if (parentItem.blogTitle | lower != roomInfo[0] | lower ) %}
                    <li>
                        <a href="{{parentItem.link |raw}}" class="{{activeClass}} {{externalClass}} {% if (parentItem.blogTitle | lower) == 'newsroom' %} {{parentItem.blogTitle | lower}}{% endif %}" {% if parentItem.target != "" %}target="{{parentItem.target}}"{% endif %}>
                            <img src="{{networkData.templatePath}}/static/images/{{parentItem.blogTitle | lower}}-logo.svg?v=572" alt="{{parentItem.blogTitle}}">
                            {# <img src="{{networkData.templatePath}}/static/images/engineroom-logo.svg?v=572" alt="{{parentItem.blogTitle}}"> #}
                        </a>
                    </li>
                {% endif  %}

            {% endfor %}
                    
        </ul>

    </div>






    <div class="site-header__bottom">
            


        {# **********************************************************
                                NEWSROOM LOGO
        ********************************************************** #}
            <div class="site-header-logos">
                
            {% if paywallSection %}
                <a class="navbar-brand" href="{{roomInfo[1]}}" rel="Home" tabindex="-1" title="Home" style="float:none">
                    <img src="{{networkData.templatePath}}/static/images/newsroom-pro-logo-dark.svg" alt="logo" class="main-logo pro-logo__icon--desk">
                </a>
                <a class="mobile-logo navbar-brand " href="{{networkData.defaultBlogUrl}}/pro" rel="Home" tabindex="-1" title="Home">
                    <img src="{{networkData.templatePath}}/static/images/nr-pro-icon.png" alt="logo" class="mobile-logo pro-logo__icon__mobile">
                </a>

            {% else %} 
                <a class="navbar-brand" href="{{roomInfo[1]}}" rel="Home" tabindex="-1" title="Home" style="float:none">
                    <img src="{{networkData.templatePath}}/static/images/{{roomInfo[0] | lower}}-logo.svg?v=572" alt="logo" class="main-logo">
                    {# <img src="{{networkData.templatePath}}/static/images/newsroom-logo.svg?v=572" alt="logo" class="main-logo"> #}
                </a>

                <a class="mobile-logo navbar-brand" href="{{networkData.defaultBlogUrl}}" rel="Home" tabindex="-1" title="Home">
                    <img src="{{networkData.templatePath}}/static/images/newsroom-icon.png" alt="logo" class="mobile-logo">
                    {# <img src="{{networkData.templatePath}}/static/images/nr-logo-summer.svg" alt="logo" class="mobile-logo-summer"> #}
                </a>

                {% if roomInfo[0] | lower == 'lockerroom' %}
                    <div class="site-header__sponsor-logos">
                        <p class="wisp-logo__text">Supported by</p>
                        <a href="https://www.sky.co.nz/sport">
                            <img class="sky-logo visible-xs-block visible-sm-block d-md-none" src="{{networkData.templatePath}}/static/images/logos/sky-logo-mono.svg">
                        </a>
                        <a href="https://www.sky.co.nz/sport">
                            <img class="sky-logo visible-md-block visible-lg-block d-none d-md-block" src="{{networkData.templatePath}}/static/images/logos/sky-hoz-logo-mono.svg">
                        </a>
                        <a href="https://womeninsport.org.nz">
                            <img class="wisp-logo" src="{{networkData.templatePath}}/static/images/logos/WISP-logo2.png">
                        </a>
                    </div>
                {% elseif roomInfo[0] | lower == 'readingroom' %}
                    <div class="site-header__sponsor-logos">
                        <p class="wisp-logo__text">Supported by</p>
                        <a href="https://www.matatuhifoundation.co.nz">
                            <img class="wisp-logo wisp-logo--matatuhi" src="{{networkData.templatePath}}/static/images/logos/matatuhi-colour.jpg">
                        </a>
                    </div>
                {% endif %}
                
            {% endif %}
        </div>






        <nav id="desktop-nav-menu" class="section-menu">
            <div class="menu-mobile o-hamburger js-menu"  style="height:25px;width:35px;"></div>

                {# **********************************************************
                                        SUBMENU
                ********************************************************** #}
            <ul id="menu-primary-menu" class="submenu">
                {% for childItem in submenu %}
                    {% set activeClass = (childItem.link == _AppHelper.getServerUrl()) ? 'active' : ''%}
                    <li class="submenu__item">
                        <a class="submenu__link {{activeClass}}" href="{{childItem.link}}">{{ childItem.label }}</a>
                    </li>
                {% endfor %}

            </ul>

            <div id="desktop-search" class="submenu__link submenu__link--search">
                <span class="icon-search" style="width:15px;height:15px;"></span>
                <span class="sr-only">Expand search</span>
            </div>
            
            {{ _self.search('desktop-searchform', 'desktop-header-search', networkData.defaultBlogUrl) }}

        </nav>



    </div>










    {# **********************************************************
                            SIGN-IN
    ********************************************************** #}
    <div class="site-header-signin u-margin-top-30 d-none d-md-flex">
        {% if loggedin %}
            <p class="site-header-signin__name">Hi, {{user.firstname}} </p>
            <div class="auth">
                <a href="{{networkData.defaultBlogUrl}}/user/edit-profile" class="site-header-signin__account">My Account</a>
                <a href="{{_AppHelper.getLogoffUrl()}}" class="_btn _btn--red">SIGN OUT</a>
            </div>
            {% else %}
            <div class="auth">
                <button id="signinBtn" type="submit" class="_btn _btn--black site-header-signin__signbtn">SIGN IN TO PRO</button>
                <a href="{{networkData.defaultBlogUrl}}/pro" type="submit" class="_btn _btn--red site-header-signin__subbtn">SUBSCRIBE TO PRO</a>
            </div>
        {% endif %}
    </div>





    {# **********************************************************
                            LOCKED HEADER
    ********************************************************** #}
    <div id="foldaway-panel" class="site-header__bottom-foldaway">
        
        <div class="main-panel">
            <div class="logo">
                <a class="navbar-brand" href="{{networkData.defaultBlogUrl}}" rel="Home" tabindex="-1" title="Home">
                    <img src="{{networkData.templatePath}}/static/images/nr-logo.svg?v=572" alt="logo" class="mobile-logo">
                </a>
            </div>

            <div class="auth u-margin-right-50">
            {% if loggedin %}
                <a href="{{networkData.defaultBlogUrl}}/user/edit-profile" class="site-header-signin__account">My Account</a>
                <a href="{{_AppHelper.getLogoffUrl()}}" class="_btn _btn--red">SIGN OUT</a>
            {% else %}
                <button id="signinBtn" type="submit" class="_btn _btn--black site-header-signin__signbtn">SIGN IN TO PRO</button>
                <a href="{{networkData.defaultBlogUrl}}/pro" type="submit" class="_btn _btn--red  site-header-signin__subbtn">SUBSCRIBE TO PRO</a>
            {% endif %}
            </div>

            <div id="menu-foldaway"  class="o-hamburger js-menu" style="height:25px;width:35px;"></div>

        </div>



        {#  **********************************************************
                                FOLDAWAY MENU
            **********************************************************  #}


        <div id="menu-top-foldaway" class="site-header__top foldaway u-hide">

            <div class="section-left">
                
                <ul class="social-links">
                    <li><a href="https://www.facebook.com/newsroomnz"><span class="sr-only">Facebook</span><span class="icon-facebook"></span></a></li>
                    <li><a href="https://twitter.com/NewsroomNZ"><span class="sr-only">Twitter</span><span class="icon-twitter"></span></a></li>
                    <li><a href="https://www.linkedin.com/company/newsroom-new-zealand"><span class="sr-only">Linkedin</span><span class="icon-linkedin"></span></a></li>
                </ul>

                <ul class="secondary-menu">
                    <li><a href="{{networkData.defaultBlogUrl}}">Home</a></li>
                    <li><a href="{{networkData.defaultBlogUrl}}/about">About</a></li>
                    <li><a href="{{networkData.defaultBlogUrl}}/contact">Contact</a></li>
                </ul>
            </div>


            <ul class="rooms-link">

                {% set menuItems = headerMenu %}
                {% for parentItem in menuItems  %}
                    {% set activeClass = (parentItem.link == _AppHelper.getServerUrl()) ? 'active' : ''%}
                    {% set externalClass = (parentItem.isExternal) ? 'external-link' : '' %}
                    {% if (parentItem.blogTitle != pageClass) %}
                        <li>
                            <a href="{{parentItem.link |raw}}" class="{{activeClass}} {{externalClass}}{% if (parentItem.blogTitle | lower) == 'newsroom' %} {{parentItem.blogTitle | lower}}{% endif %}" {% if parentItem.target != "" %}target="{{parentItem.target}}"{% endif %}>
                                <img src="{{networkData.templatePath}}/static/images/{{parentItem.blogTitle | lower}}-logo.svg?v=572" alt="">
                                {# <img src="{{networkData.templatePath}}/static/images/engineroom-logo.svg?v=572" alt=""> #}
                            </a>
                        </li>
                    {% endif  %}

                {% endfor %}

            </ul>

        </div>


        <div id="menu-bottom-foldaway" class="site-header__bottom foldaway u-hide">

            <nav class="section-menu">

                <ul id="menu-locked" class="submenu">

                    {% for i, childItem in submenu %}
                        <li class="submenu__item">
                            <a class="submenu__link" href="{{ childItem.link }}">{{ childItem.label }}</a>
                        </li>
                    {% endfor %}

                    <li id="menu-item-search" class="submenu__item menu-item-search-foldaway">


                    </li>
                </ul>

                <div id="locked-header-search-button" class="submenu__link submenu__link--search">
                    <span class="icon-search" style="width:15px;height:15px;"></span>
                    <span class="sr-only">Expand search</span>
                </div>
                {{ _self.search('locked-searchform', 'locked-header-search') }}

            </nav>  
        </div>

    </div> 







    <div class="site-header-signin d-block d-md-none">
        
        <a href="https://dashboard.presspatron.com/donations/new?frame=1&t=AbkE2e7ZwQgwLPFzVowC2cKm" class="site-header-signin__pp" {% if layout == 'layout-marketing' or layout == 'layout-subscribe' %}style="width:80.5%;"{% endif %}>
            <p><b style="font-weight:700;">Become a supporter</b><br />via PressPatron</p>
        </a>
        
        {% if loggedin %}
            <a href="{{_AppHelper.getLogoffUrl()}}" class="_btn _btn--red _btn--signout u-float-right site-header-signin__signbtn">SIGN OUT</a>
            <a href="{{networkData.defaultBlogUrl}}/user/edit-profile" class="site-header-signin__account _btn _btn--black u-float-right"><p>Hi, {{user.firstname}}</p></a>
        {% else %}
            <button id="signinBtn" type="submit" class="_btn _btn--red u-float-right site-header-signin__signbtn">SIGN IN</button>
            <a href="{{networkData.defaultBlogUrl}}/pro" type="submit" class="_btn _btn--black u-float-right site-header-signin__subbtn{% if layout == 'layout-marketing' or layout == 'layout-subscribe' %} d-none d-md-block {% endif %}">SUBSCRIBE TO PRO</a>
        {% endif %}
    
    </div>


</header>









{# **********************************************************
                    MOBILE/TABLE MENU
********************************************************** #}

<div id="mobile-menu" class="mobile-menu">
    
    <div class="mobile-menu__close-container">
        <div id="mobile-search-close" class="o-close" style="width:20px;height:20px;"></div>
    </div>

    {# SEARCH #}
    <form method="get" action="{{networkData.defaultBlogUrl}}/search"  class="mobile-menu__search">
        <label for="header-search" class="assistive-text sr-only"></label>
        <input type="text" class="mobile-menu__search-input" name="s" id="header-search" placeholder="Search" required="">
        <button class="mobile-menu__search-button btn btn-default" type="submit">
            <span class="icon-search icon"></span>
        </button>
    </form>


    {# SECTIONS #}
    <ul class="mobile-menu__submenu">
        {% for childItem in submenu %}
            {% set activeClass = (childItem.link == _AppHelper.getServerUrl()) ? 'active' : ''%}
            <li class="mobile-menu__submenu-item">
                <a class="mobile-menu__submenu-link {{activeClass}}" href="{{childItem.link}}">{{ childItem.label }}</a>
            </li>
        {% endfor %}
    </ul>



    {# ROOMS #}
    <ul class="mobile-menu__rooms">
    {% for parentItem in menuItems  %}
        {% set activeClass = (parentItem.link == _AppHelper.getServerUrl()) ? 'active' : ''%}
        {% set externalClass = (parentItem.isExternal) ? 'external-link' : '' %}

        {% if (parentItem.blogTitle | lower != roomInfo[0] | lower) %}
            <li class="mobile-menu__rooms-item">
                <a href="{{parentItem.link |raw}}" class="mobile-menu__rooms-link {{activeClass}} {{externalClass}} {% if (parentItem.blogTitle | lower) == 'newsroom' %} {{parentItem.blogTitle | lower}}{% endif %}" {% if parentItem.target != "" %}target="{{parentItem.target}}"{% endif %}>
                    <img src="{{networkData.templatePath}}/static/images/{{parentItem.blogTitle | lower}}-logo.svg?v=572" alt="">
                    {# <img class="mobile-menu__rooms-link-logo" src="{{networkData.templatePath}}/static/images/engineroom-logo.svg?v=572" alt=""> #}
                </a>
            </li>
        {% endif  %}

    {% endfor %}
    </ul>


    {# PAGES #}
    <ul class="mobile-menu__pages">
        <li class="mobile-menu__pages-item">
            <a class="mobile-menu__pages-link" href="{{networkData.defaultBlogUrl}}/about">About</a>
        </li>
        <li class="mobile-menu__pages-item">
            <a class="mobile-menu__pages-link" href="{{networkData.defaultBlogUrl}}/contact">Contact</a>
        </li>
    </ul>
</div>

<div class="mobile-menu__overlay"></div>
