<!--footer-->
<footer class="site-footer d-print-none">
    {{this.render('/partials/cta-footer.twig', {
        networkData: networkData,
        config: config,
        extraClass: 'd-none d-lg-block'
    }) | raw}}
    <div class="footer-top">
        <div class="container">        
            <div class="row">
                <div class="col-12 logo-wrapper">
                    <img src="https://d3pbdxdl8c65wb.cloudfront.net/themes/ROchisDFz6yCY5/static/images/nr-logo-reverse.svg" class="symbol" alt="Newsroom logo">
                </div>

                    
                <div class="col-md-5 col-lg-3 icon-wrapper">
                    <a class="footer-brand" href="{{networkData.defaultBlogUrl}}" rel="Home" tabindex="-1" title="Home">
                        <img class="footer-logo__reversed" src="{{networkData.templatePath}}/static/images/newsroom-reversed2.png" alt="logo">
                    </a>
                    {# <span><a href="https://pagemasters.com.au">DESIGNED AND POWERED BY PAGEMASTERS</a></span> #}
                </div><!-- .col-sm-3-->
                
            </div><!--row-->

            <div class="row">
                <div class="col-md-12">
                    <div class="social-links">
                        <ul>

                            <li><a href="https://www.facebook.com/newsroomnz"><span class="sr-only">Facebook</span><span class="icon-facebook"></span></a></li>
                            <li><a href="https://twitter.com/NewsroomNZ"><span class="sr-only">Twitter</span><span class="icon-twitter"></span></a></li>
                            <li><a href="https://www.linkedin.com/company/newsroom-new-zealand"><span class="sr-only">Linkedin</span><span class="icon-linkedin"></span></a></li>
                        </ul>
                    </div><!-- .social-links-->
                </div><!-- .col-sm-12-->
            </div><!-- .row-->

            
        </div><!-- .container-->
    </div><!-- .footer-top-->

    <div class="footer-btm">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="{{networkData.defaultBlogUrl}}/contact">Contact Us</a></li>
                            <li><a href="{{networkData.defaultBlogUrl}}/terms-and-conditions">Terms and Conditions</a></li>
                            <li><a href="{{networkData.defaultBlogUrl}}/privacy-policy">Privacy Policy</a></li>
                            <li><a href="{{networkData.defaultBlogUrl}}/faq">Pro FAQ</a></li>
                            <li><a href="{{networkData.defaultBlogUrl}}/media-council-new-zealand">New Zealand Media Council</a></li>
                            <li><a href="{{networkData.defaultBlogUrl}}/commenting-faq">Commenting FAQ</a></li>
                            <li><a href="{{networkData.defaultBlogUrl}}/newsroom-pro-community-rules">Pro Community Rules</a></li>
                            
                        </ul>
                        <span><a href="https://pagemasters.com.au">DESIGNED AND POWERED BY PAGEMASTERS</a></span>
                    </div><!-- .footer-menu -->
                    <div class="rooms-link">
                        <ul>
                            {% set menuItems = headerMenu %}
                            {% for i, parentItem in menuItems %}
                                {% set activeClass = (parentItem.link == _AppHelper.getServerUrl()) ? 'active' : ''%}
                                {% set externalClass = (parentItem.isExternal) ? 'external-link' : '' %}
                                
                                {% if (parentItem.blogTitle != "" and parentItem.blogTitle | lower != roomInfo[0] | lower ) %}
                                    <li>
                                        <a href="{{parentItem.link |raw}}" class="{{activeClass}} {{externalClass}}" {% if parentItem.target != "" %}target="{{parentItem.target}}"{% endif %} aria-label="{{parentItem.blogTitle}} link">
                                            <img src="{{networkData.templatePath}}/static/images/{{parentItem.blogTitle | lower}}-logo.svg?v=04" alt="{{parentItem.blogTitle}}">
                                        </a>
                                    </li>
                                {% endif %}

                            {% endfor %}

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .footer-btm-->

<script>
if (document.getElementById('tagdiv')) {
    addClassTagListeners('tag-register-button','signup','click');
    addTagListeners('getprobutton','getpro','click');
    addTagListeners('learnmorebutton','learnmore','click');
}
</script>
    
</footer>
