<!--footer-->
<footer class="site-footer">
    <div class="footer-top">
        <div class="container">        
            <div class="row">
                <div class="col-sm-3 icon-wrapper">
                    <a class="footer-brand" href="{{networkData.defaultBlogUrl}}" rel="Home" tabindex="-1" title="Home">
                        <img src="{{networkData.templatePath}}/static/images/newsroom-reversed.png" alt="logo">
                    </a>
                    <span><a href="http://publish.aap.com.au">POWERED BY AAP PUBLISH</a></span>
                </div><!-- .col-sm-3-->
                <div class="col-sm-6 pull-right text-right logo-wrapper">
                    <img src="{{networkData.templatePath}}/static/images/nr-logo-reverse.svg" class="symbol">
                    <a target="_blank" href="https://www.hivenews.co.nz/users/new" class="footer_btn-lg btn">Subscribe to Newsroom Pro</a>
                </div><!-- .col-sm-6-->
            </div><!--row-->

            <div class="row">
                <div class="col-sm-12">
                    <div class="social-links">
                        <ul>
                            <li><a href="#"><span class="sr-only">Facebook</span><span class="icon-facebook"></span></a></li>
                            <li><a href="#"><span class="sr-only">Twitter</span><span class="icon-twitter"></span></a></li>
                        </ul>
                    </div><!-- .social-links-->
                </div><!-- .col-sm-12-->
            </div><!-- .row-->

            <div class="row">
                <div class="col-sm-12">
                    <div class="footer-menu">
                        <ul>
                            {% for i, childItem in submenu %}
                                {% set activeClass = (childItem.link == _AppHelper.getServerUrl()) ? 'active' : ''%}
                                <li class="menu-item">
                                    <a class="{{activeClass}}" href="{{childItem.link}}">{{ childItem.label }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        <span><a href="http://publish.aap.com.au">POWERED BY AAP PUBLISH</a></span>
                    </div><!-- .footer-menu -->
                </div><!-- .col-sm-12-->
            </div><!-- .row-->
        </div><!-- .container-->
    </div><!-- .footer-top-->

    <div class="footer-btm">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="http://{{networkData.defaultDomain.domain}}/@contact">Contact Us</a></li>
                            <li><a href="#">Copyright</a></li>
                            <li><a href="#">Disclaimer</a></li>
                            <li><a href="#">Privacy</a></li>
                        </ul>
                    </div><!-- .footer-menu -->
                </div><!-- .col-sm-6-->

                <div class="col-sm-7">
                    <div class="rooms-link">
                        <ul>
                            {% set menuItems = blog.blogHeaderMenu %}
                            {% for i, parentItem in menuItems | slice(0, 5) %}
                                {% set activeClass = (parentItem.link == _AppHelper.getServerUrl()) ? 'active' : ''%}
                                {% set externalClass = (parentItem.isExternal) ? 'external-link' : '' %}
                                {% if (parentItem.blogTitle != pageClass and parentItem.blogTitle | lower != header_exclude) %}

                                    <li>
                                        <a href="{{parentItem.link |raw}}" class="{{activeClass}} {{externalClass}}" {% if parentItem.target != "" %}target="{{parentItem.target}}"{% endif %}>
                                            <img src="{{networkData.templatePath}}/static/images/{{parentItem.blogTitle | lower}}-logo.svg?cache=1" alt="{{parentItem.blogTitle}}-logo.svg">
                                        </a>
                                    </li>
                                {% endif %}

                            {% endfor %}

                        </ul>
                    </div>
                </div><!-- .col-sm-6-->
            </div><!-- .row-->
        </div><!-- .container-->
    </div><!-- .footer-btm-->

    
</footer>
