<!--footer-->
<footer class="site-footer">
    <div class="footer-top">
        <div class="container">        
            <div class="row">
                <div class="col-sm-3 icon-wrapper">
                    <a class="footer-brand" href="#" rel="Home" tabindex="-1" title="Home">
                        <img src="{{networkData.templatePath}}/static/images/newsroom-reversed.png" alt="logo">
                    </a>
                </div><!-- .col-sm-3-->
                <div class="col-sm-6 pull-right text-right logo-wrapper">
                    <img src="{{networkData.templatePath}}/static/images/0newsroom-symbol-reversed.png" class="symbol">
                    <a href="#" class="footer_btn-lg btn">Press Patron Donations</a>
                </div><!-- .col-sm-6-->
            </div><!--row-->

            <div class="row">
                <div class="col-sm-12">
                    <div class="social-links">
                        <ul>
                            <li><a href="#"><span class="sr-only">Facebook</span><span class="icon-facebook"></span></a></li>
                            <li><a href="#"><span class="sr-only">Twitter</span><span class="icon-twitter"></span></a></li>
                            <li><a href="#"><span class="sr-only">Instagram</span><span class="icon-instagram"></span></a></li>
                            <li><a href="#"><span class="sr-only">Vimeo</span><span class="icon-vimeo"></span></a></li>
                        </ul>
                    </div><!-- .social-links-->
                </div><!-- .col-sm-12-->
            </div><!-- .row-->

            <div class="row">
                <div class="col-sm-12">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Politics</a></li>
                            <li><a href="#">Technology</a></li>
                            <li><a href="#">Real Economy</a></li>
                            <li><a href="#">New Auckland</a></li>
                            <li><a href="#">Health & Science</a></li>
                            <li><a href="#">Environment</a></li>
                        </ul>
                    </div><!-- .footer-menu -->
                </div><!-- .col-sm-12-->
            </div><!-- .row-->
        </div><!-- .container-->
    </div><!-- .footer-top-->

    <div class="footer-btm">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Copyright</a></li>
                            <li><a href="#">Disclaimer</a></li>
                            <li><a href="#">Privacy</a></li>
                        </ul>
                    </div><!-- .footer-menu -->
                </div><!-- .col-sm-6-->

                <div class="col-sm-7">
                    <div class="rooms-link">
                        <ul>
                            <li><a href="#"><img src="{{networkData.templatePath}}/static/images/newsroom-viewingroom.jpg" alt="newsroom-viewingroom"></a></li>
                            <li><a href="#"><img src="{{networkData.templatePath}}/static/images/newsroom-livingroom.jpg" alt="newsroom-viewingroom"></a></li>
                            <li><a href="#"><img src="{{networkData.templatePath}}/static/images/newsroom-boardroom.jpg" alt="newsroom-viewingroom"></a></li>
                            <li><a href="#"><img src="{{networkData.templatePath}}/static/images/newsroom-sportsroom.jpg" alt="newsroom-viewingroom"></a></li>
                        </ul>
                    </div>
                </div><!-- .col-sm-6-->
            </div><!-- .row-->
        </div><!-- .container-->
    </div><!-- .footer-btm-->

    
</footer>
