{{ use('yii/web/JqueryAsset') }}
{{ register_jquery_asset() }}


{% set redir = _Page.setHttpRedirects(
    {
        '|^/subscriptions.*|': 'http://service.newsroom.co.nz',
        '|^/categories.*|'   : 'http://service.newsroom.co.nz',
        '|^/newswires.*|'    : 'http://service.newsroom.co.nz',
        '|^/catalog.*|'      : 'http://service.newsroom.co.nz',
        '|^/stories.*|'      : 'http://service.newsroom.co.nz',
        '|^/assets.*|'       : 'http://service.newsroom.co.nz',
        '|^/users.*|'        : 'http://service.newsroom.co.nz',
        '|^/feeds.*|'        : 'http://service.newsroom.co.nz',
    }, true) 
%} 


{% set networkData   = _Network.getNetworkData() %}
{% set blogData      = _Blog.getBlog() %}
{% set pageClass     = _Page.getBodyClass() %}
{% set pageTypeClass = blogData.type %}
{% set blogName      = blogData.title %}
{% set layout        = _Page.getLayoutName() %}
{% set pageURL       = _AppHelper.getCurrentUrl(true) %}
{% set config        = _Network.getThemeConfig() %}
{% set squeeze       = false %}

{% if 'page-donations' in pageClass %}
    {% set squeeze = true %}
{% endif %}


{% set showPaywall = false %}
{% set isAdmin = _User.isAdminUser() %}
{% set paywallSection = blogData['paywallType'] | lower == 'section' ? true : false %}



{# Pages don't have a blogName so class has to be used #}
{% if   not _User.isAdminUser()         and
        blogData['showPaywall'] == true and
        'article' not in pageClass %}
    
        {% set showPaywall = true %}
        {% set layout = "layout-marketing" %}
    
{% endif %}
 





{{ this.beginPage() }}
<!DOCTYPE html>
<html lang="en-AU" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta http-equiv="Accept-CH" content="DPR, Viewport-Width, Width">
    <meta name="google-site-verification" content="K-ToGDFxKuQdd_Ykjo1EJDCtGoS7xmid2Pge0cqUxPw" />

    <link rel="profile" href="http://gmpg.org/xfn/11">
    <title>{{ this.title }}</title>
    {{ Html.csrfMetaTags | raw }}

    {% set favicon = '' %}
    {% if paywallSection %}
        {% set favicon = networkData.templatePath~"/static/icons/pro-favicon.ico" %}
            <link rel="apple-touch-icon" href="{{networkData.templatePath}}/static/icons/pro-favicon.ico" sizes="any" type="image/svg+xml" />
    {% elseif networkData.favMedia | length > 0 %}
        {% set favicon = _Media.getMediaUrl(networkData.favMedia, 80, 80)%}
        <link rel="apple-touch-icon" href="{{networkData.templatePath}}/static/images/apple-logo.png" sizes="any" type="image/svg+xml" />
    {% endif %}

    <link rel="shortcut icon" href="{{favicon}}" />
    <link rel="icon" href="{{favicon}}" sizes="any" type="image/svg+xml" />
    <link href='https://fonts.googleapis.com/css?family=Tinos:400,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer:400i" rel="stylesheet"> 
    
    {% set primaryFont = networkData['styling']['fonts']['primaryFont'] %}
    {% set secFont = networkData['styling']['fonts']['secondaryFont'] %}

    {% if primaryFont != "" %}
        <link href='https://fonts.googleapis.com/css?family={{primaryFont}}' rel='stylesheet' type='text/css'>
    {% endif %}
    {% if secFont != "" %}
        <link href='https://fonts.googleapis.com/css?family={{secFont}}' rel='stylesheet' type='text/css'>
    {% endif %}
    
    <link rel="alternate" type="application/rss+xml" title="{{_Network.getNetworkTitle()}} -  RSS Feeds" href="http://{{networkData.defaultDomain['domain']}}/feed/rss"/>


    {% if _AppHelper.getApplicationEnv() == 'PROD' %} 
        <link rel="stylesheet" href="{{networkData.templatePath}}/static/css/concat.min.css?v=5393f8ff" type="text/css" media="all">

    {% else %}
        <link type="text/css" rel="stylesheet" href="{{networkData.templatePath}}/assets/scripts/plugins/jquery.fancybox/source/jquery.fancybox.css?ver=2" />
        <link type="text/css" rel="stylesheet" href="{{networkData.templatePath}}/assets/scripts/plugins/jquery.noty-2.3.8/demo/animate.css?ver=1" />
        <link type="text/css" rel="stylesheet" href="{{networkData.templatePath}}/assets/scripts/sdk/media-player/mediaelementplayer.css?ver=1" />
        <link rel='stylesheet' href='{{networkData.templatePath}}/static/css/concat.css?ver=17' type='text/css' media='all' />
    {% endif %}


    <script src="https://js.stripe.com/v3/"></script>



<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

    
    {{ this.render('partials/_tags.twig', {
        networkData: networkData,
        blogData: blogData,
        pageClass: pageClass,
        blogName: blogName,
    }) | raw }}

    {{ this.head() }}

</head>





    {# 'figure out the nav sub menu to send through to the header and footer' #}
    {% set submenu = [] %}
    {% set roomInfo = ['newsroom', networkData.defaultBlogUrl] %}

    {% set menuItems = getCache("menuItems") %}
    {% if (menuItems is empty) %}
        {% set menuItems = _Menu.get({'menuType': 'header'}) %}
        {% set cache = setCache("menuItems", menuItems, 500) %} 
    {% endif %}

    {% set rooms = [] %}
    {% for room in menuItems  %}

        {% set rooms = rooms | merge([room.blogTitle | lower]) %}
        {% if (room.blogTitle == blogName) %}
            {% set submenu = room.children %}
            {% set roomInfo = [room.blogTitle, room.link] %}
        {% endif %} 
    {% endfor %}

    {# futurelearning to be treated like a room kinda #}
    {% set rooms = rooms | merge(['futurelearning']) %}

    {% if (submenu | length == 0 and blogName | lower not in rooms) %}
        {% for room in menuItems if submenu | length == 0 %}
            {% for childItem in room.children if submenu | length == 0 %}
                {% if (childItem.menu_blog_id == blogData.id) %}
                    {% set submenu = room.children %}
                    {% set roomInfo = [room.blogTitle, room.link] %}
                {% endif %} 
            {% endfor %}
        {% endfor %}
    {% endif %} 

 {% if (blogName | lower == 'futurelearning') %}
        {% set roomInfo = ['futurelearning', "/future-learning"] %}
 {% endif %}



{# 'Newsroom is the default header logo but want to suppress it in
    top 'room' nav when a sub channel is active' #}
{% set header_exclude = '' %}
{% if (blogName | lower not in rooms) %}
    {% set header_exclude = 'newsroom' %}
{% endif %} 








<body class="{{ pageTypeClass }} {{layout}} {{ blogName | replace({" ": "_"}) | lower }} {{ pageClass }}" 
    data-isAdmin="{{ isAdmin }}" 
    data-paywall="{{blogData['showPaywall']}}"
    data-networkid="{{networkData['id']}}"
>
{{ this.beginBody() }}
    <!-- Google Tag Manager body -->
    {% if networkData.thirdPartyIntegrations['googleTagManager'] | length > 0 %}
        {{networkData.thirdPartyIntegrations['googleTagManager']['noscript'] | raw}}
    {% endif %}
    <!-- Google Tag Manager body - END -->


    {% if paywallSection == false and 'edit-profile' not in pageClass %}
        <hr class="ad__gap d-block d-md-none">
        {% if config['inventory']['adSpace']['banner'][0] is defined %}
            <div class="j-adslot ad ad-header__topbanner" id="{{config['inventory']['adSpace']['banner'][0]}}" data-adshape="banner" data-responsive="1"></div>
        {% endif %}
    <!--add ad-header-top-->

    {% else %}
        <div class="ad ad-header__topbanner u-mobile-margin-top-125"></div>
    {% endif %}


    {% if not squeeze %}
        {{ this.render('partials/_header_navigation.twig', {
            networkData : networkData, 
            menuItems   : menuItems, 
            pageClass   : blogName,
            roomInfo    : roomInfo,
            submenu     : submenu,
            pageURL     : pageURL,
            rooms       : rooms,
            paywallSection : paywallSection,
            layout      : layout
        }) | raw }}
    {% endif %}



    {% if showPaywall %}
        {{ this.render('/layout-marketing.twig', {networkData: networkData}) | raw }}
    {% else %}
        {{ content | raw }}
    {% endif %}




    {{ this.render('partials/footer.twig', {
        networkData : networkData, 
        headerMenu  : menuItems, 
        pageClass   : blogName,
        roomInfo    : roomInfo,
        submenu     : submenu,
        rooms       : rooms,
        paywallSection : paywallSection
    }) | raw }}


    {{ this.render('partials/_javascript.twig', {
        networkData: networkData
    }) | raw }}


    <div class="SwappingHelper" style="display:none">
        <div style="width: 270px; height: 105px; padding: 3px; background-color: #FFF; max-width: 270px; max-height: 105px; overflow: hidden; z-index: 999 !important;">
            <img class="article-image" src="{{networkData.placeHolder100x100}}" style="width:97px; height: 97px; float: left;" />
            <p class="article-text" style="width: 165px; float: left; padding-left: 3px;color: #394659;font-size: 14px; font-family: Droid Serif,serif; line-height: 20px; margin-top:0px;">Dummy text  </p>
        </div>
    </div>


    {% if _User.isGuest() %}
        {{this.registerJs('var ipChecker = new Acme.IPCheck()')}}
    {% endif %}

    
    
    {# {{this.registerJs("
        Acme.videoPopupView = new Acme.videoPopup('modal', 'signin', 
                {'video' : 'modalVideo'}, 
                {path: _appJsConfig.templatePath});")}} #}
    
    {# {% if _User.isGuest() %}
        {{this.registerJs("var popup = new Acme.registerPopUp('register_popup');")}}
    {% endif %} #}

    {{ this.endBody() }}


</body>

{{ this.endPage() }}

</html>