{% set articleCount = 0 %}



<section class="row">
    <div class="col-sm-12 section-header u-mobile-no-padding">
        <a href="{{link}}">       
            <h2 class="pro-main__header">{{ title }}</h2>
        </a>
    </div>

    <div class="col-sm-12">
        {% if articles[articleCount] %}
            {{this.render('../_single-article.twig', {
                article: articles[articleCount], 
                imageSize: {width:414, height:255},
                site: site,
                containerClass: 'card-rec card-rec-tablet card-sm-mobile u-margin-bottom-30 u-mobile-no-margin-bottom u-mobile-no-border-bottom'
            }) | raw}}
            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
        {% endif %}


    </div>

    {% set borderOptions = ["pro-main__border",""] %}
    {% set mobBorders = [' u-mobile-no-border-bottom',''] %}      
    {% for i in 0..1 if articles[articleCount] %}
        <div class="col-sm-6 col-xs-12 {{borderOptions[i]}}">
        {{this.render('../_single-article.twig', {
            article: articles[articleCount], 
            imageSize: {width:300, height:160},
            site: site,
            containerClass: 'card-pro-follow card-pro-follow-tablet  card-sm-mobile u-no-margin-bottom' ~ mobBorders[i]
        }) | raw}}
        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
        
        </div>
    {% endfor %}
</section>