{% set articleCount = 0 %}

<section class="row">
    <div class="col-sm-12 section-header u-mobile-no-padding">
        <a href="{{link}}">       
            <h2 class="pro-main__header">{{ title }}</h2>
        </a>
    </div>

    <hr class="divide15 visible-xs-block">

    <div class="col-sm-12 u-mobile-no-padding">
        {% if articles[articleCount] %}
            {{this.render('../_single-article.twig', {
                article: articles[articleCount], 
                imageSize: {width:414, height:255},
                site: site,
                containerClass: 'card-rec card-rec-tablet card-pro-follow-mobile u-margin-bottom-30 u-mobile-no-margin-bottom'
            }) | raw}}
            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
        {% endif %}


    </div>
        
    {% for i in 0..2 if articles[articleCount] %}
        <div class="col-md-4 col-sm-4 u-mobile-no-padding">
        {{this.render('../_single-article.twig', {
            article: articles[articleCount], 
            imageSize: {width:300, height:160},
            site: site,
            containerClass: 'card-sm card-sm-tablet card-pro-follow-mobile u-no-margin-bottom'
        }) | raw}}
        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
        
        </div>
    {% endfor %}

    <div class="col-sm-12 u-margin-top-30">
        
        {% if articles|length >= 4 %}
                {{ this.render('../ajaxarticles_new.twig', {
                    name            : "section-load",
                    limit           : 3,
                    offset          : 4,
                    blogguid        : blogguid,
                    label           : "+ Load more",
                    imgwidth        : "300",
                    imgheight       : "160",
                    non_pinned      : articlesArr.existingNonPinnedCount, 
                    container       : "mainAjaxArticles" ~ blogid,
                    card_class      : "col-sm-4 card-sm card-sm-tablet card-sm-mobile u-margin-bottom-30",
                    buttonClass     : "pro-main__loadmore j-pro-loadmore" 
                }) | raw }}
            {% endif %}
        <div class="pro-main__loadless hidden j-pro-loadless" data-loadcont="j-pro-loadmore-{{blogid}}">- SHOW LESS</div>
    </div>
</section>

{# <script>
    // main script is defered so event listener makes sure
    // defered script is loaded before this runs
    document.addEventListener("DOMContentLoaded", function() {
        jQuery( function() {
            Acme.loadMore = new Acme.View.articleFeed(Acme.cards, {{limit}}, {{firstCount}}, false, null, null, "mainAjaxArticles" + {{blogid}});
        });
    });
</script> #}