{% set articleCount = 0 %}



<section class="row">
    <div class="col-sm-12 section-header u-mobile-no-padding">
        <a href="{{link}}">       
            <h2 class="pro-main__header">{{ title }}</h2>
        </a>
    </div>

    <hr class="divide15 d-block d-sm-none">

    <div class="col-sm-12 u-mobile-no-padding">
        {% if articles[articleCount] %}
            {{this.render('../_single-article.twig', {
                article: articles[articleCount], 
                imageSize: {width:414, height:255},
                site: site,
                containerClass: 'card-rec-inverted-desktop card-rec-inverted-desktop-lg card-rec-inverted-tablet card-pro-follow-mobile u-margin-bottom-30 u-mobile-no-margin-bottom'
            }) | raw}}
            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
        {% endif %}


    </div>

    {% set borderOptions = ["pro-main__border",""] %}
        
    {% for i in 0..1 if articles[articleCount] %}
        <div class="col-md-6 {{borderOptions[i]}} u-mobile-no-padding">
        {{this.render('../_single-article.twig', {
            article: articles[articleCount], 
            imageSize: {width:300, height:160},
            site: site,
            containerClass: 'card-pro-follow card-pro-follow-tablet card-pro-follow-mobile'
        }) | raw}}
        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
        
        </div>
    {% endfor %}

    <div class="col-sm-12 u-margin-top-30">
        
        {% if articles|length >= 3 %}
                {{ this.render('../ajaxarticles_new.twig', {
                    name            : "section-load",
                    limit           : 6,
                    offset          : 3,
                    blogguid        : blogguid,
                    label           : "+ Load more",
                    imgwidth        : "300",
                    imgheight       : "160",
                    non_pinned      : articlesArr.existingNonPinnedCount, 
                    container       : "mainAjaxArticles" ~ blogid,
                    card_class      : "col-md-4 card-sm card-sm-tablet  card-pro-follow-mobile u-margin-bottom-30 u-mobile-margin-bottom-15 u-mobile-no-padding",
                    buttonClass     : "pro-main__loadmore j-pro-loadmore" 
                }) | raw }}
            {% endif %}
        <div class="pro-main__loadless u-hide j-pro-loadless" data-loadcont="j-pro-loadmore-{{blogid}}">- SHOW LESS</div>
    </div>
</section>