{% set articleCount = 0 %}



<section class="row">
    <div class="col-sm-12 section-header">
        <a class="{{site}}" href="{{link}}">       
            <h2>{{ title }}</h2>
        </a>
    </div>

    <div class="col-sm-12">
        {% if articles[articleCount] %}
            {{this.render('../_single-article.twig', {
                article: articles[articleCount], 
                imageSize: {width:414, height:255},
                site: site,
                containerClass: 'card-rec u-margin-bottom-30'
            }) | raw}}
            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
        {% endif %}


    </div>
        
    {% for i in 0..2 if articles[articleCount] %}
        <div class="col-md-4 col-sm-4 col-xs-12">
        {{this.render('../_single-article.twig', {
            article: articles[articleCount], 
            imageSize: {width:300, height:160},
            site: site,
            containerClass: 'card-sm card-sm-tablet card-sm-mobile'
        }) | raw}}
        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
        {% if i == 1 %}
            <div class="row visible-xs-block">
                <hr class="divide">
            </div>
        {% else %}
            <hr class="divide">
        {% endif %}
        </div>
    {% endfor %}
</section>