{% set articleCount = 0 %}



<section class="row">
    <div class="col-sm-12 section-header u-mobile-no-padding">
        <a href="{{link}}">       
            <h2 class="pro-main__header u-mobile-margin-bottom-10">{{ title }}</h2>
        </a>
    </div>

    <hr class="divide15 visible-xs-block">
        
    {% for i in 0..2 if articles[articleCount] %}
        <div class="col-md-4 col-sm-4 u-mobile-no-padding">
        {{this.render('../_single-article.twig', {
            article: articles[articleCount], 
            imageSize: {width:300, height:160},
            site: site,
            containerClass: 'card-sm card-sm-tablet card-pro-follow-mobile-wide u-no-margin-bottom'
        }) | raw}}
        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
        
        </div>
    {% endfor %}

    
    <div class="col-sm-12 u-margin-top-30">
        
        {% if articles|length >= 3 %}
                {{ this.render('../ajaxarticles_new.twig', {
                    name            : "section-load",
                    limit           : 3,
                    offset          : 3,
                    blogguid        : blogguid,
                    label           : "+ Load more",
                    imgwidth        : "300",
                    imgheight       : "160",
                    non_pinned      : articlesArr.existingNonPinnedCount, 
                    container       : "mainAjaxArticles" ~ blogid,
                    card_class      : "col-sm-4 card-sm card-sm-tablet card-pro-follow-mobile u-margin-bottom-30",
                    buttonClass     : "pro-main__loadmore j-pro-loadmore" 
                }) | raw }}
            {% endif %}
        <div class="pro-main__loadless hidden j-pro-loadless" data-loadcont="j-pro-loadmore-{{blogid}}">- SHOW LESS</div>
    </div>
</section>